/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:host {
    --spectrum-icon-inline-size: var(--mod-icon-inline-size, var(--mod-icon-size, var(--spectrum-icon-size)));
    --spectrum-icon-block-size: var(--mod-icon-block-size, var(--mod-icon-size, var(--spectrum-icon-size)));
    inline-size: var(--spectrum-icon-inline-size);
    block-size: var(--spectrum-icon-block-size);
    color: inherit;
    color: var(--mod-icon-color, inherit);
    fill: currentColor;
    pointer-events: none;
    display: inline-block;
}

@media (forced-colors: active) {
    :host {
        forced-color-adjust: auto;
    }
}

:host {
    --spectrum-icon-size: var(--spectrum-workflow-icon-size-100);
}

:host([size="xxs"]) {
    --spectrum-icon-size: var(--spectrum-workflow-icon-size-xxs);
}

:host([size="xs"]) {
    --spectrum-icon-size: var(--spectrum-workflow-icon-size-50);
}

:host([size="s"]) {
    --spectrum-icon-size: var(--spectrum-workflow-icon-size-75);
}

:host([size="l"]) {
    --spectrum-icon-size: var(--spectrum-workflow-icon-size-200);
}

:host([size="xl"]) {
    --spectrum-icon-size: var(--spectrum-workflow-icon-size-300);
}

:host([size="xxl"]) {
    --spectrum-icon-size: var(--spectrum-workflow-icon-size-xxl);
}
