/*
Copyright 2018 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/
@import './spectrum-dropzone.css';

/* 
 * Host is inline-block by default which caused all the computed styling to be wrong.
 * We need it as a block 
 */
:host {
    display: block;

    --spectrum-dropzone-illustration-color: var(
        --spectrum-global-color-static-blue-400
    );
}

/* 
 * IllustratedMessage in spectrum-css has a rule that sets the illustration 
 * color to (--spectrum-global-color-gray-500) instead of a unique 
 * component variable. 
 *
 * Color declaration at this level will not get inherited by the illustration
 * and will be overridden by the gray variable. 
 * 
 * This is a temporary workaround
 */

:host([dragged]) ::slotted(*) {
    --spectrum-global-color-gray-500: var(
        --spectrum-dropzone-illustration-color
    );
}
