/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import url("./spectrum-color-slider.css");

:host {
    --sp-color-slider-gradient-fallback: rgb(255 0 0) 0%, rgb(255 255 0) 17%, rgb(0 255 0) 33%, rgb(0 255 255) 50%, rgb(0 0 255) 67%, rgb(255 0 255) 83%, rgb(255 0 0) 100%;

    touch-action: none;
}

:host([vertical]) .handle {
    inset-block-start: unset;
    inset-block-end: 0;
}

:host([vertical]) .slider {
    /* stylelint-disable-next-line declaration-property-value-no-unknown -- known experimental property */
    appearance: slider-vertical;
}

:host(:focus) {
    outline: none;
}

.gradient {
    overflow: hidden;
}

::slotted(*) {
    width: 100%;
    height: 100%;
}
