/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:host {
    --spectrum-tag-background-color: var(--system-tag-background-color);
    --spectrum-tag-background-color-hover: var(--system-tag-background-color-hover);
    --spectrum-tag-background-color-active: var(--system-tag-background-color-active);
    --spectrum-tag-background-color-focus: var(--system-tag-background-color-focus);
    --spectrum-tag-size-small-corner-radius: var(--system-tag-size-small-corner-radius);
    --spectrum-tag-size-medium-corner-radius: var(--system-tag-size-medium-corner-radius);
    --spectrum-tag-size-large-corner-radius: var(--system-tag-size-large-corner-radius);
    --spectrum-tag-border-color: var(--system-tag-border-color);
    --spectrum-tag-border-color-hover: var(--system-tag-border-color-hover);
    --spectrum-tag-border-color-active: var(--system-tag-border-color-active);
    --spectrum-tag-border-color-focus: var(--system-tag-border-color-focus);
    --spectrum-tag-content-color: var(--system-tag-content-color);
    --spectrum-tag-content-color-hover: var(--system-tag-content-color-hover);
    --spectrum-tag-content-color-active: var(--system-tag-content-color-active);
    --spectrum-tag-content-color-focus: var(--system-tag-content-color-focus);
    --spectrum-tag-content-color-selected: var(--system-tag-content-color-selected);
    --spectrum-tag-border-color-selected: var(--system-tag-border-color-selected);
    --spectrum-tag-border-color-selected-hover: var(--system-tag-border-color-selected-hover);
    --spectrum-tag-border-color-selected-active: var(--system-tag-border-color-selected-active);
    --spectrum-tag-border-color-selected-focus: var(--system-tag-border-color-selected-focus);
    --spectrum-tag-border-color-disabled: var(--system-tag-border-color-disabled);
    --spectrum-tag-background-color-disabled: var(--system-tag-background-color-disabled);
    --spectrum-tag-size-small-spacing-inline-start: var(--system-tag-size-small-spacing-inline-start);
    --spectrum-tag-size-small-label-spacing-inline-end: var(--system-tag-size-small-label-spacing-inline-end);
    --spectrum-tag-size-small-clear-button-spacing-inline-end: var(--system-tag-size-small-clear-button-spacing-inline-end);
    --spectrum-tag-size-medium-spacing-inline-start: var(--system-tag-size-medium-spacing-inline-start);
    --spectrum-tag-size-medium-label-spacing-inline-end: var(--system-tag-size-medium-label-spacing-inline-end);
    --spectrum-tag-size-medium-clear-button-spacing-inline-end: var(--system-tag-size-medium-clear-button-spacing-inline-end);
    --spectrum-tag-size-large-spacing-inline-start: var(--system-tag-size-large-spacing-inline-start);
    --spectrum-tag-size-large-label-spacing-inline-end: var(--system-tag-size-large-label-spacing-inline-end);
    --spectrum-tag-size-large-clear-button-spacing-inline-end: var(--system-tag-size-large-clear-button-spacing-inline-end);
}
