/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import url("./spectrum-tag.css");
@import url("./tag-overrides.css");

:host([invalid]) .clear-button {
    --spectrum-clearbutton-medium-icon-color: var(--spectrum-tag-icon-color-error-key-focus, var(--spectrum-red-600));
    --spectrum-clearbutton-medium-icon-color-hover: var(--spectrum-clearbutton-medium-icon-color);
    --spectrum-clearbutton-medium-icon-color-down: var(--spectrum-tag-deletable-icon-color-error-down, var(--spectrum-red-700));
}

:host([invalid]):hover .clear-button {
    --spectrum-clearbutton-medium-icon-color: var(--spectrum-tag-icon-color-error-hover, var(--spectrum-red-600));
    --spectrum-clearbutton-medium-icon-color-hover: var(--spectrum-clearbutton-medium-icon-color);
    --spectrum-clearbutton-medium-icon-color-down: var(--spectrum-tag-deletable-icon-color-error-down, var(--spectrum-red-700));
}

:host([invalid]:is(:active, [active])) .clear-button {
    --spectrum-clearbutton-medium-icon-color: var(--spectrum-tag-icon-color-error-hover, var(--spectrum-red-600));
    --spectrum-clearbutton-medium-icon-color-hover: var(--spectrum-clearbutton-medium-icon-color);
    --spectrum-clearbutton-medium-icon-color-down: var(--spectrum-tag-deletable-icon-color-error-down, var(--spectrum-red-700));
}

:host([size="xs"]) {
    --spectrum-icon-size: var(--spectrum-workflow-icon-size-50);
}

:host([size="s"]) {
    --spectrum-icon-size: var(--spectrum-workflow-icon-size-75);
}

:host([size="m"]) {
    --spectrum-icon-size: var(--spectrum-workflow-icon-size-100);
}

:host([size="l"]) {
    --spectrum-icon-size: var(--spectrum-workflow-icon-size-200);
}

:host([size="xl"]) {
    --spectrum-icon-size: var(--spectrum-workflow-icon-size-300);
}

:host([size="xxl"]) {
    --spectrum-icon-size: var(--spectrum-workflow-icon-size-400);
}
