/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:host([size="l"]) {
    --spectrum-swatch-size: var(--system-swatch-size-l-size);
    --spectrum-swatch-disabled-icon-size: var(--system-swatch-size-l-disabled-icon-size);
    --spectrum-swatch-slash-thickness: var(--system-swatch-size-l-slash-thickness);
}

:host([size="s"]) {
    --spectrum-swatch-size: var(--system-swatch-size-s-size);
    --spectrum-swatch-disabled-icon-size: var(--system-swatch-size-s-disabled-icon-size);
    --spectrum-swatch-slash-thickness: var(--system-swatch-size-s-slash-thickness);
}

:host([size="xs"]) {
    --spectrum-swatch-size: var(--system-swatch-size-xs-size);
    --spectrum-swatch-disabled-icon-size: var(--system-swatch-size-xs-disabled-icon-size);
    --spectrum-swatch-slash-thickness: var(--system-swatch-size-xs-slash-thickness);
}

:host {
    --spectrum-swatch-size: var(--system-swatch-size-m-size);
    --spectrum-swatch-disabled-icon-size: var(--system-swatch-size-m-disabled-icon-size);
    --spectrum-swatch-slash-thickness: var(--system-swatch-size-m-slash-thickness);
}

:host {
    --spectrum-swatch-border-radius: var(--system-swatch-border-radius);
    --spectrum-swatch-focus-indicator-border-radius: var(--system-swatch-focus-indicator-border-radius);
    --spectrum-swatch-border-thickness: var(--system-swatch-border-thickness);
    --spectrum-swatch-border-thickness-selected: var(--system-swatch-border-thickness-selected);
    --spectrum-swatch-focus-indicator-thickness: var(--system-swatch-focus-indicator-thickness);
    --spectrum-swatch-focus-indicator-gap: var(--system-swatch-focus-indicator-gap);
    --spectrum-swatch-border-color-opacity: var(--system-swatch-border-color-opacity);
    --spectrum-swatch-border-color-light-opacity: var(--system-swatch-border-color-light-opacity);
    --spectrum-swatch-border-color: var(--system-swatch-border-color);
    --spectrum-swatch-icon-border-color: var(--system-swatch-icon-border-color);
    --spectrum-swatch-border-color-light: var(--system-swatch-border-color-light);
    --spectrum-swatch-border-color-selected: var(--system-swatch-border-color-selected);
    --spectrum-swatch-inner-border-color-selected: var(--system-swatch-inner-border-color-selected);
    --spectrum-swatch-disabled-icon-color: var(--system-swatch-disabled-icon-color);
    --spectrum-swatch-dash-icon-color: var(--system-swatch-dash-icon-color);
    --spectrum-swatch-slash-icon-color: var(--system-swatch-slash-icon-color);
    --spectrum-swatch-focus-indicator-color: var(--system-swatch-focus-indicator-color);
    --spectrum-swatch-size: var(--system-swatch-size);
    --spectrum-swatch-disabled-icon-size: var(--system-swatch-disabled-icon-size);
    --spectrum-swatch-slash-thickness: var(--system-swatch-slash-thickness);
}
