/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:host {
    --spectrum-progressbar-animation-ease-in-out-indeterminate: var(--system-progress-bar-animation-ease-in-out-indeterminate);
    --spectrum-progressbar-animation-duration-indeterminate: var(--system-progress-bar-animation-duration-indeterminate);
    --spectrum-progressbar-corner-radius: var(--system-progress-bar-corner-radius);
    --spectrum-progressbar-fill-size-indeterminate: var(--system-progress-bar-fill-size-indeterminate);
    --spectrum-progressbar-size-2400: var(--system-progress-bar-size-2400);
    --spectrum-progressbar-size-2500: var(--system-progress-bar-size-2500);
    --spectrum-progressbar-size-2800: var(--system-progress-bar-size-2800);
    --spectrum-progressbar-line-height-cjk: var(--system-progress-bar-line-height-cjk);
    --spectrum-progressbar-min-size: var(--system-progress-bar-min-size);
    --spectrum-progressbar-max-size: var(--system-progress-bar-max-size);
    --spectrum-progressbar-line-height: var(--system-progress-bar-line-height);
    --spectrum-progressbar-spacing-label-to-progressbar: var(--system-progress-bar-spacing-label-to);
    --spectrum-progressbar-spacing-label-to-text: var(--system-progress-bar-spacing-label-to-text);
    --spectrum-progressbar-text-color: var(--system-progress-bar-text-color);
    --spectrum-progressbar-track-color: var(--system-progress-bar-track-color);
    --spectrum-progressbar-fill-color: var(--system-progress-bar-fill-color);
    --spectrum-progressbar-label-and-value-white: var(--system-progress-bar-label-and-value-white);
    --spectrum-progressbar-track-color-white: var(--system-progress-bar-track-color-white);
    --spectrum-progressbar-fill-color-white: var(--system-progress-bar-fill-color-white);
    --spectrum-progressbar-size-default: var(--system-progress-bar-size-default);
    --spectrum-progressbar-font-size: var(--system-progress-bar-font-size);
    --spectrum-progressbar-thickness: var(--system-progress-bar-thickness);
    --spectrum-progressbar-spacing-top-to-text: var(--system-progress-bar-spacing-top-to-text);
}

.spectrum-ProgressBar--sizeM {
    --spectrum-progressbar-size-default: var(--system-progress-bar-size-m-size-default);
    --spectrum-progressbar-font-size: var(--system-progress-bar-size-m-font-size);
    --spectrum-progressbar-thickness: var(--system-progress-bar-size-m-thickness);
    --spectrum-progressbar-spacing-top-to-text: var(--system-progress-bar-size-m-spacing-top-to-text);
}

.spectrum-ProgressBar--sizeS {
    --spectrum-progressbar-size-default: var(--system-progress-bar-size-s-size-default);
    --spectrum-progressbar-font-size: var(--system-progress-bar-size-s-font-size);
    --spectrum-progressbar-thickness: var(--system-progress-bar-size-s-thickness);
    --spectrum-progressbar-spacing-top-to-text: var(--system-progress-bar-size-s-spacing-top-to-text);
}

.spectrum-ProgressBar--sizeL {
    --spectrum-progressbar-size-default: var(--system-progress-bar-size-l-size-default);
    --spectrum-progressbar-font-size: var(--system-progress-bar-size-l-font-size);
    --spectrum-progressbar-thickness: var(--system-progress-bar-size-l-thickness);
    --spectrum-progressbar-spacing-top-to-text: var(--system-progress-bar-size-l-spacing-top-to-text);
}

.spectrum-ProgressBar--sizeXL {
    --spectrum-progressbar-size-default: var(--system-progress-bar-size-xl-size-default);
    --spectrum-progressbar-font-size: var(--system-progress-bar-size-xl-font-size);
    --spectrum-progressbar-thickness: var(--system-progress-bar-size-xl-thickness);
    --spectrum-progressbar-spacing-top-to-text: var(--system-progress-bar-size-xl-spacing-top-to-text);
}
