# Logging / private config
yarn-error.log
build-storybook.log
.DS_STORE
.DS_Store
.chrome
.firefox
.tsbuildinfo
.rush
.devcontainer
tach-results.*
.gitconfig
.env

# Include the cursor guides in the repo
!.cursor

# Ignore the local-specific cursor config
.cursor/mcp.json

# Documentation
documentation/components/searchIndex.json
documentation/api-docs
documentation/dist
searchIndex.json

# Dependency folders
coverage
lib

# Build artifacts
custom-elements.json
packages/*/custom-elements.json
tools/*/custom-elements.json
react

# Not included in the repo
!packages/icons-workflow/bin/build.js
!packages/icons-workflow/src/DefaultIcon.ts

# Generated assets
packages/*/src/**/*.css.js
packages/**/*.js
packages/**/*.js.map
packages/**/*.d.ts
packages/**/*.test-vrt.ts
packages/**/*.css.ts
projects/**/*.css.ts
projects/**/*.js
projects/**/*.js.map
projects/**/*.d.ts
tools/**/*.css.ts
tools/*/src/**/*.css.js
tools/**/*.js
tools/**/*.js.map
tools/**/*.d.ts
tools/**/*.test-vrt.ts

# Include manual typescript declarations
!packages/*/test/global.d.ts
!packages/*/global.d.ts
!packages/*/local.d.ts
!projects/*/global.d.ts
!tools/*/test/global.d.ts
!tools/*/global.d.ts
!tools/*/local.d.ts
!tools/base/src/version.d.ts
!test/global.d.ts

# Keep the version file
!tools/base/src/version.js

# Cache directories
.wireit
.eslintcache
.stylelintcache

# Generated reporting outputes
stats.html
*.tsbuildinfo

# Test assets
TESTS.xml
test-results.xml
test/benchmark/cli.cjs
test/visual/review/
test/visual/screenshots-baseline/
test/visual/screenshots-actual/
test/visual/screenshots-current/
test/visual/src/data.json
test/**/*.js
test/**/*.js.map
test/**/*.d.ts
test/visual/test.js
test-results

# Keep the visual files in history
!test/visual/**/*.js

# npm assets
node_modules
npm-debug.log
package-lock.json

# Chromatic logging outputs
chromatic.log
chromatic-build-*.xml
chromatic-diagnostics*.json
chromatic.config.json

# Build tooling assets
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/version
