# logging / private config
yarn-error.log
.DS_STORE
.DS_Store
.chrome
.firefox
.tsbuildinfo
.rush
.devcontainer
tach-results.*
.gitconfig
.netlify/plugins

.wireit

# npm assets
node_modules
npm-debug.log
package-lock.json

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions