:root {
  --spectrum-accordion-border-color: rgb(225, 225, 225);
  --spectrum-accordion-icon-color: rgb(142, 142, 142);
  --spectrum-accordion-text-color: rgb(110, 110, 110);
  --spectrum-accordion-icon-color-hover: rgb(75, 75, 75);
  --spectrum-accordion-text-color-hover: rgb(44, 44, 44);
  --spectrum-accordion-background-color-hover: rgb(234, 234, 234);
  --spectrum-accordion-icon-color-down: rgb(75, 75, 75);
  --spectrum-accordion-text-color-down: rgb(44, 44, 44);
  --spectrum-accordion-border-left-color-key-focus: rgb(38, 128, 235);
  --spectrum-accordion-item-border-left-color-key-focus: rgb(38, 128, 235);
  --spectrum-accordion-icon-color-key-focus: rgb(75, 75, 75);
  --spectrum-accordion-text-color-key-focus: rgb(44, 44, 44);
  --spectrum-accordion-icon-color-disabled: rgb(202, 202, 202);
  --spectrum-accordion-text-color-disabled: rgb(179, 179, 179);
}
