:root {
  --spectrum-calendar-day-text-color: rgb(75, 75, 75);
  --spectrum-calendar-day-background-color: rgba(0, 0, 0, 0);
  --spectrum-calendar-day-today-text-color: rgb(75, 75, 75);
  --spectrum-calendar-day-today-border-color: rgb(75, 75, 75);
  --spectrum-calendar-day-title-text-color: rgb(110, 110, 110);
  --spectrum-calendar-day-text-color-hover: rgb(44, 44, 44);
  --spectrum-calendar-day-background-color-hover: rgba(44,44,44,0.06);
  --spectrum-calendar-day-background-color-down: rgba(44,44,44,0.1);
  --spectrum-calendar-day-text-color-selected: rgb(44, 44, 44);
  --spectrum-calendar-day-background-color-selected: rgba(20,115,230,0.1);
  --spectrum-calendar-day-text-color-cap-selected: rgb(44, 44, 44);
  --spectrum-calendar-day-background-color-cap-selected: rgba(20,115,230,0.2);
  --spectrum-calendar-day-text-color-key-focus: rgb(44, 44, 44);
  --spectrum-calendar-day-background-color-key-focus: rgba(44,44,44,0.06);
  --spectrum-calendar-day-today-background-color-key-focus: rgb(44, 44, 44);
  --spectrum-calendar-day-border-color-key-focus: rgb(38, 128, 235);
  --spectrum-calendar-day-text-color-selected-hover: rgb(44, 44, 44);
  --spectrum-calendar-day-background-color-selected-hover: rgba(20,115,230,0.2);
  --spectrum-calendar-day-today-background-color-selected-hover: rgba(20,115,230,0.2);
  --spectrum-calendar-day-text-color-disabled: rgb(179, 179, 179);
  --spectrum-calendar-day-background-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-calendar-day-today-text-color-disabled: rgb(179, 179, 179);
  --spectrum-calendar-day-today-border-color-disabled: rgb(202, 202, 202);
  --spectrum-calendar-button-icon-color: rgb(110, 110, 110);
}
