:root {
  --spectrum-card-border-color: rgb(234, 234, 234);
  --spectrum-card-border-color-key-focus: rgb(38, 128, 235);
  --spectrum-card-border-color-hover: rgb(202, 202, 202);
  --spectrum-card-coverphoto-background-color: rgb(234, 234, 234);
  --spectrum-card-coverphoto-border-color: rgb(234, 234, 234);
  --spectrum-card-description-text-color: rgb(110, 110, 110);
  --spectrum-card-background-color: rgb(255, 255, 255);
  --spectrum-card-quiet-preview-background-color: rgb(234, 234, 234);
  --spectrum-card-quiet-preview-background-color-hover: rgb(225, 225, 225);
  --spectrum-card-quiet-border-color-selected: rgb(20, 115, 230);
  --spectrum-card-quiet-title-text-color: rgb(75, 75, 75);
  --spectrum-card-quiet-subtitle-text-color: rgb(110, 110, 110);
}
