:root {
  --spectrum-display-1-text-color: rgb(44, 44, 44);
  --spectrum-display-2-text-color: rgb(44, 44, 44);
  --spectrum-display-article-1-text-color: rgb(44, 44, 44);
  --spectrum-display-article-1-emphasis-text-color: rgb(44, 44, 44);
  --spectrum-display-article-1-strong-text-color: rgb(44, 44, 44);
  --spectrum-display-article-2-text-color: rgb(44, 44, 44);
  --spectrum-display-article-2-emphasis-text-color: rgb(44, 44, 44);
  --spectrum-display-article-2-strong-text-color: rgb(44, 44, 44);
  --spectrum-display-quiet-article-1-text-color: rgb(44, 44, 44);
  --spectrum-display-quiet-article-1-emphasis-text-color: rgb(44, 44, 44);
  --spectrum-display-quiet-article-1-strong-text-color: rgb(44, 44, 44);
  --spectrum-display-quiet-article-2-text-color: rgb(44, 44, 44);
  --spectrum-display-quiet-article-2-emphasis-text-color: rgb(44, 44, 44);
  --spectrum-display-quiet-article-2-strong-text-color: rgb(44, 44, 44);
  --spectrum-display-1-emphasis-text-color: rgb(44, 44, 44);
  --spectrum-display-1-strong-text-color: rgb(44, 44, 44);
  --spectrum-display-2-emphasis-text-color: rgb(44, 44, 44);
  --spectrum-display-2-strong-text-color: rgb(44, 44, 44);
  --spectrum-display-quiet-1-text-color: rgb(44, 44, 44);
  --spectrum-display-quiet-1-emphasis-text-color: rgb(44, 44, 44);
  --spectrum-display-quiet-1-strong-text-color: rgb(44, 44, 44);
  --spectrum-display-quiet-2-text-color: rgb(44, 44, 44);
  --spectrum-display-quiet-2-emphasis-text-color: rgb(44, 44, 44);
  --spectrum-display-quiet-2-strong-text-color: rgb(44, 44, 44);
  --spectrum-display-strong-1-text-color: rgb(44, 44, 44);
  --spectrum-display-strong-1-emphasis-text-color: rgb(44, 44, 44);
  --spectrum-display-strong-1-strong-text-color: rgb(44, 44, 44);
  --spectrum-display-strong-2-text-color: rgb(44, 44, 44);
  --spectrum-display-strong-2-emphasis-text-color: rgb(44, 44, 44);
  --spectrum-display-strong-2-strong-text-color: rgb(44, 44, 44);
  --spectrum-display-han-1-text-color: rgb(44, 44, 44);
  --spectrum-display-han-1-emphasis-text-color: rgb(44, 44, 44);
  --spectrum-display-han-1-strong-text-color: rgb(44, 44, 44);
  --spectrum-display-han-2-text-color: rgb(44, 44, 44);
  --spectrum-display-han-2-emphasis-text-color: rgb(44, 44, 44);
  --spectrum-display-han-2-strong-text-color: rgb(44, 44, 44);
  --spectrum-display-quiet-han-1-text-color: rgb(44, 44, 44);
  --spectrum-display-quiet-han-1-emphasis-text-color: rgb(44, 44, 44);
  --spectrum-display-quiet-han-1-strong-text-color: rgb(44, 44, 44);
  --spectrum-display-quiet-han-2-text-color: rgb(44, 44, 44);
  --spectrum-display-quiet-han-2-emphasis-text-color: rgb(44, 44, 44);
  --spectrum-display-quiet-han-2-strong-text-color: rgb(44, 44, 44);
  --spectrum-display-strong-han-1-text-color: rgb(44, 44, 44);
  --spectrum-display-strong-han-1-emphasis-text-color: rgb(44, 44, 44);
  --spectrum-display-strong-han-1-strong-text-color: rgb(44, 44, 44);
  --spectrum-display-strong-han-2-text-color: rgb(44, 44, 44);
  --spectrum-display-strong-han-2-emphasis-text-color: rgb(44, 44, 44);
  --spectrum-display-strong-han-2-strong-text-color: rgb(44, 44, 44);
}
