:root {
  --spectrum-dragbar-handle-background-color: rgb(225, 225, 225);
  --spectrum-dragbar-handle-background-color-hover: rgb(202, 202, 202);
  --spectrum-dragbar-handle-background-color-down: rgb(75, 75, 75);
}
