:root {
  --spectrum-fieldbutton-placeholder-text-color: rgb(142, 142, 142);
  --spectrum-fieldbutton-text-color: rgb(75, 75, 75);
  --spectrum-fieldbutton-background-color: rgb(250, 250, 250);
  --spectrum-fieldbutton-border-color: rgb(225, 225, 225);
  --spectrum-fieldbutton-icon-color: rgb(110, 110, 110);
  --spectrum-fieldbutton-placeholder-text-color-hover: rgb(44, 44, 44);
  --spectrum-fieldbutton-text-color-hover: rgb(44, 44, 44);
  --spectrum-fieldbutton-background-color-hover: rgb(255, 255, 255);
  --spectrum-fieldbutton-border-color-hover: rgb(202, 202, 202);
  --spectrum-fieldbutton-icon-color-hover: rgb(44, 44, 44);
  --spectrum-fieldbutton-placeholder-text-color-key-focus: rgb(44, 44, 44);
  --spectrum-fieldbutton-text-color-key-focus: rgb(44, 44, 44);
  --spectrum-fieldbutton-background-color-key-focus: rgb(255, 255, 255);
  --spectrum-fieldbutton-border-color-key-focus: rgb(38, 128, 235);
  --spectrum-fieldbutton-icon-color-key-focus: rgb(44, 44, 44);
  --spectrum-fieldbutton-placeholder-text-color-disabled: rgb(179, 179, 179);
  --spectrum-fieldbutton-text-color-disabled: rgb(179, 179, 179);
  --spectrum-fieldbutton-background-color-disabled: rgb(234, 234, 234);
  --spectrum-fieldbutton-border-color-disabled: rgb(234, 234, 234);
  --spectrum-fieldbutton-icon-color-disabled: rgb(202, 202, 202);
  --spectrum-fieldbutton-validation-icon-color-disabled: rgb(179, 179, 179);
  --spectrum-fieldbutton-text-color-down: rgb(44, 44, 44);
  --spectrum-fieldbutton-background-color-down: rgb(234, 234, 234);
  --spectrum-fieldbutton-border-color-down: rgb(202, 202, 202);
  --spectrum-fieldbutton-icon-color-down: rgb(44, 44, 44);
  --spectrum-fieldbutton-placeholder-text-color-down: rgb(44, 44, 44);
  --spectrum-fieldbutton-text-color-mouse-focus: rgb(44, 44, 44);
  --spectrum-fieldbutton-background-color-mouse-focus: rgb(234, 234, 234);
  --spectrum-fieldbutton-border-color-mouse-focus: rgb(202, 202, 202);
  --spectrum-fieldbutton-icon-color-mouse-focus: rgb(44, 44, 44);
  --spectrum-fieldbutton-placeholder-text-color-mouse-focus: rgb(44, 44, 44);
  --spectrum-fieldbutton-border-color-error: rgb(215, 55, 63);
  --spectrum-fieldbutton-validation-icon-color-error: rgb(201, 37, 45);
  --spectrum-fieldbutton-border-color-error-hover: rgb(201, 37, 45);
  --spectrum-fieldbutton-validation-icon-color-error-hover: rgb(201, 37, 45);
  --spectrum-fieldbutton-border-color-error-down: rgb(201, 37, 45);
  --spectrum-fieldbutton-validation-icon-color-error-down: rgb(201, 37, 45);
  --spectrum-fieldbutton-border-color-error-key-focus: rgb(38, 128, 235);
  --spectrum-fieldbutton-validation-icon-color-error-key-focus: rgb(201, 37, 45);
  --spectrum-fieldbutton-border-color-error-mouse-focus: rgb(215, 55, 63);
  --spectrum-fieldbutton-validation-icon-color-error-mouse-focus: rgb(201, 37, 45);
  --spectrum-fieldbutton-quiet-placeholder-text-color: rgb(142, 142, 142);
  --spectrum-fieldbutton-quiet-text-color: rgb(75, 75, 75);
  --spectrum-fieldbutton-quiet-background-color: rgba(0, 0, 0, 0);
  --spectrum-fieldbutton-quiet-border-color: rgba(0, 0, 0, 0);
  --spectrum-fieldbutton-quiet-icon-color: rgb(110, 110, 110);
  --spectrum-fieldbutton-quiet-placeholder-text-color-hover: rgb(44, 44, 44);
  --spectrum-fieldbutton-quiet-text-color-hover: rgb(44, 44, 44);
  --spectrum-fieldbutton-quiet-background-color-hover: rgba(0, 0, 0, 0);
  --spectrum-fieldbutton-quiet-border-color-hover: rgba(0, 0, 0, 0);
  --spectrum-fieldbutton-quiet-icon-color-hover: rgb(44, 44, 44);
  --spectrum-fieldbutton-quiet-placeholder-text-color-key-focus: rgb(44, 44, 44);
  --spectrum-fieldbutton-quiet-text-color-key-focus: rgb(44, 44, 44);
  --spectrum-fieldbutton-quiet-background-color-key-focus: rgba(0, 0, 0, 0);
  --spectrum-fieldbutton-quiet-border-color-key-focus: rgb(38, 128, 235);
  --spectrum-fieldbutton-quiet-icon-color-key-focus: rgb(44, 44, 44);
  --spectrum-fieldbutton-quiet-placeholder-text-color-disabled: rgb(179, 179, 179);
  --spectrum-fieldbutton-quiet-text-color-disabled: rgb(179, 179, 179);
  --spectrum-fieldbutton-quiet-background-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-fieldbutton-quiet-border-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-fieldbutton-quiet-icon-color-disabled: rgb(202, 202, 202);
  --spectrum-fieldbutton-quiet-validation-icon-color-disabled: rgb(179, 179, 179);
  --spectrum-fieldbutton-quiet-text-color-down: rgb(44, 44, 44);
  --spectrum-fieldbutton-quiet-background-color-down: rgba(0, 0, 0, 0);
  --spectrum-fieldbutton-quiet-border-color-down: rgba(0, 0, 0, 0);
  --spectrum-fieldbutton-quiet-icon-color-down: rgb(44, 44, 44);
  --spectrum-fieldbutton-quiet-placeholder-text-color-down: rgb(44, 44, 44);
  --spectrum-fieldbutton-quiet-text-color-mouse-focus: rgb(44, 44, 44);
  --spectrum-fieldbutton-quiet-background-color-mouse-focus: rgba(0, 0, 0, 0);
  --spectrum-fieldbutton-quiet-border-color-mouse-focus: rgb(202, 202, 202);
  --spectrum-fieldbutton-quiet-icon-color-mouse-focus: rgb(44, 44, 44);
  --spectrum-fieldbutton-quiet-placeholder-text-color-mouse-focus: rgb(44, 44, 44);
  --spectrum-fieldbutton-quiet-border-color-error: rgb(215, 55, 63);
  --spectrum-fieldbutton-quiet-validation-icon-color-error: rgb(201, 37, 45);
  --spectrum-fieldbutton-quiet-border-color-error-hover: rgb(201, 37, 45);
  --spectrum-fieldbutton-quiet-validation-icon-color-error-hover: rgb(201, 37, 45);
  --spectrum-fieldbutton-quiet-border-color-error-down: rgb(201, 37, 45);
  --spectrum-fieldbutton-quiet-validation-icon-color-error-down: rgb(201, 37, 45);
  --spectrum-fieldbutton-quiet-border-color-error-key-focus: rgb(38, 128, 235);
  --spectrum-fieldbutton-quiet-validation-icon-color-error-key-focus: rgb(201, 37, 45);
  --spectrum-fieldbutton-quiet-border-color-error-mouse-focus: rgb(215, 55, 63);
  --spectrum-fieldbutton-quiet-validation-icon-color-error-mouse-focus: rgb(201, 37, 45);
}
