:root {
  --spectrum-label-colored-gray-background-color: rgb(116, 116, 116);
  --spectrum-label-colored-green-background-color: rgb(38, 142, 108);
  --spectrum-label-colored-blue-background-color: rgb(20, 115, 230);
  --spectrum-label-colored-red-background-color: rgb(215, 55, 63);
  --spectrum-label-colored-seafoam-background-color: rgb(27, 149, 154);
  --spectrum-label-colored-fuchsia-background-color: rgb(192, 56, 204);
  --spectrum-label-colored-orange-background-color: rgb(218, 123, 17);
  --spectrum-label-colored-yellow-background-color: rgb(223, 191, 0);
  --spectrum-label-colored-text-color: rgb(255, 255, 255);
  --spectrum-label-colored-background-color-disabled: rgb(234, 234, 234);
  --spectrum-label-text-color: rgb(110, 110, 110);
  --spectrum-label-text-color-disabled: rgb(179, 179, 179);
  --spectrum-label-over-background-text-color: rgb(255, 255, 255);
  --spectrum-label-over-background-text-color-disabled: rgb(255, 255, 255);
  --spectrum-label-large-text-color: rgb(110, 110, 110);
  --spectrum-label-large-text-color-disabled: rgb(179, 179, 179);
  --spectrum-label-large-over-background-text-color: rgb(255, 255, 255);
  --spectrum-label-large-over-background-text-color-disabled: rgb(255, 255, 255);
}
