:root {
  --spectrum-pagination-page-button-background-color-hover: rgba(44,44,44,0.04);
  --spectrum-pagination-page-button-border-color-key-focus: rgb(38, 128, 235);
  --spectrum-pagination-page-button-background-color-down: rgb(75, 75, 75);
  --spectrum-pagination-page-button-text-color-down: rgb(255, 255, 255);
}
