:root {
  --spectrum-rail-content-background-color: rgb(245, 245, 245);
  --spectrum-rail-handle-background-color: rgb(225, 225, 225);
  --spectrum-rail-handle-background-color-hover: rgb(202, 202, 202);
  --spectrum-rail-handle-background-color-down: rgb(75, 75, 75);
}
