:root {
  --spectrum-scrollbar-bar-color: rgb(202, 202, 202);
  --spectrum-scrollbar-track-color: rgb(234, 234, 234);
  --spectrum-scrollbar-bar-color-hover: rgb(142, 142, 142);
  --spectrum-scrollbar-track-color-hover: rgb(234, 234, 234);
  --spectrum-scrollbar-bar-color-down: rgb(142, 142, 142);
  --spectrum-scrollbar-track-color-down: rgb(234, 234, 234);
  --spectrum-scrollbar-quiet-bar-color-quiet: rgb(202, 202, 202);
  --spectrum-scrollbar-quiet-track-color-quiet: rgba(0, 0, 0, 0);
  --spectrum-scrollbar-quiet-bar-color-hover: rgb(142, 142, 142);
  --spectrum-scrollbar-quiet-track-color-hover: rgba(0, 0, 0, 0);
  --spectrum-scrollbar-quiet-bar-color-down: rgb(142, 142, 142);
  --spectrum-scrollbar-quiet-track-color-down: rgba(0, 0, 0, 0);
}
