:root {
  --spectrum-sidenav-item-background-color: rgba(0, 0, 0, 0);
  --spectrum-sidenav-item-text-color: rgb(75, 75, 75);
  --spectrum-sidenav-header-text-color: rgb(110, 110, 110);
  --spectrum-sidenav-heading-text-color: rgb(110, 110, 110);
  --spectrum-sidenav-item-background-color-hover: rgba(44,44,44,0.06);
  --spectrum-sidenav-item-text-color-hover: rgb(44, 44, 44);
  --spectrum-sidenav-item-background-color-key-focus: rgba(44,44,44,0.06);
  --spectrum-sidenav-item-text-color-key-focus: rgb(44, 44, 44);
  --spectrum-sidenav-item-border-color-key-focus: rgb(38, 128, 235);
  --spectrum-sidenav-item-background-color-down: rgba(44,44,44,0.06);
  --spectrum-sidenav-item-text-color-down: rgb(44, 44, 44);
  --spectrum-sidenav-item-background-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-sidenav-item-text-color-disabled: rgb(179, 179, 179);
  --spectrum-sidenav-item-background-color-selected: rgba(44,44,44,0.06);
  --spectrum-sidenav-item-text-color-selected: rgb(44, 44, 44);
  --spectrum-sidenav-item-background-color-selected-hover: rgba(44,44,44,0.06);
  --spectrum-sidenav-item-text-color-selected-hover: rgb(44, 44, 44);
  --spectrum-sidenav-item-background-color-selected-down: rgba(44,44,44,0.06);
  --spectrum-sidenav-item-text-color-selected-down: rgb(44, 44, 44);
  --spectrum-sidenav-item-background-color-selected-key-focus: rgba(44,44,44,0.06);
  --spectrum-sidenav-item-border-color-selected-key-focus: rgb(38, 128, 235);
  --spectrum-sidenav-item-text-color-selected-key-focus: rgb(44, 44, 44);
  --spectrum-sidenav-multilevel-item-background-color: rgba(0, 0, 0, 0);
  --spectrum-sidenav-multilevel-item-text-color: rgb(75, 75, 75);
  --spectrum-sidenav-multilevel-header-text-color: rgb(110, 110, 110);
  --spectrum-sidenav-multilevel-heading-text-color: rgb(110, 110, 110);
  --spectrum-sidenav-multilevel-main-item-background-color: rgba(0, 0, 0, 0);
  --spectrum-sidenav-multilevel-main-item-text-color: rgb(75, 75, 75);
  --spectrum-sidenav-multilevel-item-background-color-hover: rgba(44,44,44,0.06);
  --spectrum-sidenav-multilevel-item-text-color-hover: rgb(44, 44, 44);
  --spectrum-sidenav-multilevel-main-item-background-color-hover: rgba(44,44,44,0.06);
  --spectrum-sidenav-multilevel-main-item-text-color-hover: rgb(44, 44, 44);
  --spectrum-sidenav-multilevel-item-background-color-key-focus: rgba(44,44,44,0.06);
  --spectrum-sidenav-multilevel-item-text-color-key-focus: rgb(44, 44, 44);
  --spectrum-sidenav-multilevel-item-border-color-key-focus: rgb(38, 128, 235);
  --spectrum-sidenav-multilevel-main-item-background-color-key-focus: rgba(44,44,44,0.06);
  --spectrum-sidenav-multilevel-main-item-text-color-key-focus: rgb(44, 44, 44);
  --spectrum-sidenav-multilevel-main-item-border-color-key-focus: rgb(38, 128, 235);
  --spectrum-sidenav-multilevel-item-background-color-down: rgba(44,44,44,0.06);
  --spectrum-sidenav-multilevel-item-text-color-down: rgb(44, 44, 44);
  --spectrum-sidenav-multilevel-main-item-background-color-down: rgba(44,44,44,0.06);
  --spectrum-sidenav-multilevel-main-item-text-color-down: rgb(44, 44, 44);
  --spectrum-sidenav-multilevel-item-background-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-sidenav-multilevel-item-text-color-disabled: rgb(179, 179, 179);
  --spectrum-sidenav-multilevel-main-item-background-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-sidenav-multilevel-main-item-text-color-disabled: rgb(179, 179, 179);
  --spectrum-sidenav-multilevel-item-background-color-selected: rgba(44,44,44,0.06);
  --spectrum-sidenav-multilevel-item-text-color-selected: rgb(44, 44, 44);
  --spectrum-sidenav-multilevel-main-item-background-color-selected: rgba(0, 0, 0, 0);
  --spectrum-sidenav-multilevel-main-item-text-color-selected: rgb(44, 44, 44);
  --spectrum-sidenav-multilevel-item-background-color-selected-hover: rgba(44,44,44,0.06);
  --spectrum-sidenav-multilevel-item-text-color-selected-hover: rgb(44, 44, 44);
  --spectrum-sidenav-multilevel-main-item-background-color-selected-hover: rgba(44,44,44,0.06);
  --spectrum-sidenav-multilevel-main-item-text-color-selected-hover: rgb(44, 44, 44);
  --spectrum-sidenav-multilevel-item-background-color-selected-down: rgba(44,44,44,0.06);
  --spectrum-sidenav-multilevel-item-text-color-selected-down: rgb(44, 44, 44);
  --spectrum-sidenav-multilevel-main-item-background-color-selected-down: rgba(44,44,44,0.06);
  --spectrum-sidenav-multilevel-main-item-text-color-selected-down: rgb(44, 44, 44);
  --spectrum-sidenav-multilevel-item-background-color-selected-key-focus: rgba(44,44,44,0.06);
  --spectrum-sidenav-multilevel-item-border-color-selected-key-focus: rgb(38, 128, 235);
  --spectrum-sidenav-multilevel-item-text-color-selected-key-focus: rgb(44, 44, 44);
  --spectrum-sidenav-multilevel-main-item-background-color-selected-key-focus: rgba(44,44,44,0.06);
  --spectrum-sidenav-multilevel-main-item-border-color-selected-key-focus: rgb(38, 128, 235);
  --spectrum-sidenav-multilevel-main-item-text-color-selected-key-focus: rgb(44, 44, 44);
}
