:root {
  --spectrum-statuslight-text-color: rgb(75, 75, 75);
  --spectrum-statuslight-text-color-disabled: rgb(179, 179, 179);
  --spectrum-statuslight-dot-color-disabled: rgb(202, 202, 202);
  --spectrum-statuslight-dot-color-label-celery: rgb(68, 181, 86);
  --spectrum-statuslight-dot-color-label-chartreuse: rgb(133, 208, 68);
  --spectrum-statuslight-dot-color-label-yellow: rgb(223, 191, 0);
  --spectrum-statuslight-dot-color-label-magenta: rgb(216, 55, 144);
  --spectrum-statuslight-dot-color-label-fuchsia: rgb(192, 56, 204);
  --spectrum-statuslight-dot-color-label-purple: rgb(146, 86, 217);
  --spectrum-statuslight-dot-color-label-indigo: rgb(103, 103, 236);
  --spectrum-statuslight-dot-color-label-seafoam: rgb(27, 149, 154);
  --spectrum-statuslight-info-text-color: rgb(75, 75, 75);
  --spectrum-statuslight-info-text-color-disabled: rgb(179, 179, 179);
  --spectrum-statuslight-info-dot-color-disabled: rgb(202, 202, 202);
  --spectrum-statuslight-info-dot-color: rgb(38, 128, 235);
  --spectrum-statuslight-negative-text-color: rgb(75, 75, 75);
  --spectrum-statuslight-negative-text-color-disabled: rgb(179, 179, 179);
  --spectrum-statuslight-negative-dot-color-disabled: rgb(202, 202, 202);
  --spectrum-statuslight-negative-dot-color: rgb(227, 72, 80);
  --spectrum-statuslight-neutral-text-color: rgb(110, 110, 110);
  --spectrum-statuslight-neutral-text-color-disabled: rgb(179, 179, 179);
  --spectrum-statuslight-neutral-dot-color-disabled: rgb(202, 202, 202);
  --spectrum-statuslight-neutral-dot-color: rgb(179, 179, 179);
  --spectrum-statuslight-notice-text-color: rgb(75, 75, 75);
  --spectrum-statuslight-notice-text-color-disabled: rgb(179, 179, 179);
  --spectrum-statuslight-notice-dot-color-disabled: rgb(202, 202, 202);
  --spectrum-statuslight-notice-dot-color: rgb(230, 134, 25);
  --spectrum-statuslight-positive-text-color: rgb(75, 75, 75);
  --spectrum-statuslight-positive-text-color-disabled: rgb(179, 179, 179);
  --spectrum-statuslight-positive-dot-color-disabled: rgb(202, 202, 202);
  --spectrum-statuslight-positive-dot-color: rgb(45, 157, 120);
}
