:root {
  --spectrum-steplist-complete-marker-color: rgb(142, 142, 142);
  --spectrum-steplist-complete-segment-color: rgb(179, 179, 179);
  --spectrum-steplist-complete-label-text-color: rgb(110, 110, 110);
  --spectrum-steplist-complete-marker-color-hover: rgb(110, 110, 110);
  --spectrum-steplist-complete-marker-color-key-focus: rgb(38, 128, 235);
  --spectrum-steplist-current-marker-color: rgb(75, 75, 75);
  --spectrum-steplist-current-label-text-color: rgb(75, 75, 75);
  --spectrum-steplist-current-marker-color-key-focus: rgb(38, 128, 235);
  --spectrum-steplist-incomplete-marker-color: rgb(225, 225, 225);
  --spectrum-steplist-incomplete-segment-color: rgb(225, 225, 225);
  --spectrum-steplist-incomplete-label-text-color: rgb(142, 142, 142);
  --spectrum-steplist-incomplete-marker-color-hover: rgb(110, 110, 110);
}
