:root {
  --spectrum-subheading-article-text-color: rgb(44, 44, 44);
  --spectrum-subheading-article-emphasis-text-color: rgb(44, 44, 44);
  --spectrum-subheading-article-strong-text-color: rgb(44, 44, 44);
  --spectrum-subheading-text-color: rgb(44, 44, 44);
  --spectrum-subheading-emphasis-text-color: rgb(44, 44, 44);
  --spectrum-subheading-strong-text-color: rgb(44, 44, 44);
  --spectrum-subheading-han-text-color: rgb(44, 44, 44);
  --spectrum-subheading-han-emphasis-text-color: rgb(44, 44, 44);
  --spectrum-subheading-han-strong-text-color: rgb(44, 44, 44);
}
