:root {
  --spectrum-tabs-compact-text-color: rgb(110, 110, 110);
  --spectrum-tabs-compact-icon-color: rgb(110, 110, 110);
  --spectrum-tabs-compact-selection-indicator-color: rgb(44, 44, 44);
  --spectrum-tabs-compact-focus-ring-color: rgb(38, 128, 235);
  --spectrum-tabs-compact-rule-color: rgba(0, 0, 0, 0);
  --spectrum-tabs-compact-text-color-hover: rgb(44, 44, 44);
  --spectrum-tabs-compact-icon-color-hover: rgb(44, 44, 44);
  --spectrum-tabs-compact-text-color-down: rgb(44, 44, 44);
  --spectrum-tabs-compact-icon-color-down: rgb(44, 44, 44);
  --spectrum-tabs-compact-text-color-key-focus: rgb(44, 44, 44);
  --spectrum-tabs-compact-icon-color-key-focus: rgb(44, 44, 44);
  --spectrum-tabs-compact-text-color-mouse-focus: rgb(44, 44, 44);
  --spectrum-tabs-compact-text-color-disabled: rgb(179, 179, 179);
  --spectrum-tabs-compact-icon-color-disabled: rgb(202, 202, 202);
  --spectrum-tabs-compact-vertical-text-color: rgb(110, 110, 110);
  --spectrum-tabs-compact-vertical-icon-color: rgb(110, 110, 110);
  --spectrum-tabs-compact-vertical-selection-indicator-color: rgb(44, 44, 44);
  --spectrum-tabs-compact-vertical-focus-ring-color: rgb(38, 128, 235);
  --spectrum-tabs-compact-vertical-rule-color: rgba(0, 0, 0, 0);
  --spectrum-tabs-compact-vertical-text-color-hover: rgb(44, 44, 44);
  --spectrum-tabs-compact-vertical-icon-color-hover: rgb(44, 44, 44);
  --spectrum-tabs-compact-vertical-text-color-down: rgb(44, 44, 44);
  --spectrum-tabs-compact-vertical-icon-color-down: rgb(44, 44, 44);
  --spectrum-tabs-compact-vertical-text-color-key-focus: rgb(44, 44, 44);
  --spectrum-tabs-compact-vertical-icon-color-key-focus: rgb(44, 44, 44);
  --spectrum-tabs-compact-vertical-text-color-mouse-focus: rgb(44, 44, 44);
  --spectrum-tabs-compact-vertical-text-color-disabled: rgb(179, 179, 179);
  --spectrum-tabs-compact-vertical-icon-color-disabled: rgb(202, 202, 202);
  --spectrum-tabs-text-color: rgb(110, 110, 110);
  --spectrum-tabs-icon-color: rgb(110, 110, 110);
  --spectrum-tabs-selection-indicator-color: rgb(44, 44, 44);
  --spectrum-tabs-focus-ring-color: rgb(38, 128, 235);
  --spectrum-tabs-rule-color: rgb(234, 234, 234);
  --spectrum-tabs-text-color-hover: rgb(44, 44, 44);
  --spectrum-tabs-icon-color-hover: rgb(44, 44, 44);
  --spectrum-tabs-text-color-down: rgb(44, 44, 44);
  --spectrum-tabs-icon-color-down: rgb(44, 44, 44);
  --spectrum-tabs-text-color-key-focus: rgb(44, 44, 44);
  --spectrum-tabs-icon-color-key-focus: rgb(44, 44, 44);
  --spectrum-tabs-text-color-mouse-focus: rgb(44, 44, 44);
  --spectrum-tabs-text-color-disabled: rgb(179, 179, 179);
  --spectrum-tabs-icon-color-disabled: rgb(202, 202, 202);
  --spectrum-tabs-quiet-text-color: rgb(110, 110, 110);
  --spectrum-tabs-quiet-icon-color: rgb(110, 110, 110);
  --spectrum-tabs-quiet-selection-indicator-color: rgb(44, 44, 44);
  --spectrum-tabs-quiet-focus-ring-color: rgb(38, 128, 235);
  --spectrum-tabs-quiet-rule-color: rgba(0, 0, 0, 0);
  --spectrum-tabs-quiet-text-color-hover: rgb(44, 44, 44);
  --spectrum-tabs-quiet-icon-color-hover: rgb(44, 44, 44);
  --spectrum-tabs-quiet-text-color-down: rgb(44, 44, 44);
  --spectrum-tabs-quiet-icon-color-down: rgb(44, 44, 44);
  --spectrum-tabs-quiet-text-color-key-focus: rgb(44, 44, 44);
  --spectrum-tabs-quiet-icon-color-key-focus: rgb(44, 44, 44);
  --spectrum-tabs-quiet-text-color-mouse-focus: rgb(44, 44, 44);
  --spectrum-tabs-quiet-text-color-disabled: rgb(179, 179, 179);
  --spectrum-tabs-quiet-icon-color-disabled: rgb(202, 202, 202);
  --spectrum-tabs-quiet-compact-text-color: rgb(110, 110, 110);
  --spectrum-tabs-quiet-compact-icon-color: rgb(110, 110, 110);
  --spectrum-tabs-quiet-compact-selection-indicator-color: rgb(44, 44, 44);
  --spectrum-tabs-quiet-compact-focus-ring-color: rgb(38, 128, 235);
  --spectrum-tabs-quiet-compact-rule-color: rgba(0, 0, 0, 0);
  --spectrum-tabs-quiet-compact-text-color-hover: rgb(44, 44, 44);
  --spectrum-tabs-quiet-compact-icon-color-hover: rgb(44, 44, 44);
  --spectrum-tabs-quiet-compact-text-color-down: rgb(44, 44, 44);
  --spectrum-tabs-quiet-compact-icon-color-down: rgb(44, 44, 44);
  --spectrum-tabs-quiet-compact-text-color-key-focus: rgb(44, 44, 44);
  --spectrum-tabs-quiet-compact-icon-color-key-focus: rgb(44, 44, 44);
  --spectrum-tabs-quiet-compact-text-color-mouse-focus: rgb(44, 44, 44);
  --spectrum-tabs-quiet-compact-text-color-disabled: rgb(179, 179, 179);
  --spectrum-tabs-quiet-compact-icon-color-disabled: rgb(202, 202, 202);
  --spectrum-tabs-quiet-vertical-text-color: rgb(110, 110, 110);
  --spectrum-tabs-quiet-vertical-icon-color: rgb(110, 110, 110);
  --spectrum-tabs-quiet-vertical-selection-indicator-color: rgb(44, 44, 44);
  --spectrum-tabs-quiet-vertical-focus-ring-color: rgb(38, 128, 235);
  --spectrum-tabs-quiet-vertical-rule-color: rgba(0, 0, 0, 0);
  --spectrum-tabs-quiet-vertical-text-color-hover: rgb(44, 44, 44);
  --spectrum-tabs-quiet-vertical-icon-color-hover: rgb(44, 44, 44);
  --spectrum-tabs-quiet-vertical-text-color-down: rgb(44, 44, 44);
  --spectrum-tabs-quiet-vertical-icon-color-down: rgb(44, 44, 44);
  --spectrum-tabs-quiet-vertical-text-color-key-focus: rgb(44, 44, 44);
  --spectrum-tabs-quiet-vertical-icon-color-key-focus: rgb(44, 44, 44);
  --spectrum-tabs-quiet-vertical-text-color-mouse-focus: rgb(44, 44, 44);
  --spectrum-tabs-quiet-vertical-text-color-disabled: rgb(179, 179, 179);
  --spectrum-tabs-quiet-vertical-icon-color-disabled: rgb(202, 202, 202);
  --spectrum-tabs-vertical-text-color: rgb(110, 110, 110);
  --spectrum-tabs-vertical-icon-color: rgb(110, 110, 110);
  --spectrum-tabs-vertical-selection-indicator-color: rgb(44, 44, 44);
  --spectrum-tabs-vertical-focus-ring-color: rgb(38, 128, 235);
  --spectrum-tabs-vertical-rule-color: rgb(234, 234, 234);
  --spectrum-tabs-vertical-text-color-hover: rgb(44, 44, 44);
  --spectrum-tabs-vertical-icon-color-hover: rgb(44, 44, 44);
  --spectrum-tabs-vertical-text-color-down: rgb(44, 44, 44);
  --spectrum-tabs-vertical-icon-color-down: rgb(44, 44, 44);
  --spectrum-tabs-vertical-text-color-key-focus: rgb(44, 44, 44);
  --spectrum-tabs-vertical-icon-color-key-focus: rgb(44, 44, 44);
  --spectrum-tabs-vertical-text-color-mouse-focus: rgb(44, 44, 44);
  --spectrum-tabs-vertical-text-color-disabled: rgb(179, 179, 179);
  --spectrum-tabs-vertical-icon-color-disabled: rgb(202, 202, 202);
}
