:root {
  --spectrum-tag-background-color: rgb(250, 250, 250);
  --spectrum-tag-border-color: rgb(142, 142, 142);
  --spectrum-tag-text-color: rgb(110, 110, 110);
  --spectrum-tag-icon-color: rgb(142, 142, 142);
  --spectrum-tag-background-color-hover: rgb(250, 250, 250);
  --spectrum-tag-border-color-hover: rgb(44, 44, 44);
  --spectrum-tag-text-color-hover: rgb(44, 44, 44);
  --spectrum-tag-icon-color-hover: rgb(44, 44, 44);
  --spectrum-tag-background-color-down: rgb(250, 250, 250);
  --spectrum-tag-border-color-down: rgb(44, 44, 44);
  --spectrum-tag-text-color-down: rgb(44, 44, 44);
  --spectrum-tag-icon-color-down: rgb(44, 44, 44);
  --spectrum-tag-background-color-key-focus: rgb(250, 250, 250);
  --spectrum-tag-border-color-key-focus: rgb(38, 128, 235);
  --spectrum-tag-text-color-key-focus: rgb(44, 44, 44);
  --spectrum-tag-icon-color-key-focus: rgb(44, 44, 44);
  --spectrum-tag-background-color-disabled: rgb(234, 234, 234);
  --spectrum-tag-border-color-disabled: rgb(234, 234, 234);
  --spectrum-tag-text-color-disabled: rgb(179, 179, 179);
  --spectrum-tag-icon-color-disabled: rgb(179, 179, 179);
  --spectrum-tag-border-color-error: rgb(215, 55, 63);
  --spectrum-tag-icon-color-error: rgb(215, 55, 63);
  --spectrum-tag-text-color-error: rgb(110, 110, 110);
  --spectrum-tag-border-color-error-hover: rgb(201, 37, 45);
  --spectrum-tag-icon-color-error-hover: rgb(201, 37, 45);
  --spectrum-tag-text-color-error-hover: rgb(44, 44, 44);
  --spectrum-tag-icon-color-error-key-focus: rgb(201, 37, 45);
  --spectrum-tag-border-color-error-key-focus: rgb(38, 128, 235);
  --spectrum-tag-text-color-error-key-focus: rgb(44, 44, 44);
  --spectrum-tag-border-color-error-down: rgb(187, 18, 26);
  --spectrum-tag-icon-color-error-down: rgb(187, 18, 26);
  --spectrum-tag-text-color-error-down: rgb(44, 44, 44);
  --spectrum-tag-deletable-background-color: rgb(250, 250, 250);
  --spectrum-tag-deletable-border-color: rgb(142, 142, 142);
  --spectrum-tag-deletable-text-color: rgb(110, 110, 110);
  --spectrum-tag-deletable-icon-color: rgb(142, 142, 142);
  --spectrum-tag-deletable-background-color-hover: rgb(250, 250, 250);
  --spectrum-tag-deletable-border-color-hover: rgb(44, 44, 44);
  --spectrum-tag-deletable-text-color-hover: rgb(110, 110, 110);
  --spectrum-tag-deletable-icon-color-hover: rgb(44, 44, 44);
  --spectrum-tag-deletable-background-color-down: rgb(250, 250, 250);
  --spectrum-tag-deletable-border-color-down: rgb(44, 44, 44);
  --spectrum-tag-deletable-text-color-down: rgb(110, 110, 110);
  --spectrum-tag-deletable-icon-color-down: rgb(44, 44, 44);
  --spectrum-tag-deletable-background-color-key-focus: rgb(250, 250, 250);
  --spectrum-tag-deletable-border-color-key-focus: rgb(38, 128, 235);
  --spectrum-tag-deletable-text-color-key-focus: rgb(110, 110, 110);
  --spectrum-tag-deletable-icon-color-key-focus: rgb(44, 44, 44);
  --spectrum-tag-deletable-background-color-disabled: rgb(234, 234, 234);
  --spectrum-tag-deletable-border-color-disabled: rgb(234, 234, 234);
  --spectrum-tag-deletable-text-color-disabled: rgb(179, 179, 179);
  --spectrum-tag-deletable-icon-color-disabled: rgb(179, 179, 179);
  --spectrum-tag-deletable-border-color-error: rgb(215, 55, 63);
  --spectrum-tag-deletable-icon-color-error: rgb(215, 55, 63);
  --spectrum-tag-deletable-text-color-error: rgb(110, 110, 110);
  --spectrum-tag-deletable-border-color-error-hover: rgb(201, 37, 45);
  --spectrum-tag-deletable-icon-color-error-hover: rgb(201, 37, 45);
  --spectrum-tag-deletable-text-color-error-hover: rgb(110, 110, 110);
  --spectrum-tag-deletable-icon-color-error-key-focus: rgb(201, 37, 45);
  --spectrum-tag-deletable-border-color-error-key-focus: rgb(38, 128, 235);
  --spectrum-tag-deletable-text-color-error-key-focus: rgb(110, 110, 110);
  --spectrum-tag-deletable-border-color-error-down: rgb(187, 18, 26);
  --spectrum-tag-deletable-icon-color-error-down: rgb(187, 18, 26);
  --spectrum-tag-deletable-text-color-error-down: rgb(110, 110, 110);
}
