<!DOCTYPE html>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>dropzone - Spectrum Web Components</title>
        <script src="../dropzone.js" type="module"></script>
        <script
            src="../../illustrated-message/illustrated-message.js"
            type="module"
        ></script>
        <script src="../../link/link.js" type="module"></script>
        <script src="../../demo-page/index.js" type="module"></script>
        <link rel="stylesheet" href="../../../styles/core-global/all.css" />
        <link rel="stylesheet" href="../../../styles/typography/font.css" />
        <link
            rel="stylesheet"
            href="../../../styles/theme-light/components/dropzone.css"
        />
        <link
            rel="stylesheet"
            href="../../../styles/theme-light/components/illustrated-message.css"
        />
        <link
            rel="stylesheet"
            href="../../../styles/theme-light/components/link.css"
        />
        <link
            rel="stylesheet"
            href="../../../styles/scale-medium/components/dropzone.css"
        />
    </head>

    <body>
        <demo-page title="dropzone">
            <demo-section title="dropzone" show-demo-code>
                <div slot="description">The dropzone message component</div>
                <div slot="demo">
                    <spectrum-dropzone id="dropzone">
                        <illustrated-message heading="Drag and Drop Your File">
                            <svg><use xlink:href="geometry.svg#alert" /></svg>
                        </illustrated-message>

                        <div style="color: grey">
                            <div>
                                <label for="file-input">
                                    <spectrum-link
                                        description="Select a File"
                                    ></spectrum-link>
                                    from your computer
                                </label>
                                <input
                                    type="file"
                                    id="file-input"
                                    style="display: none"
                                />
                            </div>
                            <div>
                                or
                                <spectrum-link
                                    description="Search Adobe Stock"
                                ></spectrum-link>
                            </div>
                        </div>
                    </spectrum-dropzone>

                    <script>
                        const dropzone = document.getElementById('dropzone');
                        dropzone.addEventListener(
                            'dropzone-should-accept',
                            (ev) => {
                                var fileType = ev.detail.dataTransfer.items[0].type.split(
                                    '/'
                                )[0];
                                if (fileType != 'image') {
                                    ev.preventDefault();
                                }
                            }
                        );
                        dropzone.addEventListener('dropzone-drop', (ev) => {
                            // do something with ev.detail.dataTransfer
                            alert(
                                'Uploading : ' +
                                    ev.detail.dataTransfer.files[0].name
                            );
                        });
                    </script>
                </div>
            </demo-section>
        </demo-page>
    </body>
</html>
