<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Dropzone - Spectrum Web Components</title>
        <script src="../dropzone.js" type="module"></script>
        <script src="../../demo-page/index.js" type="module"></script>
        <link rel="stylesheet" href="../../../styles/core-global/all.css" />
        <link rel="stylesheet" href="../../../styles/typography/font.css" />
        <link
            rel="stylesheet"
            href="../../../styles/theme-light/components/dropzone.css"
        />
        <link
            rel="stylesheet"
            href="../../../styles/scale-medium/components/dropzone.css"
        />
    </head>

    <body>
        <demo-page title="Dropzone">
            <demo-section title="Dropzone" show-demo-code>
                <div slot="description">
                    The dropzone component
                </div>
                <div slot="demo">
                    <spectrum-dropzone>
                        <!-- <div slot="header">Most Popular</div> -->
                        <!-- <div slot="content">Includes Illustrator CC</div> -->
                    </spectrum-dropzone>
                </div>
            </demo-section>
        </demo-page>
    </body>
</html>
