/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:host {
    display: block;
}

.spectrum-StatusLight {
    --_swc-statuslight-top-to-text: var(
        --swc-statuslight-top-to-text,
        token('component-top-to-text-100')
    );
    --_swc-statuslight-bottom-to-text: var(
        --swc-statuslight-bottom-to-text,
        token('component-bottom-to-text-100')
    );
    --_swc-statuslight-top-to-dot: var(
        --swc-statuslight-top-to-dot,
        token('status-light-top-to-dot-medium')
    );
    --_swc-statuslight-text-to-visual: var(
        --swc-statuslight-text-to-visual,
        token('status-light-text-to-visual-100')
    );

    display: flex;
    gap: var(--_swc-statuslight-text-to-visual);
    align-items: flex-start;
    min-block-size: var(
        --swc-statuslight-height,
        token('component-height-100')
    );
    padding-block-start: var(--_swc-statuslight-top-to-text);
    padding-block-end: var(--_swc-statuslight-bottom-to-text);
    box-sizing: border-box;
    font-size: var(--swc-statuslight-font-size, token('font-size-100'));
    font-weight: token('regular-font-weight');
    font-family: token('sans-font-family-stack');
    font-style: token('default-font-style');
    line-height: token('line-height-100');
    color: var(
        --swc-statuslight-content-color,
        token('neutral-content-color-default')
    );

    &:lang(ja),
    &:lang(zh),
    &:lang(ko) {
        line-height: token('cjk-line-height-100');
    }

    /* Dot */
    &:before {
        --_swc-statuslight-dot-size: var(
            --swc-statuslight-dot-size,
            token('status-light-dot-size-medium')
        );

        content: '';
        box-sizing: border-box;
        flex-grow: 0;
        flex-shrink: 0;
        display: inline-block;
        inline-size: var(--_swc-statuslight-dot-size);
        block-size: var(--_swc-statuslight-dot-size);
        border-radius: token('corner-radius-full');
        background-color: var(--swc-statuslight-dot-color);
        margin-block-start: calc(
            var(--_swc-statuslight-top-to-dot) -
                var(--_swc-statuslight-top-to-text)
        );
    }
}

:host([size='s']) {
    --swc-statuslight-top-to-text: token('component-top-to-text-75');
    --swc-statuslight-bottom-to-text: token('component-bottom-to-text-75');
    --swc-statuslight-top-to-dot: token('status-light-top-to-dot-small');
    --swc-statuslight-text-to-visual: token('status-light-text-to-visual-75');
    --swc-statuslight-height: token('component-height-75');
    --swc-statuslight-dot-size: token('status-light-dot-size-small');
    --swc-statuslight-font-size: token('font-size-75');
}

:host([size='l']) {
    --swc-statuslight-top-to-text: token('component-top-to-text-200');
    --swc-statuslight-bottom-to-text: token('component-bottom-to-text-200');
    --swc-statuslight-top-to-dot: token('status-light-top-to-dot-large');
    --swc-statuslight-text-to-visual: token('status-light-text-to-visual-200');
    --swc-statuslight-height: token('component-height-200');
    --swc-statuslight-dot-size: token('status-light-dot-size-large');
    --swc-statuslight-font-size: token('font-size-200');
}

:host([size='xl']) {
    --swc-statuslight-top-to-text: token('component-top-to-text-300');
    --swc-statuslight-bottom-to-text: token('component-bottom-to-text-300');
    --swc-statuslight-top-to-dot: token('status-light-top-to-dot-extra-large');
    --swc-statuslight-text-to-visual: token('status-light-text-to-visual-300');
    --swc-statuslight-height: token('component-height-300');
    --swc-statuslight-dot-size: token('status-light-dot-size-extra-large');
    --swc-statuslight-font-size: token('font-size-300');
}

/* Semantic Colors */
:host([variant='neutral']) {
    --swc-statuslight-content-color: token('gray-600');
    --swc-statuslight-dot-color: token('neutral-visual-color');
}

:host([variant='info']) {
    --swc-statuslight-dot-color: token('informative-visual-color');
}

:host([variant='negative']) {
    --swc-statuslight-dot-color: token('negative-visual-color');
}

:host([variant='notice']) {
    --swc-statuslight-dot-color: token('notice-visual-color');
}

:host([variant='positive']) {
    --swc-statuslight-dot-color: token('positive-visual-color');
}

/* Non-Semantic Colors */
.spectrum-StatusLight--yellow {
    --swc-statuslight-dot-color: token('yellow-visual-color');
}

.spectrum-StatusLight--chartreuse {
    --swc-statuslight-dot-color: token('chartreuse-visual-color');
}

.spectrum-StatusLight--celery {
    --swc-statuslight-dot-color: token('celery-visual-color');
}

.spectrum-StatusLight--seafoam {
    --swc-statuslight-dot-color: token('seafoam-visual-color');
}

.spectrum-StatusLight--cyan {
    --swc-statuslight-dot-color: token('cyan-visual-color');
}

.spectrum-StatusLight--indigo {
    --swc-statuslight-dot-color: token('indigo-visual-color');
}

.spectrum-StatusLight--purple {
    --swc-statuslight-dot-color: token('purple-visual-color');
}

.spectrum-StatusLight--fuchsia {
    --swc-statuslight-dot-color: token('fuchsia-visual-color');
}

.spectrum-StatusLight--magenta {
    --swc-statuslight-dot-color: token('magenta-visual-color');
}

.spectrum-StatusLight--pink {
    --swc-statuslight-dot-color: token('pink-visual-color');
}

.spectrum-StatusLight--turquoise {
    --swc-statuslight-dot-color: token('turquoise-visual-color');
}

.spectrum-StatusLight--cinnamon {
    --swc-statuslight-dot-color: token('cinnamon-visual-color');
}

.spectrum-StatusLight--brown {
    --swc-statuslight-dot-color: token('brown-visual-color');
}

.spectrum-StatusLight--silver {
    --swc-statuslight-dot-color: token('silver-visual-color');
}

@media (forced-colors: active) {
    .spectrum-StatusLight {
        --swc-statuslight-content-color: CanvasText;

        forced-color-adjust: none;

        &:before {
            border: token('border-width-100') solid;
        }
    }
}
