/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:host {
    --spectrum-combobox-border-color-default: var(--system-combobox-border-color-default);
    --spectrum-combobox-border-color-hover: var(--system-combobox-border-color-hover);
    --spectrum-combobox-border-color-focus: var(--system-combobox-border-color-focus);
    --spectrum-combobox-border-color-focus-hover: var(--system-combobox-border-color-focus-hover);
    --spectrum-combobox-border-color-key-focus: var(--system-combobox-border-color-key-focus);
    --spectrum-combobox-readonly-input-border-color: var(--system-combobox-readonly-input-border-color);
    --spectrum-combobox-background-color-disabled: var(--system-combobox-background-color-disabled);
    --spectrum-combobox-border-color-disabled: var(--system-combobox-border-color-disabled);
}
