/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:host {
    display: block;
}

.spectrum-Divider {
    --_swc-divider-thickness: var(
        --swc-divider-thickness,
        token('divider-thickness-medium')
    );

    /* Show the overflow for hr in Edge and IE. */
    overflow: visible;
    border: none;
    border-width: var(--_swc-divider-thickness);
    border-radius: var(--_swc-divider-thickness);
    background-color: var(--swc-divider-background-color, token('gray-200'));
    block-size: var(--_swc-divider-thickness);
    inline-size: 100%;
}

.spectrum-Divider:not(.spectrum-Divider--vertical) {
    min-inline-size: token('divider-horizontal-minimum-width');
}

.spectrum-Divider--vertical {
    inline-size: var(--_swc-divider-thickness);
    min-block-size: token('divider-vertical-minimum-height');
    margin-block: 0;
    block-size: 100%;
    align-self: flex-start;
}

:host([size='s']) {
    --swc-divider-thickness: token('divider-thickness-small');
}

:host([size='l']) {
    --swc-divider-thickness: token('divider-thickness-large');
    --swc-divider-background-color: token('gray-800');
}

.spectrum-Divider--staticWhite {
    --swc-divider-background-color: token('transparent-white-200');
}

.spectrum-Divider--staticWhite:where(.spectrum-Divider--sizeL) {
    --swc-divider-background-color: token('transparent-white-800');
}

.spectrum-Divider--staticBlack {
    --swc-divider-background-color: token('transparent-black-200');
}

.spectrum-Divider--staticBlack:where(.spectrum-Divider--sizeL) {
    --swc-divider-background-color: token('transparent-black-800');
}

@media (forced-colors: active) {
    .spectrum-Divider {
        --swc-divider-background-color: CanvasText;
    }
}
