/*!
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* Base variables */
:host {
    --spectrum-card-background-color: var(--spectrum-background-layer-2-color);
    --spectrum-card-body-spacing: var(--spectrum-spacing-400);
    --spectrum-card-body-padding-block-start: var(--spectrum-spacing-300);
    --spectrum-card-title-padding-right: var(--spectrum-spacing-400);
    --spectrum-card-content-margin-top: var(--spectrum-spacing-100);
    --spectrum-card-content-margin-bottom: var(--spectrum-spacing-300);
    --spectrum-card-footer-padding-block-start: var(--spectrum-spacing-100);
    --spectrum-card-subtitle-padding-right: var(--spectrum-spacing-100);
    --spectrum-card-border-width: var(--spectrum-border-width-100);
    --spectrum-card-corner-radius: var(--spectrum-corner-radius-100);
    --spectrum-card-title-font-family: var(--spectrum-sans-font-family-stack);
    --spectrum-card-title-font-size: var(--spectrum-heading-size-xxs);
    --spectrum-card-title-font-weight: var(--spectrum-heading-sans-serif-font-weight);
    --spectrum-card-title-font-style: var(--spectrum-heading-sans-serif-font-style);
    --spectrum-card-title-line-height: var(--spectrum-heading-line-height);
    --spectrum-card-title-font-color: var(--spectrum-heading-color);
    --spectrum-card-body-font-family: var(--spectrum-sans-font-family-stack);
    --spectrum-card-body-font-size: var(--spectrum-body-size-s);
    --spectrum-card-body-font-weight: var(--spectrum-body-sans-serif-font-weight);
    --spectrum-card-body-font-style: var(--spectrum-body-sans-serif-font-style);
    --spectrum-card-body-line-height: var(--spectrum-body-line-height);
    --spectrum-card-body-font-color: var(--spectrum-body-color);
    --spectrum-card-actions-spacing: var(--spectrum-spacing-300);
    --spectrum-card-actions-size: var(--spectrum-card-selection-background-size);
    --spectrum-card-actions-border-radius: var(--spectrum-corner-radius-100);
    --spectrum-card-actions-background-color-rgb: var(--spectrum-gray-100-rgb);
    --spectrum-card-actions-background-color-opacity: var(--spectrum-card-selection-background-color-opacity);
    --spectrum-card-actions-drop-shadow-color: var(--spectrum-drop-shadow-color);
    --spectrum-card-actions-drop-shadow-x: var(--spectrum-drop-shadow-x);
    --spectrum-card-actions-drop-shadow-y: var(--spectrum-drop-shadow-y);
    --spectrum-card-actions-drop-shadow-blur: var(--spectrum-drop-shadow-blur);
    --spectrum-card-focus-indicator-color: var(--spectrum-focus-indicator-color);
    --spectrum-card-focus-indicator-width: var(--spectrum-focus-indicator-thickness);
    --spectrum-card-selected-background-opacity: 0.1;
    --spectrum-card-preview-border-width-selected: var(--spectrum-border-width-100);
    --spectrum-card-horizontal-body-padding: var(--spectrum-spacing-300);
    --spectrum-card-horizontal-preview-padding: var(--spectrum-spacing-200);
    --spectrum-card-minimum-width: var(--spectrum-card-minimum-width-quiet);
    --spectrum-card-border-color: var(--spectrum-blue-700);

    min-inline-size: var(--spectrum-card-minimum-width);
    border-width: var(--spectrum-card-border-width);
    border-style: solid;
    border-color: var(--spectrum-card-border-color);
    border-radius: var(--spectrum-card-corner-radius);
    background-color: var(--spectrum-card-background-color);
    position: relative;
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    vertical-align: top;
    text-decoration: none;
    user-select: none;
    touch-action: none;
    transition:
        border-color var(--spectrum-animation-duration-100) ease-in-out,
        box-shadow var(--spectrum-animation-duration-100) ease-in-out;
}

:host([selected]) {
    border-color: var(--highcontrast-card-border-color-selected);
    background-color: var(--highcontrast-card-background-color-selected);
}

:host([quiet]) {
}

.actions {
    position: absolute;
    inset-block-start: var(--spectrum-card-actions-spacing);
    inset-inline-end: var(--spectrum-card-actions-spacing);
    inline-size: var(--spectrum-card-actions-size);
    block-size: var(--spectrum-card-actions-size);
    border-radius: var(--spectrum-card-actions-border-radius);
    background-color: rgb(var(--spectrum-card-actions-background-color-rgb), var(--spectrum-card-actions-background-color-opacity));
    filter: drop-shadow(var(--spectrum-card-actions-drop-shadow-x) var(--spectrum-card-actions-drop-shadow-y) var(--spectrum-card-actions-drop-shadow-blur) var(--spectrum-card-actions-drop-shadow-color));
    opacity: 0;
    visibility: hidden;
    transform: translateY(8px);
    transition:
        transform var(--spectrum-animation-duration-100) ease-in-out,
        opacity var(--spectrum-animation-duration-100) ease-in-out,
        visibility 0s linear var(--spectrum-animation-duration-100);
}

.preview {
    block-size: var(--spectrum-card-preview-minimum-height);
    border-block-end-width: var(--spectrum-card-border-width);
    border-block-end-style: solid;
    background-color: var(--spectrum-card-preview-background-color);
    border-block-end-color: var(--spectrum-card-border-color);
    border-start-start-radius: calc(var(--spectrum-card-corner-radius) - var(--spectrum-card-border-width));
    border-start-end-radius: calc(var(--spectrum-card-corner-radius) - var(--spectrum-card-border-width));
    overflow: hidden;
}

.body {
    flex: 1;
    box-sizing: border-box;
    padding-block-start: var(--spectrum-card-body-padding-block-start);
    padding-block-end: calc(var(--spectrum-card-body-spacing) - var(--spectrum-card-border-width));
    padding-inline-start: calc(var(--spectrum-card-body-spacing) - var(--spectrum-card-border-width));
    padding-inline-end: calc(var(--spectrum-card-body-spacing) - var(--spectrum-card-border-width));
    min-block-size: 0;
}

.title {
    margin: 0;
    padding-inline-end: var(--spectrum-card-title-padding-right);
    font-family: var(--spectrum-card-title-font-family);
    font-size: var(--spectrum-card-title-font-size);
    font-weight: var(--spectrum-card-title-font-weight);
    font-style: var(--spectrum-card-title-font-style);
    line-height: var(--spectrum-card-title-line-height);
    color: var(--spectrum-card-title-font-color);
}

.content {
    margin-block-start: var(--spectrum-card-content-margin-top);
    margin-block-end: var(--spectrum-card-content-margin-bottom);
    font-family: var(--spectrum-card-body-font-family);
    font-size: var(--spectrum-card-body-font-size);
    font-weight: var(--spectrum-card-body-font-weight);
    font-style: var(--spectrum-card-body-font-style);
    line-height: var(--spectrum-card-body-line-height);
    color: var(--spectrum-card-body-font-color);
}

.footer {
    border-block-start: var(--spectrum-card-border-width) solid var(--spectrum-card-divider-color);
    margin-block-start: calc((var(--spectrum-card-body-spacing) - var(--spectrum-card-content-margin-bottom)) * -1);
    margin-inline-start: var(--spectrum-card-body-spacing);
    margin-inline-end: var(--spectrum-card-body-spacing);
    padding-block-start: var(--spectrum-card-footer-padding-block-start);
    padding-block-end: calc(var(--spectrum-card-body-spacing) - var(--spectrum-card-border-width));
}

:host([horizontal]) {
    flex-direction: row;
}

:host([horizontal]) .preview {
    border-block-end: none;
    border-inline-end: var(--spectrum-card-border-width) solid var(--spectrum-card-border-color);
    border-start-end-radius: 0;
    border-end-start-radius: calc(var(--spectrum-card-corner-radius) - var(--spectrum-card-border-width));

    padding: var(--spectrum-card-horizontal-preview-padding);
}

:host([horizontal]) .body {
    padding: var(--spectrum-card-horizontal-body-padding);
}

:host(:hover) {
    border-color: transparent;
}

:host(:hover) .preview {
    background-color: var(--spectrum-card-preview-background-color);
}

:host(:hover) .actions {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition:
        transform var(--spectrum-animation-duration-100) ease-in-out,
        opacity var(--spectrum-animation-duration-100) ease-in-out,
        visibility 0s linear;
}

:host(:focus-visible) {
    outline: none;
}

:host(:focus-visible)::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: var(--spectrum-card-corner-radius);
    border: var(--spectrum-card-focus-indicator-width) solid var(--spectrum-card-focus-indicator-color);
}
