/*
Copyright 2020 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import './spectrum-card.css';

/* The description slot has a psuedo-element that also needs to receive the font styling. 
We need to add the declaration to the slot as well */
slot[name='description'] {
    font-size: var(
        --spectrum-card-subtitle-text-size,
        var(--spectrum-global-dimension-font-size-50)
    );
}

#preview,
#cover-photo {
    overflow: hidden;
}

#preview ::slotted(*),
#cover-photo ::slotted(*) {
    width: 100%;
    display: block;

    /* Since we're using <img> tags instead of background-image for the cover photo,
    we need an additional object-fit property to preserve the aspect ratio of the image
    In spectrum-css, background-size is used */
    object-fit: cover;
}

:host(:not([variant='gallery'])) #preview ::slotted(*) {
    height: 100%;
}

:host([horizontal]) #preview {
    width: auto;
}

sp-quick-actions {
    z-index: 1;
}

/**
 * Allow that the heading element will take specified use of the available width whether 
 * "actions" are supplied to the element or not.
 **/
.heading {
    width: var(--spectrum-card-title-width);

    /* Appliction of typography "classes" */
    font-family: var(
        --spectrum-heading-m-text-font-family,
        var(--spectrum-alias-body-text-font-family)
    );
    font-weight: var(
        --spectrum-heading-m-text-font-weight,
        var(--spectrum-alias-heading-text-font-weight-regular)
    );
    line-height: var(
        --spectrum-heading-xs-text-line-height,
        var(--spectrum-alias-heading-text-line-height)
    );
    font-style: var(
        --spectrum-heading-xs-text-font-style,
        var(--spectrum-global-font-style-regular)
    );
    font-size: var(
        --spectrum-heading-xs-text-size,
        var(--spectrum-alias-heading-xs-text-size)
    );
    letter-spacing: var(
        --spectrum-heading-xs-text-letter-spacing,
        var(--spectrum-global-font-letter-spacing-none)
    );
    color: var(
        --spectrum-heading-xs-text-color,
        var(--spectrum-alias-heading-text-color)
    );
    text-transform: var(--spectrum-heading-xs-text-transform, none);
    margin-top: 0;
    margin-bottom: 0;
}

.subtitle {
    font-family: var(
        --spectrum-heading-m-text-font-family,
        var(--spectrum-alias-body-text-font-family)
    );
    font-size: var(
        --spectrum-detail-s-text-size,
        var(--spectrum-global-dimension-font-size-50)
    );
    font-weight: var(
        --spectrum-detail-s-text-font-weight,
        var(--spectrum-alias-detail-text-font-weight)
    );
    line-height: var(
        --spectrum-detail-s-text-line-height,
        var(--spectrum-alias-body-text-line-height)
    );
    font-style: var(
        --spectrum-detail-s-text-font-style,
        var(--spectrum-global-font-style-regular)
    );
    letter-spacing: var(
        --spectrum-detail-s-text-letter-spacing,
        var(--spectrum-global-font-letter-spacing-medium)
    );
    text-transform: var(--spectrum-detail-s-text-transform, uppercase);
    margin-top: 0;
    margin-bottom: 0;
}

.subtitle {
    /* Override until https://github.com/adobe/spectrum-css/issues/1054 is fixed */
    text-transform: none;
}
