/*
Copyright 2018 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

:root,
:host {
    --spectrum-button-cta-height: 32px;
    --spectrum-button-cta-padding-x: 16px;
    --spectrum-button-cta-border-radius: 16px;
    --spectrum-button-cta-border-size: 2px;
    --spectrum-button-cta-text-font-weight: 700;
    --spectrum-button-cta-text-gap: 8px;
    --spectrum-button-cta-text-size: 15px;
    --spectrum-button-cta-text-baseline: 11px;
    --spectrum-button-cta-min-width: 72px;
    --spectrum-button-cta-touch-hit-x: 8px;
    --spectrum-button-cta-touch-hit-y: 8px;
    --spectrum-button-cta-border-size-increase-key-focus: 1px;
    --spectrum-button-over-background-height: 32px;
    --spectrum-button-over-background-padding-x: 16px;
    --spectrum-button-over-background-border-radius: 16px;
    --spectrum-button-over-background-border-size: 2px;
    --spectrum-button-over-background-text-font-weight: 700;
    --spectrum-button-over-background-text-gap: 8px;
    --spectrum-button-over-background-text-size: 15px;
    --spectrum-button-over-background-text-baseline: 11px;
    --spectrum-button-over-background-min-width: 72px;
    --spectrum-button-over-background-touch-hit-x: 8px;
    --spectrum-button-over-background-touch-hit-y: 8px;
    --spectrum-button-over-background-border-size-increase-key-focus: 1px;
    --spectrum-button-primary-height: 32px;
    --spectrum-button-primary-padding-x: 16px;
    --spectrum-button-primary-border-radius: 16px;
    --spectrum-button-primary-border-size: 2px;
    --spectrum-button-primary-text-font-weight: 700;
    --spectrum-button-primary-text-gap: 8px;
    --spectrum-button-primary-text-size: 15px;
    --spectrum-button-primary-text-baseline: 11px;
    --spectrum-button-primary-min-width: 72px;
    --spectrum-button-primary-touch-hit-x: 8px;
    --spectrum-button-primary-touch-hit-y: 8px;
    --spectrum-button-primary-border-size-increase-key-focus: 1px;
    --spectrum-button-quiet-over-background-height: 32px;
    --spectrum-button-quiet-over-background-padding-x: 16px;
    --spectrum-button-quiet-over-background-border-radius: 16px;
    --spectrum-button-quiet-over-background-border-size: 0;
    --spectrum-button-quiet-over-background-text-font-weight: 700;
    --spectrum-button-quiet-over-background-text-gap: 8px;
    --spectrum-button-quiet-over-background-text-size: 15px;
    --spectrum-button-quiet-over-background-text-baseline: 11px;
    --spectrum-button-quiet-over-background-min-width: 72px;
    --spectrum-button-quiet-over-background-touch-hit-x: 16px;
    --spectrum-button-quiet-over-background-touch-hit-y: 8px;
    --spectrum-button-quiet-over-background-cursor-hit-x: 16px;
    --spectrum-button-quiet-over-background-border-size-increase-key-focus: 1px;
    --spectrum-button-quiet-primary-height: 32px;
    --spectrum-button-quiet-primary-padding-x: 16px;
    --spectrum-button-quiet-primary-border-radius: 16px;
    --spectrum-button-quiet-primary-border-size: 0;
    --spectrum-button-quiet-primary-text-font-weight: 700;
    --spectrum-button-quiet-primary-text-gap: 8px;
    --spectrum-button-quiet-primary-text-size: 15px;
    --spectrum-button-quiet-primary-text-baseline: 11px;
    --spectrum-button-quiet-primary-min-width: 72px;
    --spectrum-button-quiet-primary-touch-hit-x: 16px;
    --spectrum-button-quiet-primary-touch-hit-y: 8px;
    --spectrum-button-quiet-primary-cursor-hit-x: 16px;
    --spectrum-button-quiet-primary-border-size-increase-key-focus: 1px;
    --spectrum-button-quiet-secondary-height: 32px;
    --spectrum-button-quiet-secondary-padding-x: 16px;
    --spectrum-button-quiet-secondary-border-radius: 16px;
    --spectrum-button-quiet-secondary-border-size: 0;
    --spectrum-button-quiet-secondary-text-font-weight: 700;
    --spectrum-button-quiet-secondary-text-gap: 8px;
    --spectrum-button-quiet-secondary-text-size: 15px;
    --spectrum-button-quiet-secondary-text-baseline: 11px;
    --spectrum-button-quiet-secondary-min-width: 72px;
    --spectrum-button-quiet-secondary-touch-hit-x: 16px;
    --spectrum-button-quiet-secondary-touch-hit-y: 8px;
    --spectrum-button-quiet-secondary-cursor-hit-x: 16px;
    --spectrum-button-quiet-secondary-border-size-increase-key-focus: 1px;
    --spectrum-button-quiet-warning-height: 32px;
    --spectrum-button-quiet-warning-padding-x: 16px;
    --spectrum-button-quiet-warning-border-radius: 16px;
    --spectrum-button-quiet-warning-border-size: 0;
    --spectrum-button-quiet-warning-text-font-weight: 700;
    --spectrum-button-quiet-warning-text-gap: 8px;
    --spectrum-button-quiet-warning-text-size: 15px;
    --spectrum-button-quiet-warning-text-baseline: 11px;
    --spectrum-button-quiet-warning-min-width: 72px;
    --spectrum-button-quiet-warning-touch-hit-x: 16px;
    --spectrum-button-quiet-warning-touch-hit-y: 8px;
    --spectrum-button-quiet-warning-cursor-hit-x: 16px;
    --spectrum-button-quiet-warning-border-size-increase-key-focus: 1px;
    --spectrum-button-secondary-height: 32px;
    --spectrum-button-secondary-padding-x: 16px;
    --spectrum-button-secondary-border-radius: 16px;
    --spectrum-button-secondary-border-size: 2px;
    --spectrum-button-secondary-text-font-weight: 700;
    --spectrum-button-secondary-text-gap: 8px;
    --spectrum-button-secondary-text-size: 15px;
    --spectrum-button-secondary-text-baseline: 11px;
    --spectrum-button-secondary-min-width: 72px;
    --spectrum-button-secondary-touch-hit-x: 8px;
    --spectrum-button-secondary-touch-hit-y: 8px;
    --spectrum-button-secondary-border-size-increase-key-focus: 1px;
    --spectrum-button-warning-height: 32px;
    --spectrum-button-warning-padding-x: 16px;
    --spectrum-button-warning-border-radius: 16px;
    --spectrum-button-warning-border-size: 2px;
    --spectrum-button-warning-text-font-weight: 700;
    --spectrum-button-warning-text-gap: 8px;
    --spectrum-button-warning-text-size: 15px;
    --spectrum-button-warning-text-baseline: 11px;
    --spectrum-button-warning-min-width: 72px;
    --spectrum-button-warning-touch-hit-x: 8px;
    --spectrum-button-warning-touch-hit-y: 8px;
    --spectrum-button-warning-border-size-increase-key-focus: 1px;
}
