/*
Copyright 2018 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

:root,
:host {
    --spectrum-dropdown-placeholder-text-font-style: italic;
    --spectrum-dropdown-placeholder-text-font-weight: 400;
    --spectrum-dropdown-placeholder-text-size: 14px;
    --spectrum-dropdown-text-font-family: adobe-clean, 'Source Sans Pro',
        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu,
        'Trebuchet MS', 'Lucida Grande', sans-serif;
    --spectrum-dropdown-text-font-style: normal;
    --spectrum-dropdown-text-font-weight: 400;
    --spectrum-dropdown-text-line-height: 1.5;
    --spectrum-dropdown-text-letter-spacing: 0;
    --spectrum-dropdown-text-transform: none;
    --spectrum-dropdown-text-size: 14px;
    --spectrum-dropdown-border-size: 1px;
    --spectrum-dropdown-border-size-focus: 2px;
    --spectrum-dropdown-ui-icon-height: 6px;
    --spectrum-dropdown-ui-icon-width: 10px;
    --spectrum-dropdown-height: 32px;
    --spectrum-dropdown-min-width: 48px;
    --spectrum-dropdown-padding-x: 12px;
    --spectrum-dropdown-border-radius: 4px;
    --spectrum-dropdown-affixed-border-radius: 0;
    --spectrum-dropdown-label-gap-x: 8px;
    --spectrum-dropdown-label-gap-y: 8px;
    --spectrum-dropdown-asterisk-size: 8px;
    --spectrum-dropdown-asterisk-gap: 4px;
    --spectrum-dropdown-text-baseline: 12px;
    --spectrum-dropdown-icon-gap: 8px;
    --spectrum-dropdown-icon-margin-left: 12px;
    --spectrum-dropdown-icon-size: 18px;
    --spectrum-dropdown-success-icon-height: 12px;
    --spectrum-dropdown-success-icon-width: 12px;
    --spectrum-dropdown-error-icon-height: 18px;
    --spectrum-dropdown-error-icon-width: 18px;
    --spectrum-dropdown-width: 240px;
    --spectrum-dropdown-flyout-menu-offset-y: 6px;
    --spectrum-dropdown-popover-offset-y: 6px;
    --spectrum-dropdown-flyout-menu-offset-x: 0px;
    --spectrum-dropdown-popover-offset-x: 0px;
    --spectrum-dropdown-touch-hit-x: 8px;
    --spectrum-dropdown-touch-hit-y: 8px;
    --spectrum-dropdown-flyout-menu-max-height: 192px;
    --spectrum-dropdown-popover-max-height: 192px;
    --spectrum-dropdown-popover-max-width: 192px;
    --spectrum-dropdown-border-size-key-focus: 2px;
    --spectrum-dropdown-quiet-placeholder-text-font-style: italic;
    --spectrum-dropdown-quiet-placeholder-text-font-weight: 400;
    --spectrum-dropdown-quiet-placeholder-text-size: 14px;
    --spectrum-dropdown-quiet-text-font-family: adobe-clean, 'Source Sans Pro',
        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu,
        'Trebuchet MS', 'Lucida Grande', sans-serif;
    --spectrum-dropdown-quiet-text-font-style: normal;
    --spectrum-dropdown-quiet-text-font-weight: 400;
    --spectrum-dropdown-quiet-text-line-height: 1.5;
    --spectrum-dropdown-quiet-text-letter-spacing: 0;
    --spectrum-dropdown-quiet-text-transform: none;
    --spectrum-dropdown-quiet-text-size: 14px;
    --spectrum-dropdown-quiet-border-size: 1px;
    --spectrum-dropdown-quiet-border-size-focus: 2px;
    --spectrum-dropdown-quiet-ui-icon-height: 6px;
    --spectrum-dropdown-quiet-ui-icon-width: 10px;
    --spectrum-dropdown-quiet-height: 32px;
    --spectrum-dropdown-quiet-min-width: 48px;
    --spectrum-dropdown-quiet-padding-x: 12px;
    --spectrum-dropdown-quiet-border-radius: 0px;
    --spectrum-dropdown-quiet-affixed-border-radius: 0;
    --spectrum-dropdown-quiet-label-gap-x: 12px;
    --spectrum-dropdown-quiet-label-gap-y: 0px;
    --spectrum-dropdown-quiet-asterisk-size: 8px;
    --spectrum-dropdown-quiet-asterisk-gap: 4px;
    --spectrum-dropdown-quiet-text-baseline: 12px;
    --spectrum-dropdown-quiet-icon-gap: 8px;
    --spectrum-dropdown-quiet-icon-margin-left: 12px;
    --spectrum-dropdown-quiet-icon-size: 18px;
    --spectrum-dropdown-quiet-success-icon-height: 12px;
    --spectrum-dropdown-quiet-success-icon-width: 12px;
    --spectrum-dropdown-quiet-error-icon-height: 18px;
    --spectrum-dropdown-quiet-error-icon-width: 18px;
    --spectrum-dropdown-quiet-affixed-border-size: 1px;
    --spectrum-dropdown-quiet-cursor-hit-x: 32px;
    --spectrum-dropdown-quiet-touch-hit-x: 32px;
    --spectrum-dropdown-quiet-touch-hit-y: 32px;
    --spectrum-dropdown-quiet-flyout-menu-offset-x: 12px;
    --spectrum-dropdown-quiet-popover-offset-x: 12px;
    --spectrum-dropdown-quiet-flyout-menu-offset-y: 0px;
    --spectrum-dropdown-quiet-popover-offset-y: 0px;
    --spectrum-dropdown-quiet-flyout-menu-max-height: 192px;
    --spectrum-dropdown-quiet-popover-max-height: 192px;
    --spectrum-dropdown-quiet-border-size-key-focus: 2px;
    --spectrum-dropdown-thumbnail-small-placeholder-text-font-style: italic;
    --spectrum-dropdown-thumbnail-small-placeholder-text-font-weight: 400;
    --spectrum-dropdown-thumbnail-small-placeholder-text-size: 14px;
    --spectrum-dropdown-thumbnail-small-text-font-family: adobe-clean,
        'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Ubuntu, 'Trebuchet MS', 'Lucida Grande', sans-serif;
    --spectrum-dropdown-thumbnail-small-text-font-style: normal;
    --spectrum-dropdown-thumbnail-small-text-font-weight: 400;
    --spectrum-dropdown-thumbnail-small-text-line-height: 1.5;
    --spectrum-dropdown-thumbnail-small-text-letter-spacing: 0;
    --spectrum-dropdown-thumbnail-small-text-transform: none;
    --spectrum-dropdown-thumbnail-small-text-size: 14px;
    --spectrum-dropdown-thumbnail-small-border-size: 1px;
    --spectrum-dropdown-thumbnail-small-border-size-focus: 2px;
    --spectrum-dropdown-thumbnail-small-ui-icon-height: 6px;
    --spectrum-dropdown-thumbnail-small-ui-icon-width: 10px;
    --spectrum-dropdown-thumbnail-small-height: 32px;
    --spectrum-dropdown-thumbnail-small-min-width: 48px;
    --spectrum-dropdown-thumbnail-small-padding-x: 12px;
    --spectrum-dropdown-thumbnail-small-border-radius: 4px;
    --spectrum-dropdown-thumbnail-small-affixed-border-radius: 0;
    --spectrum-dropdown-thumbnail-small-label-gap-x: 8px;
    --spectrum-dropdown-thumbnail-small-label-gap-y: 8px;
    --spectrum-dropdown-thumbnail-small-asterisk-size: 8px;
    --spectrum-dropdown-thumbnail-small-asterisk-gap: 4px;
    --spectrum-dropdown-thumbnail-small-text-baseline: 12px;
    --spectrum-dropdown-thumbnail-small-icon-gap: 8px;
    --spectrum-dropdown-thumbnail-small-icon-margin-left: 12px;
    --spectrum-dropdown-thumbnail-small-icon-size: 18px;
    --spectrum-dropdown-thumbnail-small-success-icon-height: 12px;
    --spectrum-dropdown-thumbnail-small-success-icon-width: 12px;
    --spectrum-dropdown-thumbnail-small-error-icon-height: 18px;
    --spectrum-dropdown-thumbnail-small-error-icon-width: 18px;
    --spectrum-dropdown-thumbnail-small-width: 240px;
    --spectrum-dropdown-thumbnail-small-popover-offset-y: 6px;
    --spectrum-dropdown-thumbnail-small-popover-offset-x: 0px;
    --spectrum-dropdown-thumbnail-small-touch-hit-x: 8px;
    --spectrum-dropdown-thumbnail-small-touch-hit-y: 8px;
    --spectrum-dropdown-thumbnail-small-popover-max-height: 192px;
    --spectrum-dropdown-thumbnail-small-popover-max-width: 192px;
    --spectrum-dropdown-thumbnail-small-image-padding-x: 8px;
    --spectrum-dropdown-thumbnail-small-image-height: 18px;
    --spectrum-dropdown-thumbnail-small-image-width: 18px;
    --spectrum-dropdown-thumbnail-small-image-border-radius: 2px;
    --spectrum-dropdown-thumbnail-small-image-border-size: 1px;
    --spectrum-dropdown-thumbnail-small-border-size-key-focus: 2px;
}
