<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Banner - Spectrum Web Components</title>
        <script src="../banner.js" type="module"></script>
        <script src="../../demo-page/index.js" type="module"></script>
        <link
            rel="stylesheet"
            href="../../../styles/theme-light/components/banner.css"
        />
        <link
            rel="stylesheet"
            href="../../../styles/scale-medium/components/banner.css"
        />
    </head>

    <body>
        <demo-page title="Banner">
            <demo-section title="Banner Types" show-demo-code>
                <div slot="description">
                    The spectrum banner comes in several types, info, warning
                    and error.
                </div>
                <div slot="demo">
                    <spectrum-banner type="info">
                        <div slot="header">Most Popular</div>
                        <div slot="content">Includes Illustrator CC</div>
                    </spectrum-banner>
                    <spectrum-banner type="warning">
                        <div slot="header">Most Popular</div>
                        <div slot="content">Includes Illustrator CC</div>
                    </spectrum-banner>
                    <spectrum-banner type="error">
                        <div slot="header">Most Popular</div>
                        <div slot="content">Includes Illustrator CC</div>
                    </spectrum-banner>
                </div>
            </demo-section>
            <demo-section title="Corner placement" show-demo-code>
                <div slot="description">
                    The spectrum banner 'corner placement'.
                </div>
                <div slot="demo">
                    <div
                        style="width: 255px; height: 325px; background-color: #ccc; position: relative;"
                    >
                        <spectrum-banner corner type="info">
                            <div slot="header">Most Popular</div>
                            <div slot="content">Includes Illustrator CC</div>
                        </spectrum-banner>
                    </div>
                </div>
            </demo-section>
        </demo-page>
    </body>
</html>
