/*!
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* Base variables */
:host {
    --spectrum-tabs-overflow-next-button-right: calc(-1 * var(--spectrum-component-edge-to-text-100));
    --spectrum-tabs-overflow-previous-button-left: calc(-1 * var(--spectrum-component-edge-to-text-100));
    --spectrum-tabs-overflow-button-height: calc(var(--spectrum-tab-item-height-medium) - var(--spectrum-border-width-200));
    --spectrum-tabs-overflow-button-size: var(--spectrum-tab-item-height-medium);
    --spectrum-tabs-overflow-icon-color: var(--spectrum-gray-800);
    --spectrum-tabs-overflow-shadow-color: var(--spectrum-gray-100);
    --spectrum-tabs-overflow-shadow-width: 50px;
    --spectrum-actionbutton-icon-size: var(--spectrum-workflow-icon-size-100);
    inset: 0;
    inline-size: 100%;
}

:host([size="m"]) {
}

:host([size="s"]) {
}

:host([size="l"]) {
}

:host([size="xl"]) {
}

:host([size="xs"]) {
}

:host([compact]) {
}

sp-action-button {
    inline-size: var(--spectrum-tabs-overflow-button-size);
    block-size: var(--spectrum-tabs-overflow-button-height);
    position: absolute;
    z-index: 2;
    border: none;
    text-align: center;
    box-shadow: none;
    background: transparent;
    color: var(--spectrum-tabs-overflow-icon-color);
}

sp-action-button.left-scroll {
    visibility: hidden;
    inset-inline-start: var(--spectrum-tabs-overflow-previous-button-left);
}

sp-action-button.right-scroll {
    visibility: hidden;
    inset-inline-end: var(--spectrum-tabs-overflow-next-button-right);
}

sp-action-button.left-scroll.show,
sp-action-button.right-scroll.show {
    visibility: visible;
}

.tabs-overflow-container {
    position: relative;
}

/* styling for shadow behind the left and right buttons */
.tabs-overflow-container::before,
.tabs-overflow-container::after {
    content: "";
    visibility: hidden;
    position: absolute;
    z-index: 1;
    block-size: var(--spectrum-tabs-overflow-button-height);
    inline-size: var(--spectrum-tabs-overflow-shadow-width);
    pointer-events: none;
    inset-block-start: 0;
}

.tabs-overflow-container::before {
    background: transparent linear-gradient(270deg, transparent, var(--spectrum-tabs-overflow-shadow-color)) 0 0 no-repeat padding-box;
    inset-inline-start: 0;
}

.tabs-overflow-container::after {
    background: transparent linear-gradient(90deg, transparent, var(--spectrum-tabs-overflow-shadow-color)) 0 0 no-repeat padding-box;
    inset-inline-end: 0;
}

.tabs-overflow-container.left-shadow::before,
.tabs-overflow-container.right-shadow::after {
    visibility: visible;
}
