/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:host {
    --mod-progressbar-size-default: var(--mod-meter-inline-size, var(--spectrum-meter-inline-size));
    --mod-progressbar-max-size: var(--mod-meter-max-width, var(--spectrum-meter-max-width));
    --mod-progressbar-min-size: var(--mod-meter-min-width, var(--spectrum-meter-min-width));
    --mod-progressbar-thickness: var(--spectrum-meter-thickness);
    --mod-progressbar-font-size: var(--spectrum-meter-font-size);
    --mod-progressbar-spacing-top-to-text: var(--spectrum-meter-top-to-text);
}

:host([variant="positive"]) {
    --mod-progressbar-fill-color: var(--mod-meter-fill-color-positive, var(--spectrum-meter-fill-color-positive));
}

:host([variant="notice"]) {
    --mod-progressbar-fill-color: var(--mod-meter-fill-color-notice, var(--spectrum-meter-fill-color-notice));
}

:host([variant="negative"]) {
    --mod-progressbar-fill-color: var(--mod-meter-fill-color-negative, var(--spectrum-meter-fill-color-negative));
}
