version: 2.1

executors:
    node:
        docker:
            - image: mcr.microsoft.com/playwright:v1.30.0
        resource_class: large
        environment:
            NODE_ENV: development
parameters:
    current_golden_images_hash:
        type: string
        default: d159cee8aebe6bc8c08c163aecc068ec8df3ccf0
    wireit_cache_name:
        type: string
        default: wireit
commands:
    downstream:
        steps:
            - checkout
            - restore_cache:
                  keys:
                      - v3b-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
            - restore_cache:
                  keys:
                      - v3b-<< pipeline.parameters.wireit_cache_name >>-{{ arch }}-{{ checksum "package.json" }}-
                      - v3b-<< pipeline.parameters.wireit_cache_name >>-{{ arch }}-
            - run:
                  name: Installing Dependencies
                  command: yarn --frozen-lockfile --cache-folder ~/.cache/yarn
            - save_cache:
                  paths:
                      - ~/.cache/yarn
                  key: v3b-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
            - save_cache:
                  paths:
                      - .wireit
                  key: v3b-wireit-{{ arch }}-{{ checksum "package.json" }}-{{ epoch }}
            - attach_workspace:
                  at: /
    run-regressions:
        parameters:
            regression_theme:
                type: string
            regression_color:
                type: string
            regression_scale:
                type: string
            regression_dir:
                type: string
        steps:
            - restore_cache:
                  name: Restore Golden Images Cache
                  keys:
                      - v2-golden-images-<< pipeline.parameters.current_golden_images_hash >>-<< parameters.regression_theme >>-<< parameters.regression_color >>-<< parameters.regression_scale >>-<< parameters.regression_dir >>-
                      - v2-golden-images-<< pipeline.parameters.current_golden_images_hash >>-<< parameters.regression_color >>-<< parameters.regression_scale >>-<< parameters.regression_dir >>-
                      - v2-golden-images-main-<< parameters.regression_theme >>-<< parameters.regression_color >>-<< parameters.regression_scale >>-<< parameters.regression_dir >>-
                      - v2-golden-images-main-<< parameters.regression_color >>-<< parameters.regression_scale >>-<< parameters.regression_dir >>-
            - run:
                  name: Count baseline images
                  command: find test/visual/screenshots-baseline -type f | wc -l > count_start.txt
            - run:
                  when: always
                  name: VRT Run
                  command: |
                      yarn test:ci --config web-test-runner.config.vrt.js --group vrt-<< parameters.regression_theme >>-<< parameters.regression_color >>-<< parameters.regression_scale >>-<< parameters.regression_dir >>
            # store results and artifacts before rearranging things for the new cache.
            - store_test_results:
                  path: /root/project/results/
            - run:
                  when: on_success
                  name: Count current images
                  command: find test/visual/screenshots-actual/updates -type f | wc -l > count_end.txt
            # prevent removing regression tests without requiring a new golden cache
            - run:
                  when: on_success
                  name: Fail if there are a different number of images...
                  command: |
                      echo $(cat count_start.txt)
                      echo $(cat count_end.txt)
                      if [[ $(cat count_start.txt) -eq $(cat count_end.txt) ]]; then exit 0; else exit 1; fi
            # build diff review site
            - run:
                  when: on_fail
                  name: Create review site
                  command: |
                      branch=$(git symbolic-ref --short HEAD)
                      node test/visual/review.js --branch=$branch --commit=<< pipeline.git.revision >> --theme="<< parameters.regression_theme >> << parameters.regression_color >> << parameters.regression_scale >> << parameters.regression_dir >>"
                      yarn rollup -c test/visual/rollup.config.js
            - run:
                  when: on_fail
                  name: Publish review site
                  command: |
                      cp projects/documentation/content/favicon.ico test/visual
                      branch=$(git symbolic-ref --short HEAD)
                      hash=$(echo -n $branch-<< parameters.regression_theme >>-<< parameters.regression_color >>-<< parameters.regression_scale >>-<< parameters.regression_dir >> | md5sum | cut -c 1-32)
                      echo hash
                      yarn netlify deploy --alias=$hash --dir=test/visual
            # move "updated" screenshot into the baseline directory before making the new cache
            - run:
                  when: always
                  command: |
                      rm -rf test/visual/screenshots-baseline
                      cp -R test/visual/screenshots-actual/updates test/visual/screenshots-baseline
            - save_cache:
                  when: always
                  name: Build Golden Images Revision Cache
                  paths:
                      - test/visual/screenshots-baseline
                  key: v2-golden-images-{{ .Revision }}-<< parameters.regression_theme >>-<< parameters.regression_color >>-<< parameters.regression_scale >>-<< parameters.regression_dir >>-{{ epoch }}
            - save_cache:
                  name: Build Golden Images Branch Cache
                  paths:
                      - test/visual/screenshots-baseline
                  key: v2-golden-images-{{ .Branch }}-<< parameters.regression_theme >>-<< parameters.regression_color >>-<< parameters.regression_scale >>-<< parameters.regression_dir >>-{{ epoch }}

jobs:
    commitlint:
        executor: node

        steps:
            - checkout
            - restore_cache:
                  keys:
                      - v3b-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
            - run:
                  name: Installing Dependencies
                  command: yarn --ignore-scripts --frozen-lockfile --cache-folder ~/.cache/yarn
            - save_cache:
                  paths:
                      - ~/.cache/yarn
                      - .wireit
                  key: v3b-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
            - run:
                  name: Define environment variable with lastest commit's message
                  command: |
                      echo 'export COMMIT_MESSAGE=$(git log -1 --pretty=format:"%s")' >> $BASH_ENV
                      source $BASH_ENV
            - run:
                  name: Lint commit message
                  command: echo "$COMMIT_MESSAGE" | npx commitlint --config commitlint.config.cjs

    test-chromium:
        executor: node

        steps:
            - downstream
            - run:
                  name: Run tests
                  command: yarn test:ci --config web-test-runner.config.ci-chromium.js --group unit --coverage
            - store_test_results:
                  path: /root/project/results/
            - store_artifacts:
                  path: coverage
            - run:
                  name: Are there changes?
                  command: git diff --exit-code

    test-chromium-flags:
        executor: node

        steps:
            - downstream
            - run:
                  name: Run tests
                  command: yarn test:ci --config web-test-runner.config.ci-chromium-flags.js --group unit
            - store_test_results:
                  path: /root/project/results/
            - store_artifacts:
                  path: coverage
            - run:
                  name: Are there changes?
                  command: git diff --exit-code

    test-firefox:
        executor: node

        steps:
            - downstream
            - run:
                  name: Run tests
                  command: yarn test:ci --config web-test-runner.config.ci-firefox.js --group unit
            - store_test_results:
                  path: /root/project/results/
            - run:
                  name: Are there changes?
                  command: git diff-files

    test-webkit:
        executor: node

        steps:
            - downstream
            - run:
                  name: Lint
                  command: yarn lint
            - run: yarn analyze
            - run:
                  name: Run tests
                  command: yarn test:ci --config web-test-runner.config.ci-webkit.js --group unit
            - store_test_results:
                  path: /root/project/results/
            - run:
                  name: Are there changes?
                  command: git diff-files

    preview-docs:
        executor: node

        steps:
            - downstream
            - run:
                  name: Generate Docs
                  command: yarn docs:preview
            - run: echo '/*    /index.html   200' > projects/documentation/dist/_redirects
            - run: |
                  branch=$(git symbolic-ref --short HEAD)
                  branch=$(npx slugify-cli $branch)
                  yarn netlify deploy --alias=$branch

    hcm-visual:
        executor: node

        steps:
            - downstream
            - restore_cache:
                  name: Restore Golden Images Cache
                  keys:
                      - v2-golden-images-<< pipeline.parameters.current_golden_images_hash >>-hcm-
                      - v2-golden-images-main-hcm-
                      - v2-golden-images-main-classic-lightest-medium-ltr-
            - run:
                  name: Count baseline images
                  command: find test/visual/screenshots-baseline -type f | wc -l > count_start.txt
            - run:
                  when: always
                  name: VRT Run
                  command: |
                      yarn test:ci --config web-test-runner.config.vrt.js --group vrt-hcm
            # store results and artifacts before rearranging things for the new cache.
            - store_test_results:
                  path: /root/project/results/
            - run:
                  when: on_success
                  name: Count current images
                  command: find test/visual/screenshots-actual/updates -type f | wc -l > count_end.txt
            # prevent removing regression tests without requiring a new golden cache
            - run:
                  when: on_success
                  name: Fail if there are a different number of images...
                  command: |
                      echo $(cat count_start.txt)
                      echo $(cat count_end.txt)
                      if [[ $(cat count_start.txt) -eq $(cat count_end.txt) ]]; then exit 0; else exit 1; fi
            # build diff review site
            - run:
                  when: on_fail
                  name: Create review site
                  command: |
                      branch=$(git symbolic-ref --short HEAD)
                      node test/visual/review.js --branch=$branch --commit=<< pipeline.git.revision >> --theme="hcm"
                      yarn rollup -c test/visual/rollup.config.js
            - run:
                  when: on_fail
                  name: Publish review site
                  command: |
                      cp projects/documentation/content/favicon.ico test/visual
                      branch=$(git symbolic-ref --short HEAD)
                      hash=$(echo -n $branch-hcm | md5sum | cut -c 1-32)
                      echo hash
                      yarn netlify deploy --alias=$hash --dir=test/visual
            # move "updated" screenshot into the baseline directory before making the new cache
            - run:
                  when: always
                  command: |
                      rm -rf test/visual/screenshots-baseline
                      cp -R test/visual/screenshots-actual/updates test/visual/screenshots-baseline
            - save_cache:
                  when: always
                  name: Build Golden Images Revision Cache
                  paths:
                      - test/visual/screenshots-baseline
                  key: v2-golden-images-{{ .Revision }}-hcm-{{ epoch }}
            - save_cache:
                  name: Build Golden Images Branch Cache
                  paths:
                      - test/visual/screenshots-baseline
                  key: v2-golden-images-{{ .Branch }}-hcm-{{ epoch }}

    visual:
        executor: node
        parameters:
            theme:
                type: string
            color:
                type: string
            scale:
                type: string
            dir:
                type: string
        steps:
            - downstream
            - run-regressions:
                  regression_theme: << parameters.theme >>
                  regression_color: << parameters.color >>
                  regression_scale: << parameters.scale >>
                  regression_dir: << parameters.dir >>

workflows:
    version: 2
    commitlint:
        jobs:
            - commitlint
    build:
        jobs:
            - test-chromium
            - test-chromium-flags
            - test-firefox
            - test-webkit
            - hcm-visual:
                  filters:
                      branches:
                          # Forked pull requests have CIRCLE_BRANCH set to pull/XXX
                          ignore: /pull\/[0-9]+/
            - preview-docs:
                  filters:
                      branches:
                          # Forked pull requests have CIRCLE_BRANCH set to pull/XXX
                          ignore: /pull\/[0-9]+/
            - visual:
                  name: << matrix.theme >>-<< matrix.color >>-<< matrix.scale >>-<< matrix.dir >>
                  matrix:
                      parameters:
                          theme: [classic, express]
                          color: [lightest, light, dark, darkest]
                          scale: [medium, large]
                          dir: [ltr, rtl]
                  filters:
                      branches:
                          # Forked pull requests have CIRCLE_BRANCH set to pull/XXX
                          ignore: /pull\/[0-9]+/
