version: 2.1
executors:
    node8:
        docker:
            - image: circleci/node:10-browsers
        environment:
            NPM_CONFIG_PREFIX: ~/.npm-global
            CHROME_BIN: /usr/bin/google-chrome
            FIREFOX_BIN: /usr/local/bin/firefox
commands:
    setup:
        steps:
            - checkout
            - restore_cache:
                  keys:
                      - v1-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
            - run:
                  name: Installing Dependencies
                  command: yarn install
            - save_cache:
                  paths:
                      - node_modules
                  key: v1-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
            - run:
                  name: prepare test git user
                  command: git config --global user.email "circleci@example.com" && git config --global user.name "CircleCi Build"
jobs:
    build:
        executor: node8

        steps:
            - setup
            - run: mkdir junit
            - run:
                  name: Lint
                  command: yarn lint
            - run: npx lerna bootstrap
            - run: yarn build

            # test & get code coverage
            - run:
                  name: Run tests
                  # TODO
                  # - [ ] use CircleCI parallelization
                  # - [ ] get code coverage reporting
                  # - [ ] use XUnit reporting
                  #command: circleci tests glob test/test*.js | circleci tests split --split-by=timings | xargs ./node_modules/.bin/istanbul cover ./node_modules/mocha/bin/_mocha -- -R mocha-junit-reporter --exit && npx codecov
                  command: npm test
                  environment:
                      JUNIT_REPORT_PATH: ./junit/
                      JUNIT_REPORT_NAME: test-results.xml

            - store_test_results:
                  path: ./junit
            - store_artifacts:
                  path: ./junit

            - run:
                  name: Generate Docs
                  command: yarn docs:build

    publish-docs:
        executor: node8

        steps:
            - setup
            - run: yarn docs:build
            - run: git config --global user.email "circleci@adobe.com" && git config --global user.name "CircleCI"
            - run: git worktree add -f documentation/dist gh-pages && git commit -m "[ci skip] updating documentation" && git push

workflows:
    version: 2
    build:
        jobs:
            - build
            - publish-docs:
                  filters:
                      branches:
                          only:
                              - master # change this to `master` once we are ready to publish
                  requires:
                      - build
