version: 2.1
executors:
    node:
        docker:
            - image: mcr.microsoft.com/playwright:bionic
        environment:
            NODE_ENV: development
parameters:
    current_golden_images_hash:
        type: string
        default: cf47a32615aa05d72e7a79d77f750dabd065b1f2
commands:
    downstream:
        steps:
            - checkout
            - attach_workspace:
                  at: /
    run-regressions:
        parameters:
            regression_color:
                type: string
            regression_scale:
                type: string
            regression_dir:
                type: string
        steps:
            - restore_cache:
                  name: Restore Golden Images Cache
                  keys:
                      - v2-golden-images-<< pipeline.parameters.current_golden_images_hash >>-<< parameters.regression_color >>-<< parameters.regression_scale >>-<< parameters.regression_dir >>-
                      - v2-golden-images-main-<< parameters.regression_color >>-<< parameters.regression_scale >>-<< parameters.regression_dir >>-
            - run:
                  name: Count baseline images
                  command: find test/visual/screenshots-baseline -type f | wc -l > count_start.txt
            - run: |
                  yarn test:ci --config web-test-runner.config.ci.js --group vrt-<< parameters.regression_color >>-<< parameters.regression_scale >>-<< parameters.regression_dir >>
            - run:
                  when: on_fail
                  command: |
                      test -d test/visual/screenshots-current/updates/Chromium && cp -R test/visual/screenshots-current/updates/Chromium test/visual/screenshots-baseline/Chromium
            - run:
                  when: on_success
                  name: Count current images
                  command: find test/visual/screenshots-baseline -type f | wc -l > count_end.txt
            - run:
                  when: on_success
                  name: Fail if there are a different number of images...
                  command: |
                      echo $(cat count_start.txt)
                      echo $(cat count_end.txt)
                      if [[ $(cat count_start.txt) -eq $(cat count_end.txt) ]]; then exit 0; else exit 1; fi
            - save_cache:
                  when: on_fail
                  name: Build Golden Images Revision Cache
                  paths:
                      - test/visual/screenshots-baseline
                  key: v2-golden-images-{{ .Revision }}-<< parameters.regression_color >>-<< parameters.regression_scale >>-<< parameters.regression_dir >>-{{ epoch }}
            - save_cache:
                  name: Build Golden Images Branch Cache
                  paths:
                      - test/visual/screenshots-baseline
                  key: v2-golden-images-{{ .Revision }}-<< parameters.regression_color >>-<< parameters.regression_scale >>-<< parameters.regression_dir >>-{{ epoch }}
            - store_test_results:
                  path: /root/project/results/
            - store_artifacts:
                  path: test/visual/screenshots-baseline
            - store_artifacts:
                  path: test/visual/screenshots-current

jobs:
    commitlint:
        executor: node

        steps:
            - checkout
            - restore_cache:
                  keys:
                      - v2-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
            - run:
                  name: Installing Dependencies
                  command: yarn --ignore-scripts
            - save_cache:
                  paths:
                      - node_modules
                  key: v2-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
            - run:
                  name: Define environment variable with lastest commit's message
                  command: |
                      echo 'export COMMIT_MESSAGE=$(git log -1 --pretty=format:"%s")' >> $BASH_ENV
                      source $BASH_ENV
            - run:
                  name: Lint commit message
                  command: echo "$COMMIT_MESSAGE" | npx commitlint
    build:
        executor: node

        steps:
            - checkout
            - restore_cache:
                  keys:
                      - v2-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
            - run:
                  name: Installing Dependencies
                  command: yarn
            - save_cache:
                  paths:
                      - node_modules
                  key: v2-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
            - persist_to_workspace:
                  root: /
                  paths:
                      - ms-playwright
                      - root/project/node_modules
                      - root/project/packages
                      - root/project/projects/story-decorator

    test:
        executor: node

        steps:
            - downstream
            - run:
                  name: Lint
                  command: yarn lint
            - run: yarn analyze
            - run:
                  name: Run tests
                  command: yarn test:ci --config web-test-runner.config.ci.js --group unit --coverage
            - store_test_results:
                  path: /root/project/results/
            - store_artifacts:
                  path: coverage

    docs:
        executor: node

        steps:
            - downstream
            - run:
                  name: Generate Docs
                  command: yarn docs:ci
            - persist_to_workspace:
                  root: /
                  paths:
                      - root/project/documentation/dist

    visual-lightest-medium-ltr:
        executor: node

        steps:
            - downstream
            - run-regressions:
                  regression_color: lightest
                  regression_scale: medium
                  regression_dir: ltr

    visual-lightest-medium-rtl:
        executor: node

        steps:
            - downstream
            - run-regressions:
                  regression_color: lightest
                  regression_scale: medium
                  regression_dir: rtl

    visual-lightest-large-ltr:
        executor: node

        steps:
            - downstream
            - run-regressions:
                  regression_color: lightest
                  regression_scale: large
                  regression_dir: ltr

    visual-lightest-large-rtl:
        executor: node

        steps:
            - downstream
            - run-regressions:
                  regression_color: lightest
                  regression_scale: large
                  regression_dir: rtl

    visual-light-medium-ltr:
        executor: node

        steps:
            - downstream
            - run-regressions:
                  regression_color: light
                  regression_scale: medium
                  regression_dir: ltr

    visual-light-medium-rtl:
        executor: node

        steps:
            - downstream
            - run-regressions:
                  regression_color: light
                  regression_scale: medium
                  regression_dir: rtl

    visual-light-large-ltr:
        executor: node

        steps:
            - downstream
            - run-regressions:
                  regression_color: light
                  regression_scale: large
                  regression_dir: ltr

    visual-light-large-rtl:
        executor: node

        steps:
            - downstream
            - run-regressions:
                  regression_color: light
                  regression_scale: large
                  regression_dir: rtl

    visual-dark-medium-ltr:
        executor: node

        steps:
            - downstream
            - run-regressions:
                  regression_color: dark
                  regression_scale: medium
                  regression_dir: ltr

    visual-dark-medium-rtl:
        executor: node

        steps:
            - downstream
            - run-regressions:
                  regression_color: dark
                  regression_scale: medium
                  regression_dir: rtl

    visual-dark-large-ltr:
        executor: node

        steps:
            - downstream
            - run-regressions:
                  regression_color: dark
                  regression_scale: large
                  regression_dir: ltr

    visual-dark-large-rtl:
        executor: node

        steps:
            - downstream
            - run-regressions:
                  regression_color: dark
                  regression_scale: large
                  regression_dir: rtl

    visual-darkest-medium-ltr:
        executor: node

        steps:
            - downstream
            - run-regressions:
                  regression_color: darkest
                  regression_scale: medium
                  regression_dir: ltr

    visual-darkest-medium-rtl:
        executor: node

        steps:
            - downstream
            - run-regressions:
                  regression_color: darkest
                  regression_scale: medium
                  regression_dir: rtl

    visual-darkest-large-ltr:
        executor: node

        steps:
            - downstream
            - run-regressions:
                  regression_color: darkest
                  regression_scale: large
                  regression_dir: ltr

    visual-darkest-large-rtl:
        executor: node

        steps:
            - downstream
            - run-regressions:
                  regression_color: darkest
                  regression_scale: large
                  regression_dir: rtl

    publish-docs:
        executor: node

        steps:
            - downstream
            - run: cp documentation/404.html documentation/dist/
            - run: touch documentation/dist/.nojekyll
            - run: git config --global user.email "circleci@adobe.com" && git config --global user.name "CircleCI"
            - run: yarn gh-pages -d documentation/dist -m "[skip ci] update demonstration site" -t

    publish-preview:
        executor: node

        steps:
            - downstream
            - run: yarn docs:build
            - run: echo '/*    /index.html   200' > documentation/dist/_redirects
            - run: yarn netlify deploy

workflows:
    version: 2
    commitlint:
        jobs:
            - commitlint
    build:
        jobs:
            - build
            - test:
                  requires:
                      - build
            - docs:
                  requires:
                      - build
            - visual-lightest-medium-ltr:
                  requires:
                      - test
                      - docs
            - visual-lightest-large-ltr:
                  requires:
                      - test
                      - docs
            - visual-light-medium-ltr:
                  requires:
                      - test
                      - docs
            - visual-light-large-ltr:
                  requires:
                      - test
                      - docs
            - visual-dark-medium-ltr:
                  requires:
                      - test
                      - docs
            - visual-dark-large-ltr:
                  requires:
                      - test
                      - docs
            - visual-darkest-medium-ltr:
                  requires:
                      - test
                      - docs
            - visual-darkest-large-ltr:
                  requires:
                      - test
                      - docs
            - visual-lightest-medium-rtl:
                  requires:
                      - test
                      - docs
            - visual-lightest-large-rtl:
                  requires:
                      - test
                      - docs
            - visual-light-medium-rtl:
                  requires:
                      - test
                      - docs
            - visual-light-large-rtl:
                  requires:
                      - test
                      - docs
            - visual-dark-medium-rtl:
                  requires:
                      - test
                      - docs
            - visual-dark-large-rtl:
                  requires:
                      - test
                      - docs
            - visual-darkest-medium-rtl:
                  requires:
                      - test
                      - docs
            - visual-darkest-large-rtl:
                  requires:
                      - test
                      - docs
            - publish-docs:
                  filters:
                      branches:
                          only:
                              - main
                  requires:
                      - test
                      - docs
            - publish-preview:
                  requires:
                      - test
                      - docs
                  filters:
                      branches:
                          # Forked pull requests have CIRCLE_BRANCH set to pull/XXX
                          ignore: /pull\/[0-9]+/
