:host {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

sp-popover {
    top: 46px;
}

#hover-content {
    display: none;
}

#click-content {
    display: none;
}
