<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Illustrated message - Spectrum Web Components</title>
        <!--         <script type="module">
            import { defineCustomElements } from '../../../define.js';
        </script> -->

        <script src="../illustrated-message.js" type="module"></script>
        <script src="../../demo-page/index.js" type="module"></script>

        <link rel="stylesheet" href="../../../styles/core-global/all.css" />
        <link rel="stylesheet" href="../../../styles/typography/font.css" />
        <link
            rel="stylesheet"
            href="../../../styles/theme-light/components/illustrated-message.css"
        />
        <link
            rel="stylesheet"
            href="../../../styles/scale-medium/components/illustrated-message.css"
        />
        <link
            rel="stylesheet"
            href="../../../styles/scale-medium/illustrated-message.css"
        />
    </head>

    <body>
        <demo-page title="illustrated-message">
            <demo-section title="illustrated-message" show-demo-code>
                <div slot="description">The illustrated-message component</div>
                <div slot="demo">
                    <illustrated-message
                        heading="No Results"
                        description="Try another search"
                    >
                        <svg>
                            <use
                                xlink:href="error_message_geometry.svg#alert"
                            />
                        </svg>
                    </illustrated-message>
                </div>
            </demo-section>
        </demo-page>
    </body>
</html>
