/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:host {
    --spectrum-infield-button-border-width: var(--system-infield-button-border-width);
    --spectrum-infield-button-border-color: var(--system-infield-button-border-color);
    --spectrum-infield-button-border-radius: var(--system-infield-button-border-radius);
    --spectrum-infield-button-border-radius-reset: var(--system-infield-button-border-radius-reset);
    --spectrum-infield-button-stacked-top-border-radius-start-start: var(--system-infield-button-stacked-top-border-radius-start-start);
    --spectrum-infield-button-stacked-bottom-border-radius-end-start: var(--system-infield-button-stacked-bottom-border-radius-end-start);
    --spectrum-infield-button-background-color: var(--system-infield-button-background-color);
    --spectrum-infield-button-background-color-hover: var(--system-infield-button-background-color-hover);
    --spectrum-infield-button-background-color-down: var(--system-infield-button-background-color-down);
    --spectrum-infield-button-background-color-key-focus: var(--system-infield-button-background-color-key-focus);
}

:host([disabled]) {
    --spectrum-infield-button-border-color: var(--system-infield-button-disabled-border-color);
}
