/*
Copyright 2020 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import './spectrum-checkbox.css';

:host {
    display: inline-flex;
    vertical-align: top;
}

:host(:empty) label {
    display: none;
}

/* Work around specificity changes in the selector processing from Spectrum CSS */
/* stylelint-disable no-descending-specificity */
:host([disabled][checked]) #input + #box:before,
:host([disabled][checked]) #input:checked + #box:before {
    /* .spectrum-Checkbox .spectrum-Checkbox-input:checked:disabled+.spectrum-Checkbox-box:before,
   * .spectrum-Checkbox .spectrum-Checkbox-input:disabled+.spectrum-Checkbox-box:before */
    border-color: var(
        --spectrum-checkbox-emphasized-box-border-color-disabled,
        var(--spectrum-global-color-gray-400)
    );
    background-color: var(
        --spectrum-checkbox-emphasized-box-background-color-disabled,
        var(--spectrum-global-color-gray-75)
    );
}

:host([invalid][indeterminate]) #box:before,
:host([invalid][indeterminate]) #input:checked + #box:before {
    /* .spectrum-Checkbox.is-invalid .spectrum-Checkbox-box:before,
   * .spectrum-Checkbox.is-invalid .spectrum-Checkbox-input:checked+.spectrum-Checkbox-box:before */
    border-color: var(
        --spectrum-checkbox-box-border-color-error,
        var(--spectrum-global-color-red-500)
    );
}
/* stylelint-enable no-descending-specificity */

/**
 * Partial work around until FieldGroup is implemented
 */
:host([dir='ltr']:not(:first-of-type)) {
    margin: 0 0 0 var(--spectrum-global-dimension-size-200);
}

:host([dir='rtl']:not(:first-of-type)) {
    margin: 0 var(--spectrum-global-dimension-size-200) 0 0;
}
