<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Card - Spectrum Web Components</title>
        <script src="../slider.js" type="module"></script>
        <script src="../slider-color.js" type="module"></script>
        <script src="../../demo-page/index.js" type="module"></script>
        <link rel="stylesheet" href="../../../styles/core-global/all.css" />
        <link rel="stylesheet" href="../../../styles/typography/font.css" />
        <link rel="stylesheet" href="./demo-page.css" />
        <link
            rel="stylesheet"
            href="../../../styles/theme-light/components/slider.css"
        />
        <link
            rel="stylesheet"
            href="../../../styles/scale-medium/components/slider.css"
        />
        <link rel="stylesheet" href="../../../styles/scale-medium/alias.css" />
    </head>

    <body class="spectrum-light spectrum-medium">
        <demo-page title="Sliders">
            <demo-section title="Slider" show-demo-code>
                <div slot="description">
                    The default Slider. A slider is a tool for selecting a value
                    within a range.
                </div>
                <div class="slider-demo" slot="demo">
                    <spectrum-slider
                        value="5"
                        step="0.5"
                        min="0"
                        max="20"
                        label="Opacity"
                    />
                </div>
                <div class="slider-demo" slot="demo">
                    <spectrum-slider
                        is-disabled
                        value="5"
                        step="0.5"
                        min="0"
                        max="20"
                        label="Intensity"
                    />
                </div>
            </demo-section>
            <demo-section title="Slider - Color" show-demo-code>
                <div slot="description">
                    The default Slider. A slider is a tool for selecting a value
                    within a range.
                </div>
                <div class="slider-demo" slot="demo">
                    <spectrum-slider-color
                        value="5"
                        step="0.5"
                        min="0"
                        max="20"
                        label="Color"
                    />
                </div>
                <div class="slider-demo" slot="demo">
                    <spectrum-slider-color
                        has-alpha
                        value="5"
                        step="0.5"
                        min="0"
                        max="20"
                        label="Color (showing alpha)"
                    />
                </div>
                <div class="slider-demo" slot="demo">
                    <spectrum-slider-color
                        is-disabled
                        value="5"
                        step="0.5"
                        min="0"
                        max="20"
                        label="Color"
                    />
                </div>
            </demo-section>
        </demo-page>
    </body>
</html>
