/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.root {
    --spectrum-picker-button-background-color: var(--system-picker-button-background-color);
    --spectrum-picker-button-background-color-hover: var(--system-picker-button-background-color-hover);
    --spectrum-picker-button-background-color-down: var(--system-picker-button-background-color-down);
    --spectrum-picker-button-background-color-key-focus: var(--system-picker-button-background-color-key-focus);
    --spectrum-picker-button-border-color: var(--system-picker-button-border-color);
    --spectrum-picker-button-border-radius: var(--system-picker-button-border-radius);
    --spectrum-picker-button-border-radius-rounded-sided: var(--system-picker-button-border-radius-rounded-sided);
    --spectrum-picker-button-border-radius-sided: var(--system-picker-button-border-radius-sided);
    --spectrum-picker-button-border-width: var(--system-picker-button-border-width);
    --spectrum-picker-button-padding: var(--system-picker-button-padding);
}
