:host,
:root {
    /* edge-to-visual-only is used for icon-only buttons */
    --spectrum-edge-to-visual-only-75: 4px;
    --spectrum-edge-to-visual-only-100: 7px;
    --spectrum-edge-to-visual-only-200: 10px;
    --spectrum-edge-to-visual-only-300: 13px;

    --spectrum-slider-tick-mark-height: 10px;
    --spectrum-slider-ramp-track-height: 16px;

    --spectrum-colorwheel-path: 'M 95 95 m -95 0 a 95 95 0 1 0 190 0 a 95 95 0 1 0 -190 0.2 M 95 95 m -73 0 a 73 73 0 1 0 146 0 a 73 73 0 1 0 -146 0';
    --spectrum-colorwheel-path-borders: 'M 96 96 m -96 0 a 96 96 0 1 0 192 0 a 96 96 0 1 0 -192 0.2 M 96 96 m -72 0 a 72 72 0 1 0 144 0 a 72 72 0 1 0 -144 0';
    --spectrum-colorwheel-colorarea-container-size: 144px;

    --spectrum-colorloupe-checkerboard-fill: url(#checkerboard-primary);

    --spectrum-menu-item-selectable-edge-to-text-not-selected-small: 28px;
    --spectrum-menu-item-selectable-edge-to-text-not-selected-medium: 32px;
    --spectrum-menu-item-selectable-edge-to-text-not-selected-large: 38px;
    --spectrum-menu-item-selectable-edge-to-text-not-selected-extra-large: 45px;

    --spectrum-menu-item-checkmark-height-small: 10px;
    --spectrum-menu-item-checkmark-height-medium: 10px;
    --spectrum-menu-item-checkmark-height-large: 12px;
    --spectrum-menu-item-checkmark-height-extra-large: 14px;

    --spectrum-menu-item-checkmark-width-small: 10px;
    --spectrum-menu-item-checkmark-width-medium: 10px;
    --spectrum-menu-item-checkmark-width-large: 12px;
    --spectrum-menu-item-checkmark-width-extra-large: 14px;

    --spectrum-rating-icon-spacing: var(--spectrum-spacing-75);

    --spectrum-button-top-to-text-small: 5px;
    --spectrum-button-bottom-to-text-small: 4px;
    --spectrum-button-top-to-text-medium: 7px;
    --spectrum-button-bottom-to-text-medium: 8px;
    --spectrum-button-top-to-text-large: 10px;
    --spectrum-button-bottom-to-text-large: 10px;
    --spectrum-button-top-to-text-extra-large: 13px;
    --spectrum-button-bottom-to-text-extra-large: 13px;

    --spectrum-alert-banner-close-button-spacing: var(--spectrum-spacing-100);
    --spectrum-alert-banner-edge-to-divider: var(--spectrum-spacing-100);
    --spectrum-alert-banner-edge-to-button: var(--spectrum-spacing-100);
    --spectrum-alert-banner-text-to-button-vertical: var(
        --spectrum-spacing-100
    );

    --spectrum-sidenav-heading-top-margin: 24px; /* TODO replace with var(--spectrum-side-navigation-item-to-header); once token is updated */
    --spectrum-sidenav-heading-bottom-margin: 8px; /* TODO replace with var(--spectrum-side-navigation-item-to-header); once token is added */
    --spectrum-sidenav-bottom-to-label: 8px; /* TODO replace with updated var(--spectrum-component-bottom-to-text-100); */
}
