:host,
:root {
    --spectrum-menu-item-background-color-default-rgb: 255, 255, 255;
    --spectrum-menu-item-background-color-default-opacity: 0;
    --spectrum-menu-item-background-color-default: rgba(
        var(--spectrum-menu-item-background-color-default-rgb),
        var(--spectrum-menu-item-background-color-default-opacity)
    ); /* --spectrum-gray-900 */
    --spectrum-menu-item-background-color-hover: var(
        --spectrum-transparent-white-200
    );
    --spectrum-menu-item-background-color-down: var(
        --spectrum-transparent-white-200
    );
    --spectrum-menu-item-background-color-key-focus: var(
        --spectrum-transparent-white-200
    );

    /* Drop Zone background color rgb */
    --spectrum-drop-zone-background-color-rgb: var(
        --spectrum-blue-900-rgb
    ); /* var(--spectrum-accent-color-900);*/

    --spectrum-calendar-day-background-color-selected: rgba(
        var(--spectrum-blue-800-rgb),
        0.2
    );
    --spectrum-calendar-day-background-color-hover: rgba(
        var(--spectrum-white-rgb),
        0.08
    );
    --spectrum-calendar-day-today-background-color-selected-hover: rgba(
        var(--spectrum-blue-800-rgb),
        0.3
    );
    --spectrum-calendar-day-background-color-selected-hover: rgba(
        var(--spectrum-blue-800-rgb),
        0.3
    );
    --spectrum-calendar-day-background-color-down: rgba(
        var(--spectrum-white-rgb),
        0.15
    );
    --spectrum-calendar-day-background-color-cap-selected: rgba(
        var(--spectrum-blue-800-rgb),
        0.3
    );
    --spectrum-calendar-day-background-color-key-focus: rgba(
        var(--spectrum-white-rgb),
        0.08
    );
    --spectrum-calendar-day-border-color-key-focus: var(--spectrum-blue-700);

    --spectrum-badge-label-icon-color-primary: var(--spectrum-black);
}
