:host,
:root {
    --spectrum-menu-item-background-color-default-rgb: 0, 0, 0;
    --spectrum-menu-item-background-color-default-opacity: 0;
    --spectrum-menu-item-background-color-default: rgba(
        var(--spectrum-menu-item-background-color-default-rgb),
        var(--spectrum-menu-item-background-color-default-opacity)
    ); /* --spectrum-gray-900 */
    --spectrum-menu-item-background-color-hover: var(
        --spectrum-transparent-black-200
    );
    --spectrum-menu-item-background-color-down: var(
        --spectrum-transparent-black-200
    );
    --spectrum-menu-item-background-color-key-focus: var(
        --spectrum-transparent-black-200
    );

    /* Drop Zone background color rgb */
    --spectrum-drop-zone-background-color-rgb: var(
        --spectrum-blue-800-rgb
    ); /* var(--spectrum-accent-color-800);*/

    --spectrum-calendar-day-background-color-selected: rgba(
        var(--spectrum-blue-900-rgb),
        0.1
    );
    --spectrum-calendar-day-background-color-hover: rgba(
        var(--spectrum-black-rgb),
        0.06
    );
    --spectrum-calendar-day-today-background-color-selected-hover: rgba(
        var(--spectrum-blue-900-rgb),
        0.2
    );
    --spectrum-calendar-day-background-color-selected-hover: rgba(
        var(--spectrum-blue-900-rgb),
        0.2
    );
    --spectrum-calendar-day-background-color-down: var(
        --spectrum-transparent-black-200
    );
    --spectrum-calendar-day-background-color-cap-selected: rgba(
        var(--spectrum-blue-900-rgb),
        0.2
    );
    --spectrum-calendar-day-background-color-key-focus: rgba(
        var(--spectrum-black-rgb),
        0.06
    );
    --spectrum-calendar-day-border-color-key-focus: var(--spectrum-blue-800);

    --spectrum-badge-label-icon-color-primary: var(--spectrum-white);
}
