:host,
:root {
    /* edge-to-visual-only is used for icon-only buttons */
    --spectrum-edge-to-visual-only-75: 5px;
    --spectrum-edge-to-visual-only-100: 9px;
    --spectrum-edge-to-visual-only-200: 13px;
    --spectrum-edge-to-visual-only-300: 16px;

    --spectrum-slider-tick-mark-height: 13px;
    --spectrum-slider-ramp-track-height: 20px;

    --spectrum-colorwheel-path: 'M 119 119 m -119 0 a 119 119 0 1 0 238 0 a 119 119 0 1 0 -238 0.2 M 119 119 m -91 0 a 91 91 0 1 0 182 0 a 91 91 0 1 0 -182 0';
    --spectrum-colorwheel-path-borders: 'M 120 120 m -120 0 a 120 120 0 1 0 240 0 a 120 120 0 1 0 -240 0.2 M 120 120 m -90 0 a 90 90 0 1 0 180 0 a 90 90 0 1 0 -180 0';
    --spectrum-colorwheel-colorarea-container-size: 182px;

    --spectrum-colorloupe-checkerboard-fill: url(#checkerboard-secondary);

    --spectrum-menu-item-selectable-edge-to-text-not-selected-small: 34px;
    --spectrum-menu-item-selectable-edge-to-text-not-selected-medium: 42px;
    --spectrum-menu-item-selectable-edge-to-text-not-selected-large: 47px;
    --spectrum-menu-item-selectable-edge-to-text-not-selected-extra-large: 54px;

    --spectrum-menu-item-checkmark-height-small: 12px;
    --spectrum-menu-item-checkmark-height-medium: 14px;
    --spectrum-menu-item-checkmark-height-large: 16px;
    --spectrum-menu-item-checkmark-height-extra-large: 16px;

    --spectrum-menu-item-checkmark-width-small: 12px;
    --spectrum-menu-item-checkmark-width-medium: 14px;
    --spectrum-menu-item-checkmark-width-large: 16px;
    --spectrum-menu-item-checkmark-width-extra-large: 16px;

    --spectrum-rating-icon-spacing: var(--spectrum-spacing-100);

    --spectrum-button-top-to-text-small: 6px;
    --spectrum-button-bottom-to-text-small: 5px;
    --spectrum-button-top-to-text-medium: 9px;
    --spectrum-button-bottom-to-text-medium: 10px;
    --spectrum-button-top-to-text-large: 12px;
    --spectrum-button-bottom-to-text-large: 13px;
    --spectrum-button-top-to-text-extra-large: 16px;
    --spectrum-button-bottom-to-text-extra-large: 17px;

    --spectrum-alert-banner-close-button-spacing: var(--spectrum-spacing-200);
    --spectrum-alert-banner-edge-to-divider: var(--spectrum-spacing-200);
    --spectrum-alert-banner-edge-to-button: var(--spectrum-spacing-200);
    --spectrum-alert-banner-text-to-button-vertical: var(
        --spectrum-spacing-200
    );

    --spectrum-sidenav-heading-top-margin: 30px; /* TODO replace with var(--spectrum-side-navigation-item-to-header); once token is updated */
    --spectrum-sidenav-heading-bottom-margin: 10px; /* TODO replace with var(--spectrum-side-navigation-item-to-header); once token is added */
    --spectrum-sidenav-bottom-to-label: 10px; /* TODO replace with updated var(--spectrum-component-bottom-to-text-100); */
}
