:host,
:root {
    --system: spectrum;
    --spectrum-animation-linear: cubic-bezier(0, 0, 1, 1);
    --spectrum-animation-duration-0: 0ms;
    --spectrum-animation-duration-100: 130ms;
    --spectrum-animation-duration-200: 160ms;
    --spectrum-animation-duration-300: 190ms;
    --spectrum-animation-duration-400: 220ms;
    --spectrum-animation-duration-500: 250ms;
    --spectrum-animation-duration-600: 300ms;
    --spectrum-animation-duration-700: 350ms;
    --spectrum-animation-duration-800: 400ms;
    --spectrum-animation-duration-900: 450ms;
    --spectrum-animation-duration-1000: 500ms;
    --spectrum-animation-duration-2000: 1000ms;
    --spectrum-animation-duration-4000: 2000ms;
    --spectrum-animation-ease-in-out: cubic-bezier(0.45, 0, 0.4, 1);
    --spectrum-animation-ease-in: cubic-bezier(0.5, 0, 1, 1);
    --spectrum-animation-ease-out: cubic-bezier(0, 0, 0.4, 1);
    --spectrum-animation-ease-linear: cubic-bezier(0, 0, 1, 1);

    --spectrum-sans-font-family-stack: adobe-clean,
        var(--spectrum-sans-serif-font-family), 'Source Sans Pro', -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Trebuchet MS',
        'Lucida Grande', sans-serif;
    --spectrum-sans-serif-font: var(--spectrum-sans-font-family-stack);

    --spectrum-serif-font-family-stack: adobe-clean-serif,
        var(--spectrum-serif-font-family), 'Source Serif Pro', Georgia, serif;
    --spectrum-serif-font: var(--spectrum-serif-font-family-stack);

    --spectrum-code-font-family-stack: 'Source Code Pro', Monaco, monospace;

    --spectrum-cjk-font-family-stack: adobe-clean-han-japanese,
        var(--spectrum-cjk-font-family), sans-serif;
    --spectrum-cjk-font: var(--spectrum-code-font-family-stack);

    /* static white / black background color for docs containers */
    --spectrum-docs-static-white-background-color-rgb: 15, 121, 125;
    --spectrum-docs-static-white-background-color: rgba(
        var(--spectrum-docs-static-white-background-color-rgb)
    );
    --spectrum-docs-static-black-background-color-rgb: 206, 247, 243;
    --spectrum-docs-static-black-background-color: rgba(
        var(--spectrum-docs-static-black-background-color-rgb)
    );
}
