:host,
:root {
    --spectrum-neutral-background-color-selected-default: var(--spectrum-gray-700);
    --spectrum-neutral-background-color-selected-hover: var(--spectrum-gray-800);
    --spectrum-neutral-background-color-selected-down: var(--spectrum-gray-900);
    --spectrum-neutral-background-color-selected-key-focus: var(--spectrum-gray-800);
    --spectrum-slider-track-thickness: 2px;
    --spectrum-slider-handle-gap: 4px;
    --spectrum-picker-border-width: var(--spectrum-border-width-100);
    --spectrum-in-field-button-fill-stacked-inner-border-rounding: 0px;
    --spectrum-in-field-button-edge-to-fill: 0px;
    --spectrum-in-field-button-stacked-inner-edge-to-fill: 0px;
    --spectrum-in-field-button-outer-edge-to-disclosure-icon-stacked-medium: 3px;
    --spectrum-in-field-button-outer-edge-to-disclosure-icon-stacked-large: 4px;
    --spectrum-in-field-button-outer-edge-to-disclosure-icon-stacked-extra-large: 5px;
    --spectrum-in-field-button-inner-edge-to-disclosure-icon-stacked-small: var(--spectrum-in-field-button-outer-edge-to-disclosure-icon-stacked-small);
    --spectrum-in-field-button-inner-edge-to-disclosure-icon-stacked-medium: var(--spectrum-in-field-button-outer-edge-to-disclosure-icon-stacked-medium);
    --spectrum-in-field-button-inner-edge-to-disclosure-icon-stacked-large: var(--spectrum-in-field-button-outer-edge-to-disclosure-icon-stacked-large);
    --spectrum-in-field-button-inner-edge-to-disclosure-icon-stacked-extra-large: var(--spectrum-in-field-button-outer-edge-to-disclosure-icon-stacked-extra-large);
    --spectrum-corner-radius-75: 2px;
    --spectrum-drop-shadow-x: 0px;
    --spectrum-border-width-100: 1px;
    --spectrum-accent-color-100: var(--spectrum-blue-100);
    --spectrum-accent-color-200: var(--spectrum-blue-200);
    --spectrum-accent-color-300: var(--spectrum-blue-300);
    --spectrum-accent-color-400: var(--spectrum-blue-400);
    --spectrum-accent-color-500: var(--spectrum-blue-500);
    --spectrum-accent-color-600: var(--spectrum-blue-600);
    --spectrum-accent-color-700: var(--spectrum-blue-700);
    --spectrum-accent-color-800: var(--spectrum-blue-800);
    --spectrum-accent-color-900: var(--spectrum-blue-900);
    --spectrum-accent-color-1000: var(--spectrum-blue-1000);
    --spectrum-accent-color-1100: var(--spectrum-blue-1100);
    --spectrum-accent-color-1200: var(--spectrum-blue-1200);
    --spectrum-accent-color-1300: var(--spectrum-blue-1300);
    --spectrum-accent-color-1400: var(--spectrum-blue-1400);
    --spectrum-heading-sans-serif-font-weight: var(--spectrum-bold-font-weight);
    --spectrum-heading-serif-font-weight: var(--spectrum-bold-font-weight);
    --spectrum-heading-cjk-font-weight: var(--spectrum-extra-bold-font-weight);
    --spectrum-heading-sans-serif-emphasized-font-weight: var(--spectrum-bold-font-weight);
    --spectrum-heading-serif-emphasized-font-weight: var(--spectrum-bold-font-weight);
    --system: spectrum;
    --spectrum-animation-linear: cubic-bezier(0, 0, 1, 1);
    --spectrum-animation-duration-0: 0s;
    --spectrum-animation-duration-100: 0.13s;
    --spectrum-animation-duration-200: 0.16s;
    --spectrum-animation-duration-300: 0.19s;
    --spectrum-animation-duration-400: 0.22s;
    --spectrum-animation-duration-500: 0.25s;
    --spectrum-animation-duration-600: 0.3s;
    --spectrum-animation-duration-700: 0.35s;
    --spectrum-animation-duration-800: 0.4s;
    --spectrum-animation-duration-900: 0.45s;
    --spectrum-animation-duration-1000: 0.5s;
    --spectrum-animation-duration-2000: 1s;
    --spectrum-animation-duration-4000: 2s;
    --spectrum-animation-duration-6000: 3s;
    --spectrum-animation-ease-in-out: cubic-bezier(0.45, 0, 0.4, 1);
    --spectrum-animation-ease-in: cubic-bezier(0.5, 0, 1, 1);
    --spectrum-animation-ease-out: cubic-bezier(0, 0, 0.4, 1);
    --spectrum-animation-ease-linear: cubic-bezier(0, 0, 1, 1);
    --spectrum-sans-font-family-stack: adobe-clean, var(--spectrum-sans-serif-font-family), "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
    --spectrum-sans-serif-font: var(--spectrum-sans-font-family-stack);
    --spectrum-serif-font-family-stack: adobe-clean-serif, var(--spectrum-serif-font-family), "Source Serif Pro", Georgia, serif;
    --spectrum-serif-font: var(--spectrum-serif-font-family-stack);
    --spectrum-code-font-family-stack: "Source Code Pro", Monaco, monospace;
    --spectrum-font-family-ar: myriad-arabic, adobe-clean, "Source Sans Pro", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
    --spectrum-font-family-he: myriad-hebrew, adobe-clean, "Source Sans Pro", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
    --spectrum-font-family: var(--spectrum-sans-font-family-stack);
    --spectrum-font-style: var(--spectrum-default-font-style);
    --spectrum-font-size: var(--spectrum-font-size-100);
    --spectrum-cjk-font-family-stack: adobe-clean-han-japanese, var(--spectrum-cjk-font-family), sans-serif;
    --spectrum-cjk-font: var(--spectrum-cjk-font-family-stack);
    --spectrum-docs-static-white-background-color-rgb: 15, 121, 125;
    --spectrum-docs-static-white-background-color: rgba(var(--spectrum-docs-static-white-background-color-rgb));
    --spectrum-docs-static-black-background-color-rgb: 181, 209, 211;
    --spectrum-docs-static-black-background-color: rgba(var(--spectrum-docs-static-black-background-color-rgb));
    --spectrum-coach-indicator-ring-static-white-color: var(--spectrum-white);
}
