:host,
:root {
    --spectrum-checkbox-control-size-small: 16px;
    --spectrum-checkbox-control-size-medium: 18px;
    --spectrum-checkbox-control-size-large: 20px;
    --spectrum-checkbox-control-size-extra-large: 22px;
    --spectrum-checkbox-top-to-control-small: 7px;
    --spectrum-checkbox-top-to-control-medium: 11px;
    --spectrum-checkbox-top-to-control-large: 15px;
    --spectrum-checkbox-top-to-control-extra-large: 19px;
    --spectrum-switch-control-width-small: 32px;
    --spectrum-switch-control-width-medium: 36px;
    --spectrum-switch-control-width-large: 41px;
    --spectrum-switch-control-width-extra-large: 46px;
    --spectrum-switch-control-height-small: 16px;
    --spectrum-switch-control-height-medium: 18px;
    --spectrum-switch-control-height-large: 20px;
    --spectrum-switch-control-height-extra-large: 22px;
    --spectrum-switch-top-to-control-small: 7px;
    --spectrum-switch-top-to-control-medium: 11px;
    --spectrum-switch-top-to-control-large: 15px;
    --spectrum-switch-top-to-control-extra-large: 19px;
    --spectrum-radio-button-control-size-small: 16px;
    --spectrum-radio-button-control-size-medium: 18px;
    --spectrum-radio-button-control-size-large: 20px;
    --spectrum-radio-button-control-size-extra-large: 22px;
    --spectrum-radio-button-top-to-control-small: 7px;
    --spectrum-radio-button-top-to-control-medium: 11px;
    --spectrum-radio-button-top-to-control-large: 15px;
    --spectrum-radio-button-top-to-control-extra-large: 19px;
    --spectrum-slider-control-height-small: 18px;
    --spectrum-slider-control-height-medium: 20px;
    --spectrum-slider-control-height-large: 22px;
    --spectrum-slider-control-height-extra-large: 26px;
    --spectrum-slider-handle-size-small: 18px;
    --spectrum-slider-handle-size-medium: 20px;
    --spectrum-slider-handle-size-large: 22px;
    --spectrum-slider-handle-size-extra-large: 26px;
    --spectrum-slider-handle-border-width-down-small: 7px;
    --spectrum-slider-handle-border-width-down-medium: 8px;
    --spectrum-slider-handle-border-width-down-large: 9px;
    --spectrum-slider-handle-border-width-down-extra-large: 11px;
    --spectrum-slider-bottom-to-handle-small: 6px;
    --spectrum-slider-bottom-to-handle-medium: 10px;
    --spectrum-slider-bottom-to-handle-large: 14px;
    --spectrum-slider-bottom-to-handle-extra-large: 17px;
    --spectrum-corner-radius-75: 2px;
    --spectrum-corner-radius-100: 5px;
    --spectrum-corner-radius-200: 10px;
    --spectrum-drop-shadow-x: 0px;
    --spectrum-drop-shadow-y: 2px;
    --spectrum-drop-shadow-blur: 6px;
}
