---
permalink: 'shell-end.html'
---
<helper class="shell-remove-before"></helper>
    </div>
</main>
{% include "partials/sidenav.njk" %}
</docs-page>
<script async=""
    defer="">"serviceWorker" in navigator && window.addEventListener("load", () => { navigator.serviceWorker.register("sw.js") });</script>
<script type="module" src="./src/index.js"></script>
<script type="module" src="./src/components.js"></script>
</body>
</html>