/*!
 * Copyright 2026 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@keyframes swc-fills-rotate {
    0% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes swc-dashoffset-animation {
    0%,
    100% {
        stroke-dashoffset: 75px;
    }

    30% {
        stroke-dashoffset: 20px;
    }
}

:host {
    display: inline-block;
    place-self: center;
}

* {
    box-sizing: border-box;
}

.swc-ProgressCircle {
    --_swc-progress-circle-size: var(
        --swc-progress-circle-size,
        token('progress-circle-size-medium')
    );
    --_swc-progress-circle-track-border-color: var(
        --swc-progress-circle-track-border-color,
        token('track-color')
    );
    --_swc-progress-circle-fill-border-color: var(
        --swc-progress-circle-fill-border-color,
        token('accent-content-color-default')
    );
    --_swc-progress-circle-thickness: var(
        --swc-progress-circle-thickness,
        token('progress-circle-thickness-medium')
    );

    display: inline-block;
    inline-size: var(--_swc-progress-circle-size);
    block-size: var(--_swc-progress-circle-size);
    position: relative;
    direction: ltr;
    transform: translateZ(0);
}

.swc-ProgressCircle-fill,
.swc-ProgressCircle-track {
    inline-size: var(--_swc-progress-circle-size);
    block-size: var(--_swc-progress-circle-size);
}

.swc-ProgressCircle-track {
    stroke-width: var(--_swc-progress-circle-thickness);
    stroke: var(--_swc-progress-circle-track-border-color);
}

.swc-ProgressCircle-fill {
    stroke-width: var(--_swc-progress-circle-thickness);
    stroke: var(--_swc-progress-circle-fill-border-color);
    transform: rotate(-90deg);
    transform-origin: center;
}

.swc-ProgressCircle--indeterminate .swc-ProgressCircle-fill {
    will-change: transform;
    animation:
        swc-fills-rotate 1s cubic-bezier(0.6, 0.1, 0.3, 0.9) infinite,
        swc-dashoffset-animation 1s cubic-bezier(0.25, 0.1, 0.25, 1.3) infinite;
    transform-origin: center;
}

:host([size='s']) {
    --swc-progress-circle-size: token('progress-circle-size-small');
    --swc-progress-circle-thickness: token('progress-circle-thickness-small');
}

:host([size='l']) {
    --swc-progress-circle-size: token('progress-circle-size-large');
    --swc-progress-circle-thickness: token('progress-circle-thickness-large');
}

.swc-ProgressCircle:where(.swc-ProgressCircle--staticWhite) {
    --swc-progress-circle-track-border-color: token('static-white-track-color');
    --swc-progress-circle-fill-border-color: token(
        'static-white-track-indicator-color'
    );
}

.swc-ProgressCircle:where(.swc-ProgressCircle--staticBlack) {
    --swc-progress-circle-track-border-color: token('static-black-track-color');
    --swc-progress-circle-fill-border-color: token(
        'static-black-track-indicator-color'
    );
}

slot {
    display: none;
}

@media (forced-colors: active) {
    .swc-ProgressCircle {
        --swc-progress-circle-fill-border-color: Highlight;
        --swc-progress-circle-track-color: Canvas;

        @media (prefers-color-scheme: dark) {
            --swc-progress-circle-track-border-color: token(
                'static-white-track-color'
            );
        }

        @media (prefers-color-scheme: light) {
            --swc-progress-circle-track-border-color: token(
                'static-black-track-color'
            );
        }
    }
}
