/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import '@spectrum-web-components/styles/core-global.css';
@import '@spectrum-web-components/styles/fonts.css';
@import '@spectrum-web-components/styles/scale-medium.css';
@import '@spectrum-web-components/styles/typography.css';
@import '@spectrum-css/table/dist/index-vars.css';

@import '@spectrum-web-components/styles/theme-dark.css' screen and
    (prefers-color-scheme: dark);
@import '@spectrum-web-components/styles/theme-light.css' screen and
    (prefers-color-scheme: light);

body {
    margin: 0;
    background-color: var(--spectrum-global-color-gray-50);
}

@media screen and (min-width: 961px) {
    docs-page:not(:defined) {
        position: absolute;
        left: calc(var(--spectrum-global-dimension-size-2400) + 48px);
        right: 0;
        padding: 72px 0 24px;
    }

    docs-page:not(:defined) > * {
        display: block;
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 52px 0;
        overflow: hidden;
    }
}

@media screen and (max-width: 960px) {
    docs-page:not(:defined) {
        display: block;
        padding: 121px 16px 24px;
    }
}

docs-page sp-button:not(:defined) {
    height: auto;
    min-width: var(--spectrum-button-primary-min-width);
    padding-bottom: calc(var(--spectrum-global-dimension-size-50) + 1px);
    padding-top: calc(var(--spectrum-global-dimension-size-50) - 1px);
    font-size: var(
        --spectrum-button-primary-text-size,
        var(--spectrum-alias-pill-button-text-size)
    );
    font-weight: var(
        --spectrum-button-primary-text-font-weight,
        var(--spectrum-global-font-weight-bold)
    );
    border-style: solid;
    background-color: var(
        --spectrum-button-primary-background-color-disabled,
        var(--spectrum-global-color-gray-200)
    );
    border-color: var(
        --spectrum-button-primary-border-color-disabled,
        var(--spectrum-global-color-gray-200)
    );
    color: var(
        --spectrum-button-primary-text-color-disabled,
        var(--spectrum-global-color-gray-500)
    );
    display: inline-flex;
    flex: 1 1 auto;
    appearance: none;
    border-radius: calc(
        var(
                --spectrum-button-primary-border-radius,
                var(--spectrum-alias-border-radius-large)
            ) +
            var(
                --spectrum-alias-focus-ring-gap,
                var(--spectrum-global-dimension-static-size-25)
            )
    );
    padding: var(--spectrum-global-dimension-size-50)
        calc(
            var(
                    --spectrum-button-primary-padding-x,
                    var(--spectrum-global-dimension-size-200)
                ) -
                var(
                    --spectrum-button-primary-border-size,
                    var(--spectrum-alias-border-size-thick)
                )
        );
    padding-bottom: calc(var(--spectrum-global-dimension-size-50) + 1px);
    padding-top: calc(var(--spectrum-global-dimension-size-50) - 1px);
    border-width: var(
        --spectrum-button-primary-border-size,
        var(--spectrum-alias-border-size-thick)
    );
    line-height: 1.3;
    min-height: var(
        --spectrum-button-primary-height,
        var(--spectrum-alias-single-line-height)
    );
    box-sizing: border-box;
    vertical-align: top;
}

docs-page:not(:defined) code-example {
    color: var(--spectrum-body-3-text-color, var(--spectrum-alias-text-color));
}

docs-page:not(:defined) sp-sidenav {
    position: absolute;
    top: 142px;
    right: 100%;
    padding: 0 24px 24px;
}

sp-sidenav:not(:defined) {
    display: block;
    list-style: none;
    width: var(--spectrum-global-dimension-size-2400);
}

sp-sidenav:not(:defined) sp-sidenav-item {
    display: list-item;
    margin: var(
            --spectrum-sidenav-item-gap,
            var(--spectrum-global-dimension-size-50)
        )
        0;
}

sp-sidenav:not(:defined) a,
sp-sidenav:not(:defined) span {
    min-height: var(
        --spectrum-sidenav-item-height,
        var(--spectrum-alias-single-line-height)
    );
    color: var(--spectrum-body-3-text-color, var(--spectrum-alias-text-color));
    padding: var(--spectrum-global-dimension-size-65)
        var(
            --spectrum-sidenav-item-padding-x,
            var(--spectrum-global-dimension-size-150)
        );
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    width: 100%;
    min-height: var(
        --spectrum-sidenav-item-height,
        var(--spectrum-alias-single-line-height)
    );
    font-size: var(
        --spectrum-sidenav-item-text-size,
        var(--spectrum-alias-font-size-default)
    );
    font-style: normal;
    font-weight: var(
        --spectrum-sidenav-item-font-weight,
        var(--spectrum-global-font-weight-regular)
    );
    word-break: break-word;
    hyphens: auto;
    cursor: pointer;
    background-color: var(
        --spectrum-sidenav-item-background-color,
        var(--spectrum-alias-background-color-transparent)
    );
    color: var(
        --spectrum-sidenav-item-text-color,
        var(--spectrum-alias-text-color)
    );
    text-decoration: none;
}

sp-sidenav:not(:defined) span {
    font-weight: var(--spectrum-global-font-weight-bold);
}

sp-sidenav:not(:defined) a {
    padding-left: calc(
        var(
                --spectrum-sidenav-multilevel-item-indentation-level1,
                var(--spectrum-global-dimension-size-150)
            ) +
            var(
                --spectrum-sidenav-item-padding-x,
                var(--spectrum-global-dimension-size-150)
            )
    );
}

docs-page:not(:defined) .header-anchor {
    display: none;
}

#hero {
    margin-bottom: 3em;
}

#hero .spectrum-Article {
    padding-bottom: 2em;
}

#hero-buttons {
    margin-top: 1em;
}

#features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature {
    flex: 0 1 calc(33.33% - 30px);
    padding: 0 0 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 1100px) {
    .feature {
        flex: 0 1 calc(50% - 30px);
    }
    .feature:first-of-type {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 960px) {
    .feature {
        flex: 0 1 calc(33.33% - 30px);
    }
    .feature:first-of-type {
        flex: 0 1 calc(33.33% - 30px);
    }
}

@media screen and (max-width: 725px) {
    .feature {
        flex: 0 1 calc(50% - 30px);
    }
    .feature:first-of-type {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 525px) {
    .feature {
        flex: 0 1 100%;
    }
}

.example {
    margin-top: 2em;
}

.spectrum-Heading4 {
    margin-bottom: 16px;
}

#title-header {
    margin-bottom: 2rem;
}

#title-header h1,
#hero h1 {
    margin: var(--spectrum-global-dimension-size-100) 0;
}

@media screen and (max-width: 768px) {
    #title-header h1,
    #hero h1 {
        font-size: 44px;
        letter-spacing: normal;
    }
}

.spectrum-Body4 code {
    color: var(--spectrum-global-color-blue-700);
}

.spectrum-Article .spectrum-Heading1 {
    margin-bottom: 28px;
}

hr.spectrum-Rule {
    margin-bottom: 33px;
}

article {
    margin-bottom: 3em;
}

.spectrum-Table {
    width: 100%;
}

.spectrum-Table-body {
    --spectrum-table-row-background-color: var(--spectrum-global-color-gray-75);
}

.table-container {
    overflow: auto;
    margin: 0 -52px;
}

.table-container > table {
    padding: 0 52px;
    max-width: 960px;
}

@media screen and (max-width: 960px) {
    .table-container {
        overflow: auto;
        margin: 0 -16px;
    }

    .table-container > table {
        padding: 0 16px;
    }
}

.headerContainer {
    margin-bottom: var(--spectrum-global-dimension-size-400);
}

[id] > .header-anchor {
    opacity: 0;
    transition: all 125ms ease-in-out;
}

.header-anchor:focus-visible {
    opacity: 1;
}

h1[id],
h2[id],
h3[id] {
    scroll-margin-top: var(--spectrum-global-dimension-static-size-1200);
}

[id]:hover > .header-anchor {
    opacity: 1;
}

sp-link img {
    box-shadow: 0 2px 0 0 transparent;
    transition: box-shadow var(--spectrum-global-animation-duration-300)
        ease-in-out;
}

sp-link:focus-visible img {
    box-shadow: 0 2px 0 0
        var(
            --spectrum-fieldbutton-border-color-key-focus,
            var(--spectrum-alias-border-color-focus)
        );
}

sp-link:hover img {
    box-shadow: 0 2px 0 0
        var(
            --spectrum-fieldbutton-text-color-hover,
            var(--spectrum-alias-text-color-hover)
        );
}

.spectrum-web {
    margin-top: 80px;
    display: block;
}

sp-tab-list:not(:defined) {
    display: block;
    height: calc(
        2px +
            var(
                --spectrum-tabs-height,
                var(--spectrum-global-dimension-size-600)
            ) -
            var(
                --spectrum-tabs-rule-height,
                var(--spectrum-alias-border-size-thick)
            )
    );
}

.markup {
    position: relative;
    max-width: 100%;
    padding: 0.75rem 1.5rem;
    border-radius: 0 0 6px 6px;
    border-top: 1px solid var(--spectrum-global-color-gray-100);
    background: var(--spectrum-global-color-gray-75);
    overflow: hidden;
    line-height: 1.3em;
    overflow-x: auto;
}

docs-page:defined .parts {
    display: grid;
    grid-template-columns: 100%;
}

docs-page:defined .section {
    grid-area: 1/1/1/1;
    overflow: hidden;
    opacity: 1;
    height: 100%;
    transition: opacity var(--spectrum-global-animation-duration-300)
            ease-in-out,
        transform var(--spectrum-global-animation-duration-300) ease-in-out;
}

docs-page:defined [selected='api'] + .parts .examples,
docs-page:defined [selected='examples'] + .parts .api {
    opacity: 0;
    height: 0;
    pointer-events: none;
    transform: translateY(
        var(
            --spectrum-dropdown-flyout-menu-offset-y,
            var(--spectrum-global-dimension-size-75)
        )
    );
    transition: opacity var(--spectrum-global-animation-duration-300)
            ease-in-out,
        transform var(--spectrum-global-animation-duration-300) ease-in-out,
        height 0s ease var(--spectrum-global-animation-duration-300);
}
