/*
Copyright 2020 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

/* stylelint-disable */
:host,
:root {
    --spectrum-global-color-status: Verified;
    --spectrum-global-color-version: 5.1;
    --spectrum-global-color-celery-400: #44b556;
    --spectrum-global-color-celery-500: #3da74e;
    --spectrum-global-color-celery-600: #379947;
    --spectrum-global-color-celery-700: #318b40;
    --spectrum-global-color-chartreuse-400: #85d044;
    --spectrum-global-color-chartreuse-500: #7cc33f;
    --spectrum-global-color-chartreuse-600: #73b53a;
    --spectrum-global-color-chartreuse-700: #6aa834;
    --spectrum-global-color-yellow-400: #dfbf00;
    --spectrum-global-color-yellow-500: #d2b200;
    --spectrum-global-color-yellow-600: #c4a600;
    --spectrum-global-color-yellow-700: #b79900;
    --spectrum-global-color-magenta-400: #d83790;
    --spectrum-global-color-magenta-500: #ce2783;
    --spectrum-global-color-magenta-600: #bc1c74;
    --spectrum-global-color-magenta-700: #ae0e66;
    --spectrum-global-color-fuchsia-400: #c038cc;
    --spectrum-global-color-fuchsia-500: #b130bd;
    --spectrum-global-color-fuchsia-600: #a228ad;
    --spectrum-global-color-fuchsia-700: #93219e;
    --spectrum-global-color-purple-400: #9256d9;
    --spectrum-global-color-purple-500: #864ccc;
    --spectrum-global-color-purple-600: #7a42bf;
    --spectrum-global-color-purple-700: #6f38b1;
    --spectrum-global-color-indigo-400: #6767ec;
    --spectrum-global-color-indigo-500: #5c5ce0;
    --spectrum-global-color-indigo-600: #5151d3;
    --spectrum-global-color-indigo-700: #4646c6;
    --spectrum-global-color-seafoam-400: #1b959a;
    --spectrum-global-color-seafoam-500: #16878c;
    --spectrum-global-color-seafoam-600: #0f797d;
    --spectrum-global-color-seafoam-700: #096c6f;
    --spectrum-global-color-red-400: #e34850;
    --spectrum-global-color-red-500: #d7373f;
    --spectrum-global-color-red-600: #c9252d;
    --spectrum-global-color-red-700: #bb121a;
    --spectrum-global-color-orange-400: #e68619;
    --spectrum-global-color-orange-500: #da7b11;
    --spectrum-global-color-orange-600: #cb6f10;
    --spectrum-global-color-orange-700: #bd640d;
    --spectrum-global-color-green-400: #2d9d78;
    --spectrum-global-color-green-500: #268e6c;
    --spectrum-global-color-green-600: #12805c;
    --spectrum-global-color-green-700: #107154;
    --spectrum-global-color-blue-400: #2680eb;
    --spectrum-global-color-blue-500: #1473e6;
    --spectrum-global-color-blue-600: #0d66d0;
    --spectrum-global-color-blue-700: #095aba;
    --spectrum-global-color-gray-50: #fff;
    --spectrum-global-color-gray-75: #fafafa;
    --spectrum-global-color-gray-100: #f5f5f5;
    --spectrum-global-color-gray-200: #eaeaea;
    --spectrum-global-color-gray-300: #e1e1e1;
    --spectrum-global-color-gray-400: #cacaca;
    --spectrum-global-color-gray-500: #b3b3b3;
    --spectrum-global-color-gray-600: #8e8e8e;
    --spectrum-global-color-gray-700: #6e6e6e;
    --spectrum-global-color-gray-800: #4b4b4b;
    --spectrum-global-color-gray-900: #2c2c2c;
    --spectrum-alias-background-color-primary: var(
        --spectrum-global-color-gray-50
    );
    --spectrum-alias-background-color-secondary: var(
        --spectrum-global-color-gray-100
    );
    --spectrum-alias-background-color-tertiary: var(
        --spectrum-global-color-gray-300
    );
    --spectrum-alias-background-color-modal-overlay: rgba(0, 0, 0, 0.4);
    --spectrum-alias-dropshadow-color: rgba(0, 0, 0, 0.15);
    --spectrum-alias-background-color-hover-overlay: rgba(44, 44, 44, 0.04);
    --spectrum-alias-highlight-hover: rgba(44, 44, 44, 0.06);
    --spectrum-alias-highlight-active: rgba(44, 44, 44, 0.1);
    --spectrum-alias-highlight-selected: rgba(20, 115, 230, 0.1);
    --spectrum-alias-highlight-selected-hover: rgba(20, 115, 230, 0.2);
    --spectrum-alias-text-highlight-color: rgba(20, 115, 230, 0.2);
    --spectrum-alias-background-color-quickactions: hsla(0, 0%, 96.1%, 0.9);
    --spectrum-alias-border-color-selected: var(
        --spectrum-global-color-blue-500
    );
    --spectrum-alias-radial-reaction-color-default: rgba(75, 75, 75, 0.6);
    --spectrum-alias-pasteboard-background-color: var(
        --spectrum-global-color-gray-300
    );
    --spectrum-alias-appframe-border-color: var(
        --spectrum-global-color-gray-300
    );
    --spectrum-alias-appframe-separator-color: var(
        --spectrum-global-color-gray-300
    );
    --spectrum-colorarea-border-color: rgba(44, 44, 44, 0.1);
    --spectrum-colorarea-border-color-hover: rgba(44, 44, 44, 0.1);
    --spectrum-colorarea-border-color-down: rgba(44, 44, 44, 0.1);
    --spectrum-colorarea-border-color-key-focus: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-border-color: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-border-color-hover: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-border-color-down: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-border-color-key-focus: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-vertical-border-color: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-vertical-border-color-hover: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-vertical-border-color-down: rgba(44, 44, 44, 0.1);
    --spectrum-colorslider-vertical-border-color-key-focus: rgba(
        44,
        44,
        44,
        0.1
    );
    --spectrum-colorwheel-border-color: rgba(44, 44, 44, 0.1);
    --spectrum-colorwheel-border-color-hover: rgba(44, 44, 44, 0.1);
    --spectrum-colorwheel-border-color-down: rgba(44, 44, 44, 0.1);
    --spectrum-colorwheel-border-color-key-focus: rgba(44, 44, 44, 0.1);
    --spectrum-divider-s-background-color: colorStopData.light.colorTokens.gray-300;
    --spectrum-divider-s-vertical-background-color: colorStopData.light.colorTokens.gray-300;
    --spectrum-divider-m-background-color: colorStopData.light.colorTokens.gray-300;
    --spectrum-divider-m-vertical-background-color: colorStopData.light.colorTokens.gray-300;
    --spectrum-divider-l-background-color: colorStopData.light.colorTokens.gray-800;
    --spectrum-divider-l-vertical-background-color: colorStopData.light.colorTokens.gray-800;
    --spectrum-miller-column-item-background-color-selected: rgba(
        20,
        115,
        230,
        0.1
    );
    --spectrum-miller-column-item-background-color-selected-hover: rgba(
        20,
        115,
        230,
        0.2
    );
    --spectrum-panel-l-divider-color: colorStopData.light.colorAliases.appframe-border-color;
    --spectrum-panel-l-collapsible-divider-color: colorStopData.light.colorAliases.appframe-border-color;
    --spectrum-panel-s-divider-color: colorStopData.light.colorAliases.appframe-border-color;
    --spectrum-panel-s-collapsible-divider-color: colorStopData.light.colorAliases.appframe-border-color;
    --spectrum-well-background-color: rgba(75, 75, 75, 0.02);
    --spectrum-well-border-color: rgba(44, 44, 44, 0.05);
}
/* stylelint-enable */
