/*
Copyright 2020 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

/* stylelint-disable */
:host,
:root {
    --spectrum-global-color-status: Verified;
    --spectrum-global-color-version: 5.1;
    --spectrum-global-color-celery-400: #4bc35f;
    --spectrum-global-color-celery-500: #44b556;
    --spectrum-global-color-celery-600: #3da74e;
    --spectrum-global-color-celery-700: #379947;
    --spectrum-global-color-chartreuse-400: #8ede49;
    --spectrum-global-color-chartreuse-500: #85d044;
    --spectrum-global-color-chartreuse-600: #7cc33f;
    --spectrum-global-color-chartreuse-700: #73b53a;
    --spectrum-global-color-yellow-400: #edcc00;
    --spectrum-global-color-yellow-500: #dfbf00;
    --spectrum-global-color-yellow-600: #d2b200;
    --spectrum-global-color-yellow-700: #c4a600;
    --spectrum-global-color-magenta-400: #e2499d;
    --spectrum-global-color-magenta-500: #d83790;
    --spectrum-global-color-magenta-600: #ca2982;
    --spectrum-global-color-magenta-700: #bc1c74;
    --spectrum-global-color-fuchsia-400: #cf3edc;
    --spectrum-global-color-fuchsia-500: #c038cc;
    --spectrum-global-color-fuchsia-600: #b130bd;
    --spectrum-global-color-fuchsia-700: #a228ad;
    --spectrum-global-color-purple-400: #9d64e1;
    --spectrum-global-color-purple-500: #9256d9;
    --spectrum-global-color-purple-600: #864ccc;
    --spectrum-global-color-purple-700: #7a42bf;
    --spectrum-global-color-indigo-400: #7575f1;
    --spectrum-global-color-indigo-500: #6767ec;
    --spectrum-global-color-indigo-600: #5c5ce0;
    --spectrum-global-color-indigo-700: #5151d3;
    --spectrum-global-color-seafoam-400: #20a3a8;
    --spectrum-global-color-seafoam-500: #1b959a;
    --spectrum-global-color-seafoam-600: #16878c;
    --spectrum-global-color-seafoam-700: #0f797d;
    --spectrum-global-color-red-400: #ec5b62;
    --spectrum-global-color-red-500: #e34850;
    --spectrum-global-color-red-600: #d7373f;
    --spectrum-global-color-red-700: #c9252d;
    --spectrum-global-color-orange-400: #f29423;
    --spectrum-global-color-orange-500: #e68619;
    --spectrum-global-color-orange-600: #da7b11;
    --spectrum-global-color-orange-700: #cb6f10;
    --spectrum-global-color-green-400: #33ab84;
    --spectrum-global-color-green-500: #2d9d78;
    --spectrum-global-color-green-600: #268e6c;
    --spectrum-global-color-green-700: #12805c;
    --spectrum-global-color-blue-400: #378ef0;
    --spectrum-global-color-blue-500: #2680eb;
    --spectrum-global-color-blue-600: #1473e6;
    --spectrum-global-color-blue-700: #0d66d0;
    --spectrum-global-color-gray-50: #fff;
    --spectrum-global-color-gray-75: #fff;
    --spectrum-global-color-gray-100: #fff;
    --spectrum-global-color-gray-200: #f4f4f4;
    --spectrum-global-color-gray-300: #eaeaea;
    --spectrum-global-color-gray-400: #d3d3d3;
    --spectrum-global-color-gray-500: #bcbcbc;
    --spectrum-global-color-gray-600: #959595;
    --spectrum-global-color-gray-700: #747474;
    --spectrum-global-color-gray-800: #505050;
    --spectrum-global-color-gray-900: #323232;
    --spectrum-alias-background-color-primary: var(
        --spectrum-global-color-gray-50
    );
    --spectrum-alias-background-color-secondary: var(
        --spectrum-global-color-gray-100
    );
    --spectrum-alias-background-color-tertiary: var(
        --spectrum-global-color-gray-300
    );
    --spectrum-alias-background-color-modal-overlay: rgba(0, 0, 0, 0.4);
    --spectrum-alias-dropshadow-color: rgba(0, 0, 0, 0.15);
    --spectrum-alias-background-color-hover-overlay: rgba(50, 50, 50, 0.04);
    --spectrum-alias-highlight-hover: rgba(50, 50, 50, 0.06);
    --spectrum-alias-highlight-active: rgba(50, 50, 50, 0.1);
    --spectrum-alias-highlight-selected: rgba(38, 128, 235, 0.1);
    --spectrum-alias-highlight-selected-hover: rgba(38, 128, 235, 0.2);
    --spectrum-alias-text-highlight-color: rgba(38, 128, 235, 0.2);
    --spectrum-alias-background-color-quickactions: hsla(0, 0%, 100%, 0.9);
    --spectrum-alias-border-color-selected: var(
        --spectrum-global-color-blue-500
    );
    --spectrum-alias-radial-reaction-color-default: rgba(80, 80, 80, 0.6);
    --spectrum-alias-pasteboard-background-color: var(
        --spectrum-global-color-gray-300
    );
    --spectrum-alias-appframe-border-color: var(
        --spectrum-global-color-gray-300
    );
    --spectrum-alias-appframe-separator-color: var(
        --spectrum-global-color-gray-300
    );
    --spectrum-colorarea-border-color: rgba(50, 50, 50, 0.1);
    --spectrum-colorarea-border-color-hover: rgba(50, 50, 50, 0.1);
    --spectrum-colorarea-border-color-down: rgba(50, 50, 50, 0.1);
    --spectrum-colorarea-border-color-key-focus: rgba(50, 50, 50, 0.1);
    --spectrum-colorslider-border-color: rgba(50, 50, 50, 0.1);
    --spectrum-colorslider-border-color-hover: rgba(50, 50, 50, 0.1);
    --spectrum-colorslider-border-color-down: rgba(50, 50, 50, 0.1);
    --spectrum-colorslider-border-color-key-focus: rgba(50, 50, 50, 0.1);
    --spectrum-colorslider-vertical-border-color: rgba(50, 50, 50, 0.1);
    --spectrum-colorslider-vertical-border-color-hover: rgba(50, 50, 50, 0.1);
    --spectrum-colorslider-vertical-border-color-down: rgba(50, 50, 50, 0.1);
    --spectrum-colorslider-vertical-border-color-key-focus: rgba(
        50,
        50,
        50,
        0.1
    );
    --spectrum-colorwheel-border-color: rgba(50, 50, 50, 0.1);
    --spectrum-colorwheel-border-color-hover: rgba(50, 50, 50, 0.1);
    --spectrum-colorwheel-border-color-down: rgba(50, 50, 50, 0.1);
    --spectrum-colorwheel-border-color-key-focus: rgba(50, 50, 50, 0.1);
    --spectrum-miller-column-item-background-color-selected: rgba(
        38,
        128,
        235,
        0.1
    );
    --spectrum-miller-column-item-background-color-selected-hover: rgba(
        38,
        128,
        235,
        0.2
    );
    --spectrum-well-background-color: rgba(80, 80, 80, 0.02);
    --spectrum-well-border-color: rgba(50, 50, 50, 0.05);
}
/* stylelint-enable */
