/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-UIIcon-ChevronRight50 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-50);
}

.spectrum-UIIcon-ChevronRight75 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-75);
}

.spectrum-UIIcon-ChevronRight100 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-100);
}

.spectrum-UIIcon-ChevronRight200 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-200);
}

.spectrum-UIIcon-ChevronRight300 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-300);
}

.spectrum-UIIcon-ChevronRight400 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-400);
}

.spectrum-UIIcon-ChevronRight500 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-500);
}

.spectrum-UIIcon-ChevronDown50 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-50);
    transform: rotate(90deg);
}

.spectrum-UIIcon-ChevronDown75 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-75);
    transform: rotate(90deg);
}

.spectrum-UIIcon-ChevronDown100 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-100);
    transform: rotate(90deg);
}

.spectrum-UIIcon-ChevronDown200 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-200);
    transform: rotate(90deg);
}

.spectrum-UIIcon-ChevronDown300 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-300);
    transform: rotate(90deg);
}

.spectrum-UIIcon-ChevronDown400 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-400);
    transform: rotate(90deg);
}

.spectrum-UIIcon-ChevronDown500 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-500);
    transform: rotate(90deg);
}

.spectrum-UIIcon-ChevronLeft50 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-50);
    transform: rotate(180deg);
}

.spectrum-UIIcon-ChevronLeft75 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-75);
    transform: rotate(180deg);
}

.spectrum-UIIcon-ChevronLeft100 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-100);
    transform: rotate(180deg);
}

.spectrum-UIIcon-ChevronLeft200 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-200);
    transform: rotate(180deg);
}

.spectrum-UIIcon-ChevronLeft300 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-300);
    transform: rotate(180deg);
}

.spectrum-UIIcon-ChevronLeft400 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-400);
    transform: rotate(180deg);
}

.spectrum-UIIcon-ChevronLeft500 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-500);
    transform: rotate(180deg);
}

.spectrum-UIIcon-ChevronUp50 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-50);
    transform: rotate(270deg);
}

.spectrum-UIIcon-ChevronUp75 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-75);
    transform: rotate(270deg);
}

.spectrum-UIIcon-ChevronUp100 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-100);
    transform: rotate(270deg);
}

.spectrum-UIIcon-ChevronUp200 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-200);
    transform: rotate(270deg);
}

.spectrum-UIIcon-ChevronUp300 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-300);
    transform: rotate(270deg);
}

.spectrum-UIIcon-ChevronUp400 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-400);
    transform: rotate(270deg);
}

.spectrum-UIIcon-ChevronUp500 {
    --spectrum-icon-size: var(--spectrum-chevron-icon-size-500);
    transform: rotate(270deg);
}
