/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.spectrum-UIIcon-Checkmark50 {
    --spectrum-icon-size: var(--spectrum-checkmark-icon-size-50);
}

.spectrum-UIIcon-Checkmark75 {
    --spectrum-icon-size: var(--spectrum-checkmark-icon-size-75);
}

.spectrum-UIIcon-Checkmark100 {
    --spectrum-icon-size: var(--spectrum-checkmark-icon-size-100);
}

.spectrum-UIIcon-Checkmark200 {
    --spectrum-icon-size: var(--spectrum-checkmark-icon-size-200);
}

.spectrum-UIIcon-Checkmark300 {
    --spectrum-icon-size: var(--spectrum-checkmark-icon-size-300);
}

.spectrum-UIIcon-Checkmark400 {
    --spectrum-icon-size: var(--spectrum-checkmark-icon-size-400);
}

.spectrum-UIIcon-Checkmark500 {
    --spectrum-icon-size: var(--spectrum-checkmark-icon-size-500);
}

.spectrum-UIIcon-Checkmark600 {
    --spectrum-icon-size: var(--spectrum-checkmark-icon-size-600);
}
