/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import './spectrum-tab-list.css';

/* 
 * The shorthand border declaration in :host([direction='horizontal']) was overiding
 * the border-bottom-color declared in :host 
 */
:host([direction='horizontal']) {
    border-bottom-color: var(
        --spectrum-tabs-rule-color,
        var(--spectrum-global-color-gray-200)
    );
}

:host([direction='horizontal']) #selectionIndicator {
    width: 1px;
}

/* Original selector from spectrum-css:
 * .spectrum-Tabs--horizontal .spectrum-Tabs-item + *:not(.spectrum-Tabs-selectionIndicator)
 *
 * The original selector matches all elements (excluding the selectionIndicactor) that are adjacent to a tab-item.
 * We can't follow this approach because complex selectors are restricted in ::slotted pseudo elements.
 * The following would not work -- :host([direction='horizontal']) ::slotted(sp-tab-item + *:not(.spectrum-Tabs-selectionIndicator))
 *
 * This revision matches all tabs except for the first, which achieves the same effect.
 */

:host([direction='horizontal']) ::slotted(sp-tab:not(:first-child)) {
    margin-left: var(
        --spectrum-tabs-item-gap,
        var(--spectrum-global-dimension-size-300)
    );
}

/*
 * While https://github.com/adobe/spectrum-css/issues/641 goes unaddressed,
 * then we'll need to place this at `top: 0;` ourselves.
 */
:host([direction='vertical-right']) #selectionIndicator,
:host([direction='vertical']) #selectionIndicator {
    top: 0;
    height: 1px;
}

/* 
 * Since #tab is the shadowSelector for tab-item, the default line-height
 * declaration in #tab overrides the compact line-height declared in
 * :host([direction='vertical'][compact]) ::slotted(*)
 */
:host([compact]) {
    --spectrum-tabs-height: var(--spectrum-tabs-quiet-compact-height);
}

/*
 * The following manually add the `vertical-right` direction to sp-tab-list
 * It can be removed after https://github.com/adobe/spectrum-css/issues/637 is resolved
 * In the interim, if there are ever Visual Regression failures to the 'Vertical' tabs story
 * then it is likely that this CSS will need to be updated with changes in @spectrum-css/tabs
 */
:host([direction='vertical-right']) {
    /* .spectrum-Tabs--vertical */
    display: inline-flex;
    flex-direction: column;
    padding: 0;
    border-right: var(
            --spectrum-tabs-vertical-rule-width,
            var(--spectrum-alias-border-size-thick)
        )
        solid; /* .spectrum-Tabs--vertical */

    border-right-color: var(
        --spectrum-tabs-vertical-rule-color,
        var(--spectrum-global-color-gray-200)
    );
}
:host([direction='vertical-right']) ::slotted(*) {
    /* .spectrum-Tabs--vertical .spectrum-Tabs-item */
    height: var(
        --spectrum-tabs-vertical-item-height,
        var(--spectrum-global-dimension-size-550)
    );
    padding: 0
        var(
            --spectrum-tabs-focus-ring-padding-x,
            var(--spectrum-global-dimension-size-100)
        );
    margin-right: calc(
        var(
                --spectrum-tabs-vertical-item-margin-left,
                var(--spectrum-global-dimension-size-150)
            ) -
            var(
                --spectrum-tabs-focus-ring-padding-x,
                var(--spectrum-global-dimension-size-100)
            )
    );
    margin-bottom: var(
        --spectrum-tabs-vertical-item-gap,
        var(--spectrum-global-dimension-size-50)
    );
}
:host([direction='vertical-right'][compact]) ::slotted(*) {
    /* .spectrum-Tabs--vertical.spectrum-Tabs--compact .spectrum-Tabs-item */
    line-height: var(
        --spectrum-tabs-compact-vertical-item-height,
        var(--spectrum-global-dimension-size-400)
    );
    margin-bottom: var(
        --spectrum-tabs-compact-vertical-item-gap,
        var(--spectrum-global-dimension-size-50)
    ); /* .spectrum-Tabs--vertical.spectrum-Tabs--compact .spectrum-Tabs-item,
   * .spectrum-Tabs--vertical.spectrum-Tabs--compact .spectrum-Tabs-item .spectrum-Icon */

    height: var(
        --spectrum-tabs-compact-vertical-item-height,
        var(--spectrum-global-dimension-size-400)
    );
}
:host([direction='vertical-right']) #selectionIndicator {
    /* .spectrum-Tabs--vertical .spectrum-Tabs-selectionIndicator */
    position: absolute;
    left: auto;
    width: var(
        --spectrum-tabs-vertical-rule-width,
        var(--spectrum-alias-border-size-thick)
    );
    right: calc(
        -1 * var(--spectrum-tabs-vertical-rule-width, var(--spectrum-alias-border-size-thick))
    );
}
:host([direction='vertical-right'][compact]),
:host([direction='vertical-right'][quiet]) {
    /* .spectrum-Tabs--vertical.spectrum-Tabs--compact,
   * .spectrum-Tabs--vertical.spectrum-Tabs--quiet */
    border-right-color: var(
        --spectrum-tabs-quiet-vertical-rule-color,
        var(--spectrum-alias-border-color-transparent)
    );
}
:host([direction='vertical-right'][compact]) #selectionIndicator,
:host([direction='vertical-right'][quiet]) #selectionIndicator {
    /* .spectrum-Tabs--vertical.spectrum-Tabs--compact .spectrum-Tabs-selectionIndicator,
   * .spectrum-Tabs--vertical.spectrum-Tabs--quiet .spectrum-Tabs-selectionIndicator */
    background-color: var(
        --spectrum-tabs-quiet-selection-indicator-color,
        var(--spectrum-global-color-gray-900)
    );
}
