/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:host {
    --spectrum-coachmark-min-width: var(--system-coach-mark-min-width);
    --spectrum-coachmark-width: var(--system-coach-mark-width);
    --spectrum-coachmark-max-width: var(--system-coach-mark-max-width);
    --spectrum-coachmark-media-height: var(--system-coach-mark-media-height);
    --spectrum-coachmark-media-min-height: var(--system-coach-mark-media-min-height);
    --spectrum-coachmark-padding: var(--system-coach-mark-padding);
    --spectrum-coachmark-heading-to-action-button: var(--system-coach-mark-heading-to-action-button);
    --spectrum-coachmark-header-to-body: var(--system-coach-mark-header-to-body);
    --spectrum-coachmark-body-to-footer: var(--system-coach-mark-body-to-footer);
    --spectrum-coachmark-title-color: var(--system-coach-mark-title-color);
    --spectrum-coachmark-title-font-family: var(--system-coach-mark-title-font-family);
    --spectrum-coachmark-title-font-style: var(--system-coach-mark-title-font-style);
    --spectrum-coachmark-title-text-font-weight: var(--system-coach-mark-title-text-font-weight);
    --spectrum-coachmark-title-font-size: var(--system-coach-mark-title-font-size);
    --spectrum-coachmark-title-text-line-height: var(--system-coach-mark-title-text-line-height);
    --spectrum-coachmark-content-font-color: var(--system-coach-mark-content-font-color);
    --spectrum-coachmark-content-font-weight: var(--system-coach-mark-content-font-weight);
    --spectrum-coachmark-content-font-family: var(--system-coach-mark-content-font-family);
    --spectrum-coachmark-content-font-style: var(--system-coach-mark-content-font-style);
    --spectrum-coachmark-content-line-height: var(--system-coach-mark-content-line-height);
    --spectrum-coachmark-content-font-size: var(--system-coach-mark-content-font-size);
    --spectrum-coachmark-step-color: var(--system-coach-mark-step-color);
    --spectrum-coachmark-step-font-weight: var(--system-coach-mark-step-font-weight);
    --spectrum-coachmark-step-font-family: var(--system-coach-mark-step-font-family);
    --spectrum-coachmark-step-font-style: var(--system-coach-mark-step-font-style);
    --spectrum-coachmark-step-line-height: var(--system-coach-mark-step-line-height);
    --spectrum-coachmark-step-font-size: var(--system-coach-mark-step-font-size);
    --spectrum-coachmark-step-to-bottom: var(--system-coach-mark-step-to-bottom);
    --spectrum-coachmark-popover-border-width: var(--system-coach-mark-popover-border-width);
    --spectrum-coachmark-popover-corner-radius: var(--system-coach-mark-popover-corner-radius);
    --spectrum-coachmark-buttongroup-spacing-horizontal: var(--system-coach-mark-buttongroup-spacing-horizontal);
}
