/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:host {
    --spectrum-coach-indicator-ring-border-size: var(--system-coach-indicator-ring-border-size);
    --spectrum-coach-indicator-min-inline-size: var(--system-coach-indicator-min-inline-size);
    --spectrum-coach-indicator-min-block-size: var(--system-coach-indicator-min-block-size);
    --spectrum-coach-indicator-inline-size: var(--system-coach-indicator-inline-size);
    --spectrum-coach-indicator-block-size: var(--system-coach-indicator-block-size);
    --spectrum-coach-indicator-ring-inline-size: var(--system-coach-indicator-ring-inline-size);
    --spectrum-coach-indicator-ring-block-size: var(--system-coach-indicator-ring-block-size);
    --spectrum-coach-indicator-ring-dark-color: var(--system-coach-indicator-ring-dark-color);
    --spectrum-coach-indicator-ring-light-color: var(--system-coach-indicator-ring-light-color);
    --spectrum-coach-indicator-top: var(--system-coach-indicator-top);
    --spectrum-coach-indicator-left: var(--system-coach-indicator-left);
    --spectrum-coach-animation-indicator-ring-duration: var(--system-coach-indicator-coach-animation-indicator-ring-duration);
    --spectrum-coach-animation-indicator-ring-inner-delay-multiple: var(--system-coach-indicator-coach-animation-indicator-ring-inner-delay-multiple);
    --spectrum-coach-animation-indicator-ring-center-delay-multiple: var(--system-coach-indicator-coach-animation-indicator-ring-center-delay-multiple);
    --spectrum-coach-animation-indicator-ring-outer-delay-multiple: var(--system-coach-indicator-coach-animation-indicator-ring-outer-delay-multiple);
    --spectrum-coach-indicator-quiet-animation-ring-inner-delay-multiple: var(--system-coach-indicator-quiet-animation-ring-inner-delay-multiple);
    --spectrum-coach-indicator-animation-name: var(--system-coach-indicator-animation-name);
    --spectrum-coach-indicator-inner-animation-delay-multiple: var(--system-coach-indicator-inner-animation-delay-multiple);
    --spectrum-coach-indicator-animation-keyframe-0-scale: var(--system-coach-indicator-animation-keyframe-0-scale);
    --spectrum-coach-indicator-animation-keyframe-0-opacity: var(--system-coach-indicator-animation-keyframe-0-opacity);
    --spectrum-coach-indicator-animation-keyframe-50-scale: var(--system-coach-indicator-animation-keyframe-50-scale);
    --spectrum-coach-indicator-animation-keyframe-50-opacity: var(--system-coach-indicator-animation-keyframe-50-opacity);
    --spectrum-coach-indicator-animation-keyframe-100-scale: var(--system-coach-indicator-animation-keyframe-100-scale);
    --spectrum-coach-indicator-animation-keyframe-100-opacity: var(--system-coach-indicator-animation-keyframe-100-opacity);
    --spectrum-coach-indicator-quiet-animation-keyframe-0-scale: var(--system-coach-indicator-quiet-animation-keyframe-0-scale);
}

:host([quiet]) {
    --spectrum-coach-indicator-quiet-ring-diameter-size: var(--system-coach-indicator-quiet-quiet-ring-diameter-size);
    --spectrum-coach-indicator-animation-name: var(--system-coach-indicator-quiet-animation-name);
}
