// eleventy build directory
_site
!.eleventy.js
!content/_data/site.js

// extraced component docs
content/components
content/tools
custom-elements.json

// scripting
!/scripts/*.js

// typescript build artifacts
src/*.js
!src/postcss.config.js
src/*.js.map
src/components/*.js
src/components/*.js.map
src/util/tempaltes.js
src/util/tempaltes.js.map
src/custom-elements.json

// rollup build directory and artifacts
dist/
!web-dev-server.config.js
stats.html
