/*
Copyright 2018 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import './spectrum-illustratedmessage.css';

/* 
    @TODO: Implement spectrum typography components (ex: specturm-heading, spectrum-body)

    The following block maps to the .spectrum-Heading--pageTitle selector 
    in spectrum-css/dist/components/typography

    The css in that folder defines multiple typography classes, such as
    .spectrum-Heading and .spectrum-Body

    These components need to be implemented in another pass
*/
#heading {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.3;
    font-style: normal;
    letter-spacing: 0;
    text-transform: none;
    margin-top: 0;
    margin-bottom: 0;
}
