:host,
:root {
    --spectrum-neutral-background-color-selected-default: var(--spectrum-gray-800);
    --spectrum-neutral-background-color-selected-hover: var(--spectrum-gray-900);
    --spectrum-neutral-background-color-selected-down: var(--spectrum-gray-900);
    --spectrum-neutral-background-color-selected-key-focus: var(--spectrum-gray-900);
    --spectrum-slider-track-thickness: 4px;
    --spectrum-slider-handle-gap: 0px;
    --spectrum-picker-border-width: 0;
    --spectrum-in-field-button-fill-stacked-inner-border-rounding: 1px;
    --spectrum-in-field-button-edge-to-fill: 4px;
    --spectrum-in-field-button-stacked-inner-edge-to-fill: 1px;
    --spectrum-in-field-button-outer-edge-to-disclosure-icon-stacked-medium: 5px;
    --spectrum-in-field-button-outer-edge-to-disclosure-icon-stacked-large: 7px;
    --spectrum-in-field-button-outer-edge-to-disclosure-icon-stacked-extra-large: 8px;
    --spectrum-in-field-button-inner-edge-to-disclosure-icon-stacked-small: 1px;
    --spectrum-in-field-button-inner-edge-to-disclosure-icon-stacked-medium: 1px;
    --spectrum-in-field-button-inner-edge-to-disclosure-icon-stacked-large: 3px;
    --spectrum-in-field-button-inner-edge-to-disclosure-icon-stacked-extra-large: 4px;
    --spectrum-border-width-100: 2px;
    --spectrum-accent-color-100: var(--spectrum-indigo-100);
    --spectrum-accent-color-200: var(--spectrum-indigo-200);
    --spectrum-accent-color-300: var(--spectrum-indigo-300);
    --spectrum-accent-color-400: var(--spectrum-indigo-400);
    --spectrum-accent-color-500: var(--spectrum-indigo-500);
    --spectrum-accent-color-600: var(--spectrum-indigo-600);
    --spectrum-accent-color-700: var(--spectrum-indigo-700);
    --spectrum-accent-color-800: var(--spectrum-indigo-800);
    --spectrum-accent-color-900: var(--spectrum-indigo-900);
    --spectrum-accent-color-1000: var(--spectrum-indigo-1000);
    --spectrum-accent-color-1100: var(--spectrum-indigo-1100);
    --spectrum-accent-color-1200: var(--spectrum-indigo-1200);
    --spectrum-accent-color-1300: var(--spectrum-indigo-1300);
    --spectrum-accent-color-1400: var(--spectrum-indigo-1400);
    --spectrum-heading-sans-serif-font-weight: var(--spectrum-black-font-weight);
    --spectrum-heading-serif-font-weight: var(--spectrum-black-font-weight);
    --spectrum-heading-cjk-font-weight: var(--spectrum-black-font-weight);
    --spectrum-heading-sans-serif-emphasized-font-weight: var(--spectrum-black-font-weight);
    --spectrum-heading-serif-emphasized-font-weight: var(--spectrum-black-font-weight);
    --system: express;
}
