:host,
:root {
    --spectrum-checkbox-control-size-small: 18px;
    --spectrum-checkbox-control-size-medium: 20px;
    --spectrum-checkbox-control-size-large: 22px;
    --spectrum-checkbox-control-size-extra-large: 26px;
    --spectrum-checkbox-top-to-control-small: 6px;
    --spectrum-checkbox-top-to-control-medium: 10px;
    --spectrum-checkbox-top-to-control-large: 14px;
    --spectrum-checkbox-top-to-control-extra-large: 17px;
    --spectrum-switch-control-width-small: 32px;
    --spectrum-switch-control-width-medium: 36px;
    --spectrum-switch-control-width-large: 41px;
    --spectrum-switch-control-width-extra-large: 46px;
    --spectrum-switch-control-height-small: 18px;
    --spectrum-switch-control-height-medium: 20px;
    --spectrum-switch-control-height-large: 22px;
    --spectrum-switch-control-height-extra-large: 26px;
    --spectrum-switch-top-to-control-small: 6px;
    --spectrum-switch-top-to-control-medium: 10px;
    --spectrum-switch-top-to-control-large: 14px;
    --spectrum-switch-top-to-control-extra-large: 17px;
    --spectrum-radio-button-control-size-small: 18px;
    --spectrum-radio-button-control-size-medium: 20px;
    --spectrum-radio-button-control-size-large: 22px;
    --spectrum-radio-button-control-size-extra-large: 26px;
    --spectrum-radio-button-top-to-control-small: 6px;
    --spectrum-radio-button-top-to-control-medium: 10px;
    --spectrum-radio-button-top-to-control-large: 14px;
    --spectrum-radio-button-top-to-control-extra-large: 17px;
    --spectrum-slider-control-height-small: 22px;
    --spectrum-slider-control-height-medium: 24px;
    --spectrum-slider-control-height-large: 28px;
    --spectrum-slider-control-height-extra-large: 30px;
    --spectrum-slider-handle-size-small: 22px;
    --spectrum-slider-handle-size-medium: 24px;
    --spectrum-slider-handle-size-large: 28px;
    --spectrum-slider-handle-size-extra-large: 30px;
    --spectrum-slider-handle-border-width-down-small: var(--spectrum-border-width-200);
    --spectrum-slider-handle-border-width-down-medium: var(--spectrum-border-width-200);
    --spectrum-slider-handle-border-width-down-large: var(--spectrum-border-width-200);
    --spectrum-slider-handle-border-width-down-extra-large: var(--spectrum-border-width-200);
    --spectrum-slider-bottom-to-handle-small: 4px;
    --spectrum-slider-bottom-to-handle-medium: 8px;
    --spectrum-slider-bottom-to-handle-large: 12px;
    --spectrum-slider-bottom-to-handle-extra-large: 15px;
    --spectrum-corner-radius-75: 4px;
    --spectrum-corner-radius-100: 8px;
    --spectrum-corner-radius-200: 16px;
    --spectrum-drop-shadow-x: 0px;
    --spectrum-drop-shadow-y: 4px;
    --spectrum-drop-shadow-blur: 16px;
    --spectrum-colorwheel-path: "M 118 118 m -118 0 a 118 118 0 1 0 236 0 a 118 118 0 1 0 -236 0.2 M 118 118 m -92 0 a 92 92 0 1 0 184 0 a 92 92 0 1 0 -184 0";
    --spectrum-colorwheel-path-borders: "M 120 120 m -120 0 a 120 120 0 1 0 240 0 a 120 120 0 1 0 -240 0.2 M 120 120 m -90 0 a 90 90 0 1 0 180 0 a 90 90 0 1 0 -180 0";
    --spectrum-dialog-confirm-border-radius: 8px;
    --spectrum-dial-border-radius: 15px;
    --spectrum-assetcard-focus-ring-border-radius: 12px;
}
