:host,
:root {
    --spectrum-checkbox-control-size-small: 14px;
    --spectrum-checkbox-control-size-medium: 16px;
    --spectrum-checkbox-control-size-large: 18px;
    --spectrum-checkbox-control-size-extra-large: 20px;
    --spectrum-checkbox-top-to-control-small: 5px;
    --spectrum-checkbox-top-to-control-medium: 8px;
    --spectrum-checkbox-top-to-control-large: 11px;
    --spectrum-checkbox-top-to-control-extra-large: 14px;
    --spectrum-switch-control-width-small: 25px;
    --spectrum-switch-control-width-medium: 28px;
    --spectrum-switch-control-width-large: 32px;
    --spectrum-switch-control-width-extra-large: 35px;
    --spectrum-switch-control-height-small: 14px;
    --spectrum-switch-control-height-medium: 16px;
    --spectrum-switch-control-height-large: 18px;
    --spectrum-switch-control-height-extra-large: 20px;
    --spectrum-switch-top-to-control-small: 5px;
    --spectrum-switch-top-to-control-medium: 8px;
    --spectrum-switch-top-to-control-large: 11px;
    --spectrum-switch-top-to-control-extra-large: 14px;
    --spectrum-radio-button-control-size-small: 14px;
    --spectrum-radio-button-control-size-medium: 16px;
    --spectrum-radio-button-control-size-large: 18px;
    --spectrum-radio-button-control-size-extra-large: 20px;
    --spectrum-radio-button-top-to-control-small: 5px;
    --spectrum-radio-button-top-to-control-medium: 8px;
    --spectrum-radio-button-top-to-control-large: 11px;
    --spectrum-radio-button-top-to-control-extra-large: 14px;
    --spectrum-slider-control-height-small: 18px;
    --spectrum-slider-control-height-medium: 20px;
    --spectrum-slider-control-height-large: 22px;
    --spectrum-slider-control-height-extra-large: 24px;
    --spectrum-slider-handle-size-small: 18px;
    --spectrum-slider-handle-size-medium: 20px;
    --spectrum-slider-handle-size-large: 22px;
    --spectrum-slider-handle-size-extra-large: 24px;
    --spectrum-slider-handle-border-width-down-small: var(--spectrum-border-width-200);
    --spectrum-slider-handle-border-width-down-medium: var(--spectrum-border-width-200);
    --spectrum-slider-handle-border-width-down-large: var(--spectrum-border-width-200);
    --spectrum-slider-handle-border-width-down-extra-large: var(--spectrum-border-width-200);
    --spectrum-slider-bottom-to-handle-small: 3px;
    --spectrum-slider-bottom-to-handle-medium: 6px;
    --spectrum-slider-bottom-to-handle-large: 9px;
    --spectrum-slider-bottom-to-handle-extra-large: 12px;
    --spectrum-corner-radius-75: 3px;
    --spectrum-corner-radius-100: 6px;
    --spectrum-corner-radius-200: 12px;
    --spectrum-drop-shadow-x: 0px;
    --spectrum-drop-shadow-y: 4px;
    --spectrum-drop-shadow-blur: 16px;
    --spectrum-colorwheel-path: "M 94 94 m -94 0 a 94 94 0 1 0 188 0 a 94 94 0 1 0 -188 0.2 M 94 94 m -74 0 a 74 74 0 1 0 148 0 a 74 74 0 1 0 -148 0";
    --spectrum-colorwheel-path-borders: "M 96 96 m -96 0 a 96 96 0 1 0 192 0 a 96 96 0 1 0 -192 0.2 M 96 96 m -72 0 a 72 72 0 1 0 144 0 a 72 72 0 1 0 -144 0";
    --spectrum-dialog-confirm-border-radius: 6px;
    --spectrum-dial-border-radius: 12px;
    --spectrum-assetcard-focus-ring-border-radius: 10px;
}
