/*
Copyright 2020 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@keyframes spOverlayFadeIn {
    from {
        opacity: 0;
        transform: var(--sp-overlay-from);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes spOverlayFadeOut {
    from {
        opacity: 1;
        transform: translate(0, 0);
    }

    to {
        opacity: 0;
        transform: var(--sp-overlay-from);
    }
}

:host {
    z-index: 1000;
    position: absolute;
    display: inline-block;
    pointer-events: none;
}

:host(:focus) {
    outline: none;
}

:host([placement='none']) {
    top: 0;
    left: 0;
}

:host([placement='none']) ::slotted(*) {
    /* 0 * 1px is a hack for the linter. It wants no units on 0, but units are needed for calc() */
    height: calc(100vh - var(--swc-body-margins-block, 0 * 1px));
}

sp-theme,
#contents {
    height: 100%;
}

#contents {
    display: inline-block;
    pointer-events: none;
    animation-duration: var(--spectrum-global-animation-duration-200, 160ms);
    animation-timing-function: var(
        --spectrum-global-animation-ease-out,
        ease-out
    );
    opacity: 1;
    visibility: visible;
}

:host([data-popper-placement*='top']) #contents {
    --sp-overlay-from: translateY(var(--spectrum-global-dimension-size-75));
}

:host([data-popper-placement*='right']) #contents {
    --sp-overlay-from: translateX(
        calc(-1 * var(--spectrum-global-dimension-size-75))
    );
}

:host([data-popper-placement*='bottom']) #contents {
    --sp-overlay-from: translateY(
        calc(-1 * var(--spectrum-global-dimension-size-75))
    );
}

:host([data-popper-placement*='left']) #contents {
    --sp-overlay-from: translateX(var(--spectrum-global-dimension-size-75));
}

:host([animating]) ::slotted(*) {
    pointer-events: none;
}

#contents ::slotted(*) {
    position: relative;
}
