---
layout: component-partial.njk
---
<sp-tabs
    selected="api"
    direction="horizontal"
    aria-labelledby="component-name"
>
    <sp-tab value="examples">Examples</sp-tab>
    <sp-tab value="api">API</sp-tab>