---
layout: component-partial.njk
---
<sp-tabs
    selected="api"
    direction="horizontal"
    aria-labelledby="component-name"
    size="xl"
>
    <sp-tab value="overview">Overview</sp-tab>
    <sp-tab value="api">API</sp-tab>
    <sp-tab value="changelog">Changelog</sp-tab>