---
layout: layout.njk
---
<docs-page class="spectrum-Typography">
    {% include "partials/logo.njk" %}
    <main role="main">
      <div id="title-header">
        <h1 class="spectrum-Heading spectrum-Heading--sizeXXL spectrum-Heading--serif" id="component-name">{{ componentHeading }}</h1>
      </div>
      {% if deprecationNotice %}
      {% include "partials/deprecation.njk" %}
      {% endif %}
      {% include "partials/demo.njk" %}
      {{ content | safe }}
      {% for part in collections[componentName] %}
      {% if part.data.partType === "examples" %}
        <sp-tab-panel class="section" value="overview">
            {{ part.templateContent | safe }}
        </sp-tab-panel>
      {% endif %}
      {% endfor %}
      {% for part in collections[componentName] %}
      {% if part.data.partType !== "examples" %}
        <sp-tab-panel class="section" value="{{ part.data.partType }}">
          {% if part.data.partType === "api" %}
          <div class="headerContainer">
            <h2 id="api" class="header-heading spectrum-Heading spectrum-Heading--sizeXL">API</h2>
            <sp-link class="header-anchor spectrum-Heading spectrum-Heading--sizeXL" href="#api" focusable>
              <span aria-hidden="true">#</span>
              <span class="visually-hidden">Section titled API</span>
            </sp-link>
            <sp-divider class="header-divider" size="l"></sp-divider>
          </div>
          <h2 class="visually-hidden">API</h2>
          {% elseif part.data.partType === "changelog" %}
          <div class="headerContainer">
            <h2 id="changelog" class="header-heading spectrum-Heading spectrum-Heading--sizeXL">Changelog</h2>
            <sp-link class="header-anchor spectrum-Heading spectrum-Heading--sizeXL" href="#changelog" focusable>
              <span aria-hidden="true">#</span>
              <span class="visually-hidden">Section titled Changelog</span>
            </sp-link>
            <sp-divider class="header-divider" size="l"></sp-divider>
          </div>
          {% else  %}
          <h2 class="visually-hidden">{{ part.data.partType }}</h2>
          {% endif %}
          {{ part.templateContent | safe }}
        </sp-tab-panel>
      {% endif %}
      {% endfor %}
      </sp-tabs>
    </main>
    {% include "partials/sidenav.njk" %}
</docs-page>
<script type="module" src="../../src/index.js"></script>
<script type="module" src="../../src/components.js"></script>