/*
Copyright 2020 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

:host {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#side-nav {
    display: flex;
    flex: 0 0 auto;
    box-sizing: border-box;
}

#body {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    height: 100%;
    color: var(--spectrum-global-color-gray-800);
}

#body #layout-content {
    background-color: var(--spectrum-global-color-gray-50);
    position: relative;
    max-height: 100vh;
    width: 100%;
    overflow: auto;
}

#body #layout-content #page {
    padding: 40px 52px 24px 52px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    #body #layout-content #page {
        padding: 40px 16px 24px 16px;
    }
}

header {
    min-height: var(--spectrum-global-dimension-size-600);
    border-bottom: 1px solid var(--spectrum-global-color-gray-200);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--spectrum-global-color-gray-50);
    top: 0px;
    right: 0px;
    left: 0px;
    padding-left: 8px;
    z-index: 10;

    --spectrum-actionbutton-height: var(--spectrum-global-dimension-size-500);
    --spectrum-actionbutton-min-width: var(
        --spectrum-global-dimension-size-500
    );
    --spectrum-alias-workflow-icon-size: 22px;
}

header svg {
    stroke: transparent;
    height: 100%;
}

.manage-theme {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

:host([dir='ltr']) .manage-theme label {
    margin-left: var(--spectrum-global-dimension-size-400);
}

:host([dir='rtl']) .manage-theme label {
    margin-right: var(--spectrum-global-dimension-size-400);
}

@media screen and (min-width: 961px) {
    header {
        display: none;
    }
}

/**
 * TODO: Remove this manual copy of the Spectrum Field Label styles 
 * once https://github.com/adobe/spectrum-web-components/issues/475
 * has been addressed and this element is natively part of the library
 **/
label {
    /* .spectrum-FieldLabel,
    * .spectrum-Form-itemLabel */
    display: block;

    box-sizing: border-box;

    padding-top: var(
        --spectrum-fieldlabel-padding-top,
        var(--spectrum-global-dimension-size-50)
    );

    padding-bottom: var(
        --spectrum-fieldlabel-padding-bottom,
        var(--spectrum-global-dimension-size-65)
    );
    padding-left: 0;
    padding-right: 0;

    font-size: var(
        --spectrum-fieldlabel-text-size,
        var(--spectrum-global-dimension-font-size-75)
    );
    font-weight: var(
        --spectrum-fieldlabel-text-font-weight,
        var(--spectrum-global-font-weight-regular)
    );
    line-height: var(
        --spectrum-fieldlabel-text-line-height,
        var(--spectrum-global-font-line-height-small)
    );

    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    font-smoothing: subpixel-antialiased;

    display: inline-block;
    padding-top: var(
        --spectrum-fieldlabel-side-padding-top,
        var(--spectrum-global-dimension-size-100)
    );
    padding-bottom: 0;
}

:host([dir='ltr']) label {
    padding-left: 0;
    padding-right: var(
        --spectrum-fieldlabel-side-padding-x,
        var(--spectrum-global-dimension-size-100)
    );
}

:host([dir='rtl']) label {
    padding-right: 0;
    padding-left: var(
        --spectrum-fieldlabel-side-padding-x,
        var(--spectrum-global-dimension-size-100)
    );
}
