/*
Copyright 2020 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

:host {
    background-color: var(--spectrum-global-color-gray-100);
}

aside {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: auto;
}

@media screen and (max-width: 960px) {
    aside {
        position: fixed;
        top: 0;
        left: 0;
        transition: transform var(--spectrum-global-animation-duration-200)
            ease-in-out;
        transform: translateX(-100%);
        z-index: 10;
        background: inherit;
        min-height: 100vh;
    }

    :host([open]) aside {
        transform: translateX(0);
    }

    .scrim {
        position: fixed;
        background-color: var(--spectrum-alias-background-color-modal-overlay);
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        pointer-events: none;
        z-index: 1;
        opacity: 0;
        transition: opacity var(--spectrum-global-animation-duration-200)
            ease-in 0ms;
    }

    :host([open]) .scrim {
        pointer-events: all;
        opacity: 1;
    }
}

#nav-header {
    padding: 30px 24px 24px 24px;
}

#nav-header a,
#nav-header a:visited {
    color: var(--spectrum-global-color-gray-800);
    text-decoration: none;
}

#nav-header docs-spectrum-logo {
    margin-bottom: 11px;
}

#navigation {
    width: var(--spectrum-global-dimension-size-2400);
    padding: 0 24px 24px 24px;
    flex: 1;
    flex-grow: 1;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

docs-spectrum-logo {
    width: 36px;
    height: 32px;
    display: block;
    padding-top: 7px;
}

:host([dir='ltr']) docs-spectrum-logo {
    margin-right: 16px;
}

:host([dir='rtl']) docs-spectrum-logo {
    margin-left: 16px;
}

#logo-container {
    outline: none;
    padding: 1px 2px 2px 2px;
    border-radius: 4px;
    margin-top: -2px;
}

#logo-container a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-title {
    margin: 0px;
    font-size: 18px;
    align-items: center;
    font-weight: 700;
    line-height: 1.3;
    font-style: normal;
    letter-spacing: 0;
}

sp-sidenav {
    width: 100%;
}

.spectrum-web {
    margin-top: 80px;
    display: block;
}
