/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:host {
    --spectrum-actionbutton-background-color-default: var(--system-action-button-background-color-default);
    --spectrum-actionbutton-background-color-hover: var(--system-action-button-background-color-hover);
    --spectrum-actionbutton-background-color-down: var(--system-action-button-background-color-down);
    --spectrum-actionbutton-background-color-focus: var(--system-action-button-background-color-focus);
    --spectrum-actionbutton-background-color-disabled: var(--system-action-button-background-color-disabled);
    --spectrum-actionbutton-background-color-selected: var(--system-action-button-background-color-selected);
    --spectrum-actionbutton-background-color-selected-hover: var(--system-action-button-background-color-selected-hover);
    --spectrum-actionbutton-background-color-selected-down: var(--system-action-button-background-color-selected-down);
    --spectrum-actionbutton-background-color-selected-focus: var(--system-action-button-background-color-selected-focus);
    --spectrum-actionbutton-border-color-default: var(--system-action-button-border-color-default);
    --spectrum-actionbutton-border-color-hover: var(--system-action-button-border-color-hover);
    --spectrum-actionbutton-border-color-down: var(--system-action-button-border-color-down);
    --spectrum-actionbutton-border-color-focus: var(--system-action-button-border-color-focus);
    --spectrum-actionbutton-border-color-disabled: var(--system-action-button-border-color-disabled);
    --spectrum-actionbutton-content-color-selected: var(--system-action-button-content-color-selected);
    --spectrum-actionbutton-background-color-selected-disabled: var(--system-action-button-background-color-selected-disabled);
}

:host {
    --spectrum-actionbutton-border-radius-default: var(--system-action-button-size-m-border-radius-default);
}

:host([size="xs"]) {
    --spectrum-actionbutton-border-radius-default: var(--system-action-button-size-xs-border-radius-default);
}

:host([size="s"]) {
    --spectrum-actionbutton-border-radius-default: var(--system-action-button-size-s-border-radius-default);
}

:host([size="l"]) {
    --spectrum-actionbutton-border-radius-default: var(--system-action-button-size-l-border-radius-default);
}

:host([size="xl"]) {
    --spectrum-actionbutton-border-radius-default: var(--system-action-button-size-xl-border-radius-default);
}

:host([quiet]) {
    --spectrum-actionbutton-background-color-default: var(--system-action-button-quiet-background-color-default);
    --spectrum-actionbutton-background-color-hover: var(--system-action-button-quiet-background-color-hover);
    --spectrum-actionbutton-background-color-down: var(--system-action-button-quiet-background-color-down);
    --spectrum-actionbutton-background-color-focus: var(--system-action-button-quiet-background-color-focus);
    --spectrum-actionbutton-background-color-disabled: var(--system-action-button-quiet-background-color-disabled);
    --spectrum-actionbutton-background-color-selected-disabled: var(--system-action-button-quiet-background-color-selected-disabled);
}

:host([static-color="black"]) {
    --spectrum-actionbutton-border-color-default: var(--system-action-button-static-black-border-color-default);
    --spectrum-actionbutton-border-color-hover: var(--system-action-button-static-black-border-color-hover);
    --spectrum-actionbutton-border-color-down: var(--system-action-button-static-black-border-color-down);
    --spectrum-actionbutton-border-color-focus: var(--system-action-button-static-black-border-color-focus);
    --spectrum-actionbutton-border-color-disabled: var(--system-action-button-static-black-border-color-disabled);
    --spectrum-actionbutton-background-color-disabled: var(--system-action-button-static-black-background-color-disabled);
    --spectrum-actionbutton-background-color-selected-disabled: var(--system-action-button-static-black-background-color-selected-disabled);
    --spectrum-actionbutton-background-color-default: var(--system-action-button-static-black-background-color-default);
    --spectrum-actionbutton-background-color-hover: var(--system-action-button-static-black-background-color-hover);
    --spectrum-actionbutton-background-color-down: var(--system-action-button-static-black-background-color-down);
    --spectrum-actionbutton-background-color-focus: var(--system-action-button-static-black-background-color-focus);
}

:host([static-color="black"][quiet]) {
    --spectrum-actionbutton-background-color-default: var(--system-action-button-static-black-quiet-background-color-default);
    --spectrum-actionbutton-background-color-hover: var(--system-action-button-static-black-quiet-background-color-hover);
    --spectrum-actionbutton-background-color-down: var(--system-action-button-static-black-quiet-background-color-down);
    --spectrum-actionbutton-background-color-focus: var(--system-action-button-static-black-quiet-background-color-focus);
    --spectrum-actionbutton-background-color-disabled: var(--system-action-button-static-black-quiet-background-color-disabled);
}

:host([static-color="white"]) {
    --spectrum-actionbutton-border-color-default: var(--system-action-button-static-white-border-color-default);
    --spectrum-actionbutton-border-color-hover: var(--system-action-button-static-white-border-color-hover);
    --spectrum-actionbutton-border-color-down: var(--system-action-button-static-white-border-color-down);
    --spectrum-actionbutton-border-color-focus: var(--system-action-button-static-white-border-color-focus);
    --spectrum-actionbutton-border-color-disabled: var(--system-action-button-static-white-border-color-disabled);
    --spectrum-actionbutton-background-color-disabled: var(--system-action-button-static-white-background-color-disabled);
    --spectrum-actionbutton-background-color-selected-disabled: var(--system-action-button-static-white-background-color-selected-disabled);
    --spectrum-actionbutton-background-color-default: var(--system-action-button-static-white-background-color-default);
    --spectrum-actionbutton-background-color-hover: var(--system-action-button-static-white-background-color-hover);
    --spectrum-actionbutton-background-color-down: var(--system-action-button-static-white-background-color-down);
    --spectrum-actionbutton-background-color-focus: var(--system-action-button-static-white-background-color-focus);
}

:host([static-color="white"][quiet]) {
    --spectrum-actionbutton-background-color-default: var(--system-action-button-static-white-quiet-background-color-default);
    --spectrum-actionbutton-background-color-hover: var(--system-action-button-static-white-quiet-background-color-hover);
    --spectrum-actionbutton-background-color-down: var(--system-action-button-static-white-quiet-background-color-down);
    --spectrum-actionbutton-background-color-focus: var(--system-action-button-static-white-quiet-background-color-focus);
    --spectrum-actionbutton-background-color-disabled: var(--system-action-button-static-white-quiet-background-color-disabled);
}
