<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Spectrum Web Components - Banner Tests</title>
        <script src="/node_modules/karma-web-components/framework.js"></script>
        <script src="../banner.js" type="module"></script>
        <link rel="stylesheet" href="../../../styles/core-global/all.css" />
        <link rel="stylesheet" href="../../../styles/typography/font.css" />
        <link
            rel="stylesheet"
            href="../../../styles/theme-light/components/banner.css"
        />
        <link
            rel="stylesheet"
            href="../../../styles/scale-medium/components/banner.css"
        />
    </head>

    <body>
        <spectrum-banner type="info">
            <div slot="header">Header Text</div>
            <div slot="content">Content</div>
        </spectrum-banner>
        <script src="./index.js" type="module"></script>
    </body>
</html>
