<section
    class="deprecation-container"
>
<div class="spectrum-InLineAlert spectrum-InLineAlert--negative">
        <div class="spectrum-InLineAlert-header">
          Deprecated component
          <sp-icon-alert class="spectrum-InLineAlert-icon" dir="ltr" aria-hidden="true"></sp-icon-alert>
        </div>
        <div class="spectrum-InLineAlert-content">
        This component has been deprecated.<br></br>
        {{ deprecationNotice | safe }}
    </div>
</div>
</section>
