<section
    class="deprecation-container"
>
<div id="deprecation" class="spectrum-InLineAlert spectrum-InLineAlert--negative">
        <div class="spectrum-InLineAlert-header">
          Deprecation Warning
          <sp-icon-alert class="spectrum-InLineAlert-icon" dir="ltr" aria-hidden="true"></sp-icon-alert>
        </div>
        <div class="spectrum-InLineAlert-content">
        {{ deprecationNotice | safe }}
    </div>
</div>
</section>
