<a id="logo" href="/index.html" slot="logo">
    <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        x="0"
        y="0"
        viewBox="0 0 30 26"
        width="36px"
        xml:space="preserve"
        aria-hidden="true"
    >
        <path
            fill="#FA0F00"
            d="M19 0h11v26zM11.1 0H0v26zM15 9.6L22.1 26h-4.6l-2.1-5.2h-5.2z"
        />
    </svg>
    <h1 class="title logo">
        Spectrum
        <br />
        Web&nbsp;Components
    </h1>
</a>