/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import url("./spectrum-field-group.css");
@import url("./field-group-overrides.css");

:host([horizontal]) slot:not([name])::slotted(*:not(:last-child)),
:host(:not([vertical])) slot:not([name])::slotted(*:not(:last-child)) {
    /* .spectrum-FieldGroup--horizontal .spectrum-FieldGroup-item+.spectrum-FieldGroup-item */
    margin: 0 var(--spectrum-fieldgroup-margin) 0 0;
}

:host([horizontal]) slot:not([name])::slotted(*:not(:last-child):dir(rtl)),
:host(:not([vertical])) slot:not([name])::slotted(*:not(:last-child):dir(rtl)) {
    /* .spectrum-FieldGroup--horizontal .spectrum-FieldGroup-item+.spectrum-FieldGroup-item */
    margin: 0 0 0 var(--spectrum-fieldgroup-margin);
}
