/*!
 * Copyright 2026 Adobe. All rights reserved.
 *
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at <http://www.apache.org/licenses/LICENSE-2.0>
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.swc-Button {
    --spectrum-button-animation-duration: var(
        --spectrum-animation-duration-100
    );
    --spectrum-button-focus-ring-gap: var(--spectrum-focus-indicator-gap);
    --spectrum-button-focus-ring-thickness: var(
        --spectrum-focus-indicator-thickness
    );
    --spectrum-button-focus-indicator-color: var(
        --spectrum-focus-indicator-color
    );
    --spectrum-button-min-width: calc(
        var(--spectrum-component-height-100) *
            var(--spectrum-button-minimum-width-multiplier)
    );
    --spectrum-button-height: var(--spectrum-component-height-100);
    --spectrum-button-border-radius: calc(var(--spectrum-button-height) / 2);
    --spectrum-button-border-width: var(--spectrum-border-width-200);

    /* @todo set line-height using font size specific line-height tokens when they are finalized along with the new variable font. */
    --spectrum-button-line-height: 1.2;
    --spectrum-button-font-weight: var(--spectrum-bold-font-weight);
    --spectrum-button-font-size: var(--spectrum-font-size-100);
    --spectrum-button-edge-to-visual: calc(
        var(--spectrum-component-pill-edge-to-visual-100) -
            var(--mod-button-border-width, var(--spectrum-button-border-width))
    );
    --spectrum-button-edge-to-visual-only: calc(
        var(--spectrum-component-pill-edge-to-visual-only-100) -
            var(--mod-button-border-width, var(--spectrum-button-border-width))
    );
    --spectrum-button-edge-to-text: calc(
        var(--spectrum-component-pill-edge-to-text-100) -
            var(--mod-button-border-width, var(--spectrum-button-border-width))
    );
    --spectrum-button-padding-label-to-icon: var(--spectrum-text-to-visual-100);
    --spectrum-button-top-to-text: var(--spectrum-button-top-to-text-medium);
    --spectrum-button-bottom-to-text: var(
        --spectrum-button-bottom-to-text-medium
    );
    --spectrum-button-top-to-icon: var(
        --spectrum-component-top-to-workflow-icon-100
    );
    --spectrum-button-intended-icon-size: var(
        --spectrum-workflow-icon-size-100
    );
    --mod-progress-circle-position: absolute;
    --spectrum-downstate-perspective: max(
        var(--spectrum-downstate-height),
        var(--spectrum-downstate-width) *
            var(--spectrum-component-size-width-ratio-down)
    );

    &.swc-Button--iconOnly {
        --spectrum-button-border-radius: var(--spectrum-corner-radius-full);
    }
}

.swc-Button--sizeS {
    --spectrum-button-min-width: calc(
        var(--spectrum-component-height-75) *
            var(--spectrum-button-minimum-width-multiplier)
    );
    --spectrum-button-height: var(--spectrum-component-height-75);
    --spectrum-button-font-size: var(--spectrum-font-size-75);
    --spectrum-button-edge-to-visual: calc(
        var(--spectrum-component-pill-edge-to-visual-75) -
            var(--mod-button-border-width, var(--spectrum-button-border-width))
    );
    --spectrum-button-edge-to-visual-only: calc(
        var(--spectrum-component-pill-edge-to-visual-only-75) -
            var(--mod-button-border-width, var(--spectrum-button-border-width))
    );
    --spectrum-button-edge-to-text: calc(
        var(--spectrum-component-pill-edge-to-text-75) -
            var(--mod-button-border-width, var(--spectrum-button-border-width))
    );
    --spectrum-button-padding-label-to-icon: var(--spectrum-text-to-visual-75);
    --spectrum-button-top-to-text: var(--spectrum-button-top-to-text-small);
    --spectrum-button-bottom-to-text: var(
        --spectrum-button-bottom-to-text-small
    );
    --spectrum-button-top-to-icon: var(
        --spectrum-component-top-to-workflow-icon-75
    );
    --spectrum-button-intended-icon-size: var(--spectrum-workflow-icon-size-75);

    &.swc-Button--iconOnly {
        --spectrum-downstate-perspective: var(
            --spectrum-component-size-minimum-perspective-down
        );
    }
}

.swc-Button--sizeL {
    --spectrum-button-min-width: calc(
        var(--spectrum-component-height-200) *
            var(--spectrum-button-minimum-width-multiplier)
    );
    --spectrum-button-height: var(--spectrum-component-height-200);
    --spectrum-button-font-size: var(--spectrum-font-size-200);
    --spectrum-button-edge-to-visual: calc(
        var(--spectrum-component-pill-edge-to-visual-200) -
            var(--mod-button-border-width, var(--spectrum-button-border-width))
    );
    --spectrum-button-edge-to-visual-only: calc(
        var(--spectrum-component-pill-edge-to-visual-only-200) -
            var(--mod-button-border-width, var(--spectrum-button-border-width))
    );
    --spectrum-button-edge-to-text: calc(
        var(--spectrum-component-pill-edge-to-text-200) -
            var(--mod-button-border-width, var(--spectrum-button-border-width))
    );
    --spectrum-button-padding-label-to-icon: var(--spectrum-text-to-visual-200);
    --spectrum-button-top-to-text: var(--spectrum-button-top-to-text-large);
    --spectrum-button-bottom-to-text: var(
        --spectrum-button-bottom-to-text-large
    );
    --spectrum-button-top-to-icon: var(
        --spectrum-component-top-to-workflow-icon-200
    );
    --spectrum-button-intended-icon-size: var(
        --spectrum-workflow-icon-size-200
    );
}

.swc-Button--sizeXL {
    --spectrum-button-min-width: calc(
        var(--spectrum-component-height-300) *
            var(--spectrum-button-minimum-width-multiplier)
    );
    --spectrum-button-height: var(--spectrum-component-height-300);
    --spectrum-button-font-size: var(--spectrum-font-size-300);
    --spectrum-button-edge-to-visual: calc(
        var(--spectrum-component-pill-edge-to-visual-300) -
            var(--mod-button-border-width, var(--spectrum-button-border-width))
    );
    --spectrum-button-edge-to-visual-only: calc(
        var(--spectrum-component-pill-edge-to-visual-only-300) -
            var(--mod-button-border-width, var(--spectrum-button-border-width))
    );
    --spectrum-button-edge-to-text: calc(
        var(--spectrum-component-pill-edge-to-text-300) -
            var(--mod-button-border-width, var(--spectrum-button-border-width))
    );
    --spectrum-button-padding-label-to-icon: var(--spectrum-text-to-visual-300);
    --spectrum-button-top-to-text: var(
        --spectrum-button-top-to-text-extra-large
    );
    --spectrum-button-bottom-to-text: var(
        --spectrum-button-bottom-to-text-extra-large
    );
    --spectrum-button-top-to-icon: var(
        --spectrum-component-top-to-workflow-icon-300
    );
    --spectrum-button-intended-icon-size: var(
        --spectrum-workflow-icon-size-300
    );
}

/* Variants and colors */
.swc-Button {
    --spectrum-button-border-color-default: transparent;
    --spectrum-button-border-color-hover: transparent;
    --spectrum-button-border-color-down: transparent;
    --spectrum-button-border-color-focus: transparent;
    --spectrum-button-content-color-default: var(--spectrum-white);
    --spectrum-button-content-color-hover: var(--spectrum-white);
    --spectrum-button-content-color-down: var(--spectrum-white);
    --spectrum-button-content-color-focus: var(--spectrum-white);
    --spectrum-button-background-color-disabled: var(
        --spectrum-disabled-background-color
    );
    --spectrum-button-border-color-disabled: transparent;
    --spectrum-button-content-color-disabled: var(
        --spectrum-disabled-content-color
    );

    &.swc-Button--outline {
        --spectrum-button-background-color-disabled: transparent;
        --spectrum-button-border-color-disabled: var(
            --spectrum-disabled-border-color
        );
        --spectrum-button-content-color-disabled: var(
            --spectrum-disabled-content-color
        );
    }

    /* ---- Accent ---- */

    /* Also shows as the default when a variant class is not used. */
    &,
    &.swc-Button--accent {
        --spectrum-button-background-color-default: var(
            --spectrum-accent-background-color-default
        );
        --spectrum-button-background-color-hover: var(
            --spectrum-accent-background-color-hover
        );
        --spectrum-button-background-color-down: var(
            --spectrum-accent-background-color-down
        );
        --spectrum-button-background-color-focus: var(
            --spectrum-accent-background-color-key-focus
        );
    }

    /* ---- Negative ---- */
    &.swc-Button--negative {
        --spectrum-button-background-color-default: var(
            --spectrum-negative-background-color-default
        );
        --spectrum-button-background-color-hover: var(
            --spectrum-negative-background-color-hover
        );
        --spectrum-button-background-color-down: var(
            --spectrum-negative-background-color-down
        );
        --spectrum-button-background-color-focus: var(
            --spectrum-negative-background-color-key-focus
        );
    }

    /* ---- Primary ---- */
    &.swc-Button--primary {
        --spectrum-button-content-color-default: var(--spectrum-gray-25);
        --spectrum-button-content-color-hover: var(--spectrum-gray-25);
        --spectrum-button-content-color-down: var(--spectrum-gray-25);
        --spectrum-button-content-color-focus: var(--spectrum-gray-25);
        --spectrum-button-background-color-default: var(
            --spectrum-neutral-background-color-default
        );
        --spectrum-button-background-color-hover: var(
            --spectrum-neutral-background-color-hover
        );
        --spectrum-button-background-color-down: var(
            --spectrum-neutral-background-color-down
        );
        --spectrum-button-background-color-focus: var(
            --spectrum-neutral-background-color-key-focus
        );

        &.swc-Button--outline {
            --spectrum-button-background-color-default: transparent;
            --spectrum-button-background-color-hover: var(--spectrum-gray-100);
            --spectrum-button-background-color-down: var(--spectrum-gray-100);
            --spectrum-button-background-color-focus: var(--spectrum-gray-100);
            --spectrum-button-border-color-default: var(--spectrum-gray-800);
            --spectrum-button-border-color-hover: var(--spectrum-gray-900);
            --spectrum-button-border-color-down: var(--spectrum-gray-900);
            --spectrum-button-border-color-focus: var(--spectrum-gray-900);
            --spectrum-button-content-color-default: var(
                --spectrum-neutral-content-color-default
            );
            --spectrum-button-content-color-hover: var(
                --spectrum-neutral-content-color-hover
            );
            --spectrum-button-content-color-down: var(
                --spectrum-neutral-content-color-down
            );
            --spectrum-button-content-color-focus: var(
                --spectrum-neutral-content-color-key-focus
            );
        }
    }

    /* ---- Secondary ---- */
    &.swc-Button--secondary {
        --spectrum-button-background-color-default: var(--spectrum-gray-100);
        --spectrum-button-background-color-hover: var(--spectrum-gray-200);
        --spectrum-button-background-color-down: var(--spectrum-gray-200);
        --spectrum-button-background-color-focus: var(--spectrum-gray-200);
        --spectrum-button-content-color-default: var(
            --spectrum-neutral-content-color-default
        );
        --spectrum-button-content-color-hover: var(
            --spectrum-neutral-content-color-hover
        );
        --spectrum-button-content-color-down: var(
            --spectrum-neutral-content-color-down
        );
        --spectrum-button-content-color-focus: var(
            --spectrum-neutral-content-color-key-focus
        );

        &.swc-Button--outline {
            --spectrum-button-background-color-default: transparent;
            --spectrum-button-background-color-hover: var(--spectrum-gray-100);
            --spectrum-button-background-color-down: var(--spectrum-gray-100);
            --spectrum-button-background-color-focus: var(--spectrum-gray-100);
            --spectrum-button-border-color-default: var(--spectrum-gray-300);
            --spectrum-button-border-color-hover: var(--spectrum-gray-400);
            --spectrum-button-border-color-down: var(--spectrum-gray-400);
            --spectrum-button-border-color-focus: var(--spectrum-gray-400);
        }
    }

    /* ---- Static White ---- */
    &.swc-Button--staticWhite {
        --spectrum-button-background-color-default: var(
            --spectrum-transparent-white-800
        );
        --spectrum-button-background-color-hover: var(
            --spectrum-transparent-white-900
        );
        --spectrum-button-background-color-down: var(
            --spectrum-transparent-white-900
        );
        --spectrum-button-background-color-focus: var(
            --spectrum-transparent-white-900
        );
        --spectrum-button-content-color-default: var(--spectrum-black);
        --spectrum-button-content-color-hover: var(--spectrum-black);
        --spectrum-button-content-color-down: var(--spectrum-black);
        --spectrum-button-content-color-focus: var(--spectrum-black);
        --spectrum-button-focus-indicator-color: var(
            --spectrum-static-white-focus-indicator-color
        );
        --spectrum-button-background-color-disabled: var(
            --spectrum-disabled-static-white-background-color
        );
        --spectrum-button-border-color-disabled: transparent;
        --spectrum-button-content-color-disabled: var(
            --spectrum-disabled-static-white-content-color
        );

        &.swc-Button--outline {
            --spectrum-button-background-color-default: var(
                --spectrum-transparent-white-25
            );
            --spectrum-button-background-color-hover: var(
                --spectrum-transparent-white-100
            );
            --spectrum-button-background-color-down: var(
                --spectrum-transparent-white-100
            );
            --spectrum-button-background-color-focus: var(
                --spectrum-transparent-white-100
            );
            --spectrum-button-border-color-default: var(
                --spectrum-transparent-white-800
            );
            --spectrum-button-border-color-hover: var(
                --spectrum-transparent-white-900
            );
            --spectrum-button-border-color-down: var(
                --spectrum-transparent-white-900
            );
            --spectrum-button-border-color-focus: var(
                --spectrum-transparent-white-900
            );
            --spectrum-button-content-color-default: var(
                --spectrum-transparent-white-800
            );
            --spectrum-button-content-color-hover: var(
                --spectrum-transparent-white-900
            );
            --spectrum-button-content-color-down: var(
                --spectrum-transparent-white-900
            );
            --spectrum-button-content-color-focus: var(
                --spectrum-transparent-white-900
            );
            --spectrum-button-background-color-disabled: var(
                --spectrum-transparent-white-25
            );
            --spectrum-button-border-color-disabled: var(
                --spectrum-disabled-static-white-border-color
            );
            --spectrum-button-content-color-disabled: var(
                --spectrum-disabled-static-white-content-color
            );
        }

        &.swc-Button--secondary {
            --spectrum-button-background-color-default: var(
                --spectrum-transparent-white-100
            );
            --spectrum-button-background-color-hover: var(
                --spectrum-transparent-white-200
            );
            --spectrum-button-background-color-down: var(
                --spectrum-transparent-white-200
            );
            --spectrum-button-background-color-focus: var(
                --spectrum-transparent-white-200
            );
            --spectrum-button-content-color-default: var(
                --spectrum-transparent-white-800
            );
            --spectrum-button-content-color-hover: var(
                --spectrum-transparent-white-900
            );
            --spectrum-button-content-color-down: var(
                --spectrum-transparent-white-900
            );
            --spectrum-button-content-color-focus: var(
                --spectrum-transparent-white-900
            );

            &.swc-Button--outline {
                --spectrum-button-background-color-default: var(
                    --spectrum-transparent-white-25
                );
                --spectrum-button-background-color-hover: var(
                    --spectrum-transparent-white-100
                );
                --spectrum-button-background-color-down: var(
                    --spectrum-transparent-white-100
                );
                --spectrum-button-background-color-focus: var(
                    --spectrum-transparent-white-100
                );
                --spectrum-button-border-color-default: var(
                    --spectrum-transparent-white-300
                );
                --spectrum-button-border-color-hover: var(
                    --spectrum-transparent-white-400
                );
                --spectrum-button-border-color-down: var(
                    --spectrum-transparent-white-400
                );
                --spectrum-button-border-color-focus: var(
                    --spectrum-transparent-white-400
                );
            }
        }
    }

    /* ---- Static Black ---- */
    &.swc-Button--staticBlack {
        --spectrum-button-background-color-default: var(
            --spectrum-transparent-black-800
        );
        --spectrum-button-background-color-hover: var(
            --spectrum-transparent-black-900
        );
        --spectrum-button-background-color-down: var(
            --spectrum-transparent-black-900
        );
        --spectrum-button-background-color-focus: var(
            --spectrum-transparent-black-900
        );
        --spectrum-button-content-color-default: var(--spectrum-white);
        --spectrum-button-content-color-hover: var(--spectrum-white);
        --spectrum-button-content-color-down: var(--spectrum-white);
        --spectrum-button-content-color-focus: var(--spectrum-white);
        --spectrum-button-focus-indicator-color: var(
            --spectrum-static-black-focus-indicator-color
        );
        --spectrum-button-background-color-disabled: var(
            --spectrum-disabled-static-black-background-color
        );
        --spectrum-button-border-color-disabled: transparent;
        --spectrum-button-content-color-disabled: var(
            --spectrum-disabled-static-black-content-color
        );

        &.swc-Button--outline {
            --spectrum-button-background-color-default: var(
                --spectrum-transparent-black-25
            );
            --spectrum-button-background-color-hover: var(
                --spectrum-transparent-black-100
            );
            --spectrum-button-background-color-down: var(
                --spectrum-transparent-black-100
            );
            --spectrum-button-background-color-focus: var(
                --spectrum-transparent-black-100
            );
            --spectrum-button-border-color-default: var(
                --spectrum-transparent-black-800
            );
            --spectrum-button-border-color-hover: var(
                --spectrum-transparent-black-900
            );
            --spectrum-button-border-color-down: var(
                --spectrum-transparent-black-900
            );
            --spectrum-button-border-color-focus: var(
                --spectrum-transparent-black-900
            );
            --spectrum-button-content-color-default: var(
                --spectrum-transparent-black-800
            );
            --spectrum-button-content-color-hover: var(
                --spectrum-transparent-black-900
            );
            --spectrum-button-content-color-down: var(
                --spectrum-transparent-black-900
            );
            --spectrum-button-content-color-focus: var(
                --spectrum-transparent-black-900
            );
            --spectrum-button-background-color-disabled: var(
                --spectrum-transparent-black-25
            );
            --spectrum-button-border-color-disabled: var(
                --spectrum-disabled-static-black-border-color
            );
            --spectrum-button-content-color-disabled: var(
                --spectrum-disabled-static-black-content-color
            );
        }

        &.swc-Button--secondary {
            --spectrum-button-background-color-default: var(
                --spectrum-transparent-black-100
            );
            --spectrum-button-background-color-hover: var(
                --spectrum-transparent-black-200
            );
            --spectrum-button-background-color-down: var(
                --spectrum-transparent-black-200
            );
            --spectrum-button-background-color-focus: var(
                --spectrum-transparent-black-200
            );
            --spectrum-button-content-color-default: var(
                --spectrum-transparent-black-800
            );
            --spectrum-button-content-color-hover: var(
                --spectrum-transparent-black-900
            );
            --spectrum-button-content-color-down: var(
                --spectrum-transparent-black-900
            );
            --spectrum-button-content-color-focus: var(
                --spectrum-transparent-black-900
            );

            &.swc-Button--outline {
                --spectrum-button-background-color-default: var(
                    --spectrum-transparent-black-25
                );
                --spectrum-button-background-color-hover: var(
                    --spectrum-transparent-black-100
                );
                --spectrum-button-background-color-down: var(
                    --spectrum-transparent-black-100
                );
                --spectrum-button-background-color-focus: var(
                    --spectrum-transparent-black-100
                );
                --spectrum-button-border-color-default: var(
                    --spectrum-transparent-black-300
                );
                --spectrum-button-border-color-hover: var(
                    --spectrum-transparent-black-400
                );
                --spectrum-button-border-color-down: var(
                    --spectrum-transparent-black-400
                );
                --spectrum-button-border-color-focus: var(
                    --spectrum-transparent-black-400
                );
            }
        }
    }
}

.swc-Button {
    cursor: pointer;
    user-select: none;

    /* Contain halo */
    position: relative;

    /* Show the button overflow in Edge. */
    overflow: visible;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    /* Remove button the margin in Firefox and Safari. */
    margin: 0;
    font-family: var(
        --mod-button-font-family,
        var(--spectrum-sans-font-family-stack)
    );

    /* Adjacent buttons should be aligned correctly */
    vertical-align: top;
    -webkit-font-smoothing: antialiased;

    /* Font smoothing for Firefox */
    -moz-osx-font-smoothing: grayscale;
    line-height: var(--mod-button-line-height, var(--spectrum-line-height-100));
    text-decoration: none;

    /* Remove the inheritance of text transform on button in Edge, Firefox, and IE. */
    text-transform: none;

    /* stylelint-disable-next-line property-no-vendor-prefix -- Correct the inability to style clickable types in iOS and Safari (normalize). */
    -webkit-appearance: button;
    border-radius: var(
        --mod-button-border-radius,
        var(--spectrum-button-border-radius)
    );
    border-width: var(
        --mod-button-border-width,
        var(--spectrum-button-border-width)
    );
    border-style: solid;
    font-size: var(--mod-button-font-size, var(--spectrum-button-font-size));
    font-weight: var(
        --mod-button-font-weight,
        var(--spectrum-button-font-weight)
    );
    gap: var(
        --mod-button-padding-label-to-icon,
        var(--spectrum-button-padding-label-to-icon)
    );
    max-inline-size: var(--mod-button-max-inline-size, none);
    min-inline-size: var(
        --mod-button-min-width,
        var(--spectrum-button-min-width)
    );
    min-block-size: var(--mod-button-height, var(--spectrum-button-height));
    padding-block: 0;
    padding-inline: var(
        --mod-button-edge-to-text,
        var(--spectrum-button-edge-to-text)
    );
    background-color: var(
        --highcontrast-button-background-color-default,
        var(
            --mod-button-background-color-default,
            var(--spectrum-button-background-color-default)
        )
    );
    border-color: var(
        --highcontrast-button-border-color-default,
        var(
            --mod-button-border-color-default,
            var(--spectrum-button-border-color-default)
        )
    );
    color: var(
        --highcontrast-button-content-color-default,
        var(
            --mod-button-content-color-default,
            var(--spectrum-button-content-color-default)
        )
    );
    transition:
        border-color
            var(
                --mod-button-animation-duration,
                var(--spectrum-button-animation-duration, 130ms)
            )
            linear,
        color
            var(
                --mod-button-animation-duration,
                var(--spectrum-button-animation-duration, 130ms)
            )
            linear,
        background
            var(
                --mod-button-animation-duration,
                var(--spectrum-button-animation-duration, 130ms)
            )
            linear;
    margin-block: var(--mod-button-margin-block);
    margin-inline-end: var(--mod-button-margin-right);
    margin-inline-start: var(--mod-button-margin-left);

    .spectrum-Icon {
        /* Any block-size difference between the intended workflow icon size and actual icon used. Helps support any existing use of smaller UI icons instead of intended Workflow icons. */
        --_icon-size-difference: max(
            0px,
            var(--spectrum-button-intended-icon-size) -
                var(
                    --spectrum-icon-block-size,
                    var(--spectrum-button-intended-icon-size)
                )
        );

        margin-block-start: var(
            --mod-button-icon-margin-block-start,
            max(
                0px,
                var(
                        --mod-button-top-to-icon,
                        var(--spectrum-button-top-to-icon)
                    ) -
                    var(
                        --mod-button-border-width,
                        var(--spectrum-button-border-width)
                    ) +
                    (var(--_icon-size-difference, 0px) / 2)
            )
        );
        margin-inline-start: calc(
            var(
                    --mod-button-edge-to-visual,
                    var(--spectrum-button-edge-to-visual)
                ) -
                var(
                    --mod-button-edge-to-text,
                    var(--spectrum-button-edge-to-text)
                )
        );
        color: inherit;
        flex-shrink: 0;
        align-self: flex-start;
    }

    &:disabled,
    &.is-disabled {
        cursor: default;
    }

    /* Focus indicator */
    &:after {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        margin: calc(
            (
                    var(
                            --mod-button-focus-ring-gap,
                            var(--spectrum-button-focus-ring-gap)
                        ) +
                        var(
                            --mod-button-border-width,
                            var(--spectrum-button-border-width)
                        )
                ) *
                -1
        );
        border-radius: var(
            --mod-button-focus-ring-border-radius,
            calc(
                var(
                        --mod-button-border-radius,
                        var(--spectrum-button-border-radius)
                    ) +
                    var(
                        --mod-button-focus-ring-gap,
                        var(--spectrum-button-focus-ring-gap)
                    )
            )
        );
        transition: box-shadow
            var(
                --mod-button-animation-duration,
                var(--spectrum-button-animation-duration)
            )
            ease-in-out;
        pointer-events: none;
    }

    /* Fix Firefox */
    &::-moz-focus-inner {
        margin-block-start: -2px;
        margin-block-end: -2px;
        padding: 0;
        border: 0;

        /* Remove the inner border and padding for button in Firefox. */
        border-style: none;
    }

    &:focus {
        outline: none;
    }

    &:focus-visible,
    &.is-focused {
        box-shadow: none;
        outline: none;

        &:after {
            box-shadow: 0 0 0
                var(
                    --mod-button-focus-ring-thickness,
                    var(--spectrum-button-focus-ring-thickness)
                )
                var(
                    --highcontrast-button-focus-ring-color,
                    var(
                        --mod-button-focus-ring-color,
                        var(--spectrum-button-focus-indicator-color)
                    )
                );
        }
    }

    /* States and interaction */
    &:hover,
    &:active {
        box-shadow: none;
    }

    &:hover {
        background-color: var(
            --highcontrast-button-background-color-hover,
            var(
                --mod-button-background-color-hover,
                var(--spectrum-button-background-color-hover)
            )
        );
        border-color: var(
            --highcontrast-button-border-color-hover,
            var(
                --mod-button-border-color-hover,
                var(--spectrum-button-border-color-hover)
            )
        );
        color: var(
            --highcontrast-button-content-color-hover,
            var(
                --mod-button-content-color-hover,
                var(--spectrum-button-content-color-hover)
            )
        );
    }

    &:focus-visible {
        background-color: var(
            --highcontrast-button-background-color-focus,
            var(
                --mod-button-background-color-focus,
                var(--spectrum-button-background-color-focus)
            )
        );
        border-color: var(
            --highcontrast-button-border-color-focus,
            var(
                --mod-button-border-color-focus,
                var(--spectrum-button-border-color-focus)
            )
        );
        color: var(
            --highcontrast-button-content-color-focus,
            var(
                --mod-button-content-color-focus,
                var(--spectrum-button-content-color-focus)
            )
        );
    }

    &:active {
        background-color: var(
            --highcontrast-button-background-color-down,
            var(
                --mod-button-background-color-down,
                var(--spectrum-button-background-color-down)
            )
        );
        border-color: var(
            --highcontrast-button-border-color-down,
            var(
                --mod-button-border-color-down,
                var(--spectrum-button-border-color-down)
            )
        );
        color: var(
            --highcontrast-button-content-color-down,
            var(
                --mod-button-content-color-down,
                var(--spectrum-button-content-color-down)
            )
        );
        transform: perspective(var(--spectrum-downstate-perspective))
            translateZ(var(--spectrum-component-size-difference-down));
    }

    &:disabled,
    &.is-disabled,
    &[pending],
    &.is-pending {
        background-color: var(
            --highcontrast-button-background-color-disabled,
            var(
                --mod-button-background-color-disabled,
                var(--spectrum-button-background-color-disabled)
            )
        );
        border-color: var(
            --highcontrast-button-border-color-disabled,
            var(
                --mod-button-border-color-disabled,
                var(--spectrum-button-border-color-disabled)
            )
        );
        color: var(
            --highcontrast-button-content-color-disabled,
            var(
                --mod-button-content-color-disabled,
                var(--spectrum-button-content-color-disabled)
            )
        );
    }

    .spectrum-Icon,
    .swc-Button-label {
        visibility: visible;
        opacity: 1;
        transition: opacity
            var(
                --mod-button-animation-duration,
                var(--spectrum-button-animation-duration, 130ms)
            )
            ease-in-out;
    }

    .spectrum-ProgressCircle {
        visibility: hidden;
        opacity: 0;
        transition:
            opacity
                var(
                    --mod-button-animation-duration,
                    var(--spectrum-button-animation-duration, 130ms)
                )
                ease-in-out,
            visibility 0ms linear
                var(
                    --mod-button-animation-duration,
                    var(--spectrum-button-animation-duration, 130ms)
                );
    }

    &[pending],
    &.is-pending {
        cursor: default;

        .spectrum-Icon,
        .swc-Button-label {
            visibility: hidden;
            opacity: 0;
            transition:
                opacity
                    var(
                        --mod-button-animation-duration,
                        var(--spectrum-button-animation-duration, 130ms)
                    )
                    ease-in-out,
                visibility 0ms linear
                    var(
                        --mod-button-animation-duration,
                        var(--spectrum-button-animation-duration, 130ms)
                    );
        }

        .spectrum-ProgressCircle {
            visibility: visible;
            opacity: 1;
            transition: opacity
                var(
                    --mod-button-animation-duration,
                    var(--spectrum-button-animation-duration, 130ms)
                )
                ease-in-out;
        }
    }
}

a.swc-Button {
    /* Make link text not selectable  */
    user-select: none;

    /* stylelint-disable-next-line property-no-vendor-prefix -- Remove appearance for clickable types in iOS and Safari. */
    -webkit-appearance: none;
}

.swc-Button-label {
    align-self: start;
    justify-self: center;

    /* Fixes horizontal alignment of text in anchor buttons */
    text-align: center;
    padding-block-start: calc(
        var(--mod-button-top-to-text, var(--spectrum-button-top-to-text)) -
            var(--mod-button-border-width, var(--spectrum-button-border-width))
    );
    padding-block-end: calc(
        var(
                --mod-button-bottom-to-text,
                var(--spectrum-button-bottom-to-text)
            ) -
            var(--mod-button-border-width, var(--spectrum-button-border-width))
    );
    line-height: var(
        --mod-button-line-height,
        var(--spectrum-button-line-height)
    );

    &:empty {
        display: none;
    }
}

/* Disable button label wrap */
.swc-Button--noWrap .swc-Button-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.swc-Button .spectrum-Icon + .swc-Button-label {
    text-align: start;
}

/* Icon only variant */
.swc-Button.swc-Button--iconOnly {
    min-inline-size: unset;
    padding: var(
        --mod-button-edge-to-visual-only,
        var(--spectrum-button-edge-to-visual-only)
    );

    .spectrum-Icon {
        align-self: center;
        margin-inline-start: 0;
        margin-block-start: 0;
    }
}

/* Forced colors / high contrast mode */
@media (forced-colors: active) {
    .swc-Button {
        --highcontrast-button-border-color-default: ButtonBorder;
        --highcontrast-button-border-color-hover: ButtonBorder;
        --highcontrast-button-border-color-focus: ButtonBorder;
        --highcontrast-button-border-color-down: ButtonBorder;
        --highcontrast-button-content-color-disabled: GrayText;
        --highcontrast-button-border-color-disabled: GrayText;
        --highcontrast-button-background-color-disabled: ButtonFace;

        /* @passthrough start -- progress circle highcontrast overrides */
        --mod-progress-circle-track-border-color: ButtonText;
        --mod-progress-circle-track-border-color-over-background: ButtonText;
        --mod-progress-circle-thickness: var(
            --spectrum-progress-circle-thickness-medium
        );
        --highcontrast-button-focus-ring-color: ButtonText;

        &:focus-visible {
            &:after {
                /* Make sure the box-shadow used for the focus indicator is displayed. */
                forced-color-adjust: none;
            }
        }

        &.swc-Button--accent,
        &:not(
            .swc-Button--primary,
            .swc-Button--negative,
            .swc-Button--secondary,
            .swc-Button--staticBlack,
            .swc-Button--staticWhite
        ) {
            /* The accent fill variant looks different than the other buttons.
         It inverts the background and content colors. */
            --highcontrast-button-background-color-default: ButtonText;
            --highcontrast-button-content-color-default: ButtonFace;
            --highcontrast-button-background-color-hover: Highlight;
            --highcontrast-button-background-color-down: Highlight;
            --highcontrast-button-background-color-focus: Highlight;
            --highcontrast-button-content-color-hover: HighlightText;
            --highcontrast-button-content-color-down: HighlightText;
            --highcontrast-button-content-color-focus: HighlightText;

            .swc-Button-label {
                forced-color-adjust: none;
            }
        }
    }
}
