<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Link - Spectrum Web Components</title>
        <script type="module">
            // import the define helper
            import { defineCustomElements } from '../../../define.js';
            // import and define the demo page components
            import * as DemoElements from '../../demo-page/index.js';
            defineCustomElements(...Object.values(DemoElements));
            // import our elements we're going to demo
            import * as Elements from '../index.js';
            defineCustomElements(...Object.values(Elements));
        </script>
        <link rel="stylesheet" href="../../../styles/core-global/all.css" />
        <link rel="stylesheet" href="../../../styles/typography/font.css" />
        <link
            rel="stylesheet"
            href="../../../styles/theme-light/components/link.css"
        />
        <link
            rel="stylesheet"
            href="../../../styles/scale-medium/components/link.css"
        />
    </head>

    <body>
        <demo-page title="link">
            <demo-section title="link" show-demo-code>
                <div slot="description">The link component</div>
                <div slot="demo">
                    <spectrum-link>link to the webpage</spectrum-link>
                    <spectrum-link disabled>link to the webpage</spectrum-link>
                </div>
            </demo-section>
        </demo-page>
    </body>
</html>
