<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Link - Spectrum Web Components</title>
        <script src="../link.js" type="module"></script>
        <script src="../../demo-page/index.js" type="module"></script>
        <link rel="stylesheet" href="../../../styles/core-global/all.css" />
        <link rel="stylesheet" href="../../../styles/typography/font.css" />
        <link
            rel="stylesheet"
            href="../../../styles/theme-light/components/link.css"
        />
        <link
            rel="stylesheet"
            href="../../../styles/scale-medium/components/link.css"
        />
        <link rel="stylesheet" href="../../../styles/scale-medium/link.css" />
    </head>

    <body>
        <demo-page title="link">
            <demo-section title="link" show-demo-code>
                <div slot="description">The link component</div>
                <div slot="demo">
                    <spectrum-link>
                        <div>link to the webpage</div>
                    </spectrum-link>
                </div>
            </demo-section>
        </demo-page>
    </body>
</html>
