/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:host {
    --spectrum-search-border-color-default: var(--system-search-border-color-default);
    --spectrum-search-border-color-hover: var(--system-search-border-color-hover);
    --spectrum-search-border-color-focus: var(--system-search-border-color-focus);
    --spectrum-search-border-color-focus-hover: var(--system-search-border-color-focus-hover);
    --spectrum-search-border-color-key-focus: var(--system-search-border-color-key-focus);
    --spectrum-search-background-color: var(--system-search-background-color);
    --spectrum-search-background-color-disabled: var(--system-search-background-color-disabled);
    --spectrum-search-border-color-disabled: var(--system-search-border-color-disabled);
    --spectrum-search-border-radius: var(--system-search-border-radius);
    --spectrum-search-edge-to-visual: var(--system-search-edge-to-visual);
}

:host([size="m"]) #textfield {
    --spectrum-search-border-radius: var(--system-search-size-m-border-radius);
    --spectrum-search-edge-to-visual: var(--system-search-size-m-edge-to-visual);
}

:host([quiet]) {
    --spectrum-search-background-color-disabled: var(--system-search-quiet-background-color-disabled);
    --spectrum-search-border-color-disabled: var(--system-search-quiet-border-color-disabled);
}
