/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import url("./spectrum-table-row.css");

:host,
:host([role="row"]) {
    display: flex;
    width: 100%;
}

/* Remove original outer borders used with table-based 'display' property values.
   These are replaced by a border around the scrollable table body. */
:host(:first-child) ::slotted(*) {
    border-block-start: none;
}

:host(:last-child) ::slotted(*) {
    border-block-end: none;
}

::slotted(:first-child) {
    border-inline-start: none;
}

::slotted(:last-child) {
    border-inline-end: none;
}

/* @todo: When section header is supported, set selector equivalent of
   ".spectrum-Table-row--sectionHeader .spectrum-Table-cell" to "block-size: auto". */
