/**
 * Copyright 2026 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.swc-Card {
  --_swc-card-collection-item-aspect-ratio: var(--swc-card-collection-item-aspect-ratio, 1);
  --_swc-card-collection-gap: var(--swc-card-collection-gap, token("group-gap-extra-small"));
  --_swc-card-collection-columns: repeat(3, 1fr);
}

.swc-Card-media {
  grid-template-areas:
    "preview"
    "collection";
  grid-template-rows: repeat(2, auto);
}

::slotted([slot="media"]) {
  position: relative;
  grid-area: media;
}

/* ─────────────────────────────────────────────────────────────────────────────
   COLLECTION SLOT
   ───────────────────────────────────────────────────────────────────────────── */

.swc-Card-collection {
  display: none;
  grid-area: collection;
  grid-template-columns: var(--_swc-card-collection-columns);
  margin-block-start: var(--_swc-card-collection-gap);
  column-gap: var(--_swc-card-collection-gap);
}

:host(:has([slot="collection"])) .swc-Card-collection {
  display: grid;
}

/* Chromium :host(:has()) support */
@scope {
  :scope:has([slot="collection"]) .swc-Card-collection {
    display: grid;
  }
}

::slotted([slot="collection"]) {
  inline-size: 100%;
  aspect-ratio: var(--_swc-card-collection-item-aspect-ratio);
  pointer-events: none;
  object-fit: cover;
}

/* Hide collection items after the 3rd one */
::slotted(:nth-child(n + 4 of [slot="collection"])) {
  display: none;
}

/* ─────────────────────────────────────────────────────────────────────────────
   COLLECTION WITHOUT PREVIEW
   ───────────────────────────────────────────────────────────────────────────── */

:host(:has([slot="collection"]):not(:has([slot="preview"]))) .swc-Card-collection {
  margin-block-start: 0;
}

/* Chromium :host(:has()) support */
@scope {
  :scope:has([slot="collection"]):not(:has([slot="preview"])) .swc-Card-collection {
    margin-block-start: 0;
  }
}

/* ─────────────────────────────────────────────────────────────────────────────
   GALLERY LAYOUT
   ───────────────────────────────────────────────────────────────────────────── */

:host(:not(:has([slot="title"]), :has([slot="description"]), :has([slot="actions"]), :has([slot="footer"]))) :not(.swc-Card--hasDefault) {
  --_swc-card-media-layout: gallery;
}

:host(:has([slot="preview"])) {
  --_swc-card-media-contains: preview;
}

:host(:has([slot="collection"])) {
  --_swc-card-media-contains: collection;
}

@scope {
  :scope:not(:has([slot="title"]), :has([slot="description"]), :has([slot="actions"]), :has([slot="footer"])) :not(.swc-Card--hasDefault) {
    --_swc-card-media-layout: gallery;
  }

  :scope:has([slot="preview"]) {
    --_swc-card-media-contains: preview;
  }

  :scope:has([slot="collection"]) {
    --_swc-card-media-contains: collection;
  }
}

@container style(--_swc-card-media-layout: gallery) {
  .swc-Card-content {
    padding: 0;
  }

  .swc-Card-media {
    border-radius: var(--_swc-card-base-border-radius);
    box-shadow: var(--_swc-card-base-box-shadow);
    transition-timing-function: var(--_swc-card-base-transition-timing-function);
    transition-duration: var(--_swc-card-base-transition-duration);
    transition-property: outline, box-shadow;
  }

  :host([selectable]:focus-visible) .swc-CardBase-media {
    position: relative;
    outline: var(--_swc-card-base-selected-focus-outline);

    &::after {
      position: absolute;
      inset: 0;
      z-index: 2;
      border-radius: var(--_swc-card-base-border-radius);
      pointer-events: none;
      outline: token("focus-indicator-thickness") solid token("transparent-white-600");
      outline-offset: calc(token("focus-indicator-thickness") * -1);
      content: "";
    }
  }

  @container not style(--_swc-card-media-contains: collection) {
    ::slotted([slot="preview"]) {
      aspect-ratio: var(--swc-card-gallery-preview-aspect-ratio, 1);
    }
  }
}

/* ─────────────────────────────────────────────────────────────────────────────
   SIZE=XS
   For the extra-small size, if both the preview and collection slots are filled,
   move the preview item into the first position of the collection row and 
   hide overflow.
   ───────────────────────────────────────────────────────────────────────────── */

:host([size="xs"]) {
  --swc-card-collection-gap: token("group-gap-compact");
}

:host([size="xs"]:has([slot="preview"]):has([slot="collection"])) .swc-Card {
  --_swc-card-media-layout: 3col;
}

/* Chromium :host(:has()) support */
@scope (:host([size="xs"])) {
  :scope:has([slot="preview"]):has([slot="collection"]) .swc-Card {
    --_swc-card-media-layout: 3col;
  }
}

@container style(--_swc-card-media-layout: 3col) {
  .swc-Card-media {
    display: grid;
    grid-template-columns: var(--_swc-card-collection-columns);
    column-gap: var(--_swc-card-collection-gap);
  }

  .swc-Card-collection {
    grid-template-columns: subgrid;
    grid-row: -1 / 1;
    grid-column: 2 / -1;
    margin-block-start: 0;
  }

  ::slotted([slot="preview"]) {
    --swc-card-base-preview-aspect-ratio: var(--_swc-card-collection-item-aspect-ratio);
  }

  /* Hide collection items after the 2nd one */
  ::slotted(:nth-child(n + 3 of [slot="collection"])) {
    display: none;
  }
}
