/* @deprecated these assets should not be used; the custom override values exist in express/dark-vars.css */
:host,
:root {
    --spectrum-drop-zone-background-color-rgb: var(--spectrum-indigo-900-rgb);
    --spectrum-well-border-color: rgba(var(--spectrum-white-rgb), 0.05);
    --spectrum-assetcard-border-color-selected: var(--spectrum-indigo-700);
    --spectrum-assetcard-border-color-selected-hover: var(--spectrum-indigo-700);
    --spectrum-assetcard-border-color-selected-down: var(--spectrum-indigo-800);
    --spectrum-assetcard-selectionindicator-background-color-ordered: var(--spectrum-indigo-700);
}
