name: Update PRs

on: workflow_dispatch

jobs:
    autoupdate:
        name: Auto-update PRs
        runs-on: ubuntu-latest
        permissions:
            contents: read
            pull-requests: write
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  cache: yarn
                  node-version: 20
            - name: Install dependencies
              run: yarn install --frozen-lockfile
              # README: https://github.com/castastrophe/actions-pr-auto-update#auto-update-pull-requests
            - uses: castastrophe/actions-pr-auto-update@v1.1.0
              with:
                  token: ${{ secrets.USER_TOKEN }}
                  include_drafts: false
                  limit: 50
                  exclude_labels: blocked,wip
                  include_labels: in-review,ready-for-merge
