name: Playwright SmokeTests

on:
    push:
        branches: [main, smoke-test]
    pull_request:
        branches: [main, smoke-test]

jobs:
    test:
        timeout-minutes: 60
        runs-on: ubuntu-latest
        steps:
            - name: Checkout PR branch
              uses: actions/checkout@v4

            - name: Setup Job and Install Dependencies
              uses: ./.github/actions/setup-job

            - name: Install Playwright Browsers
              run: yarn playwright install --with-deps

            - name: Run Playwright tests
              run: yarn playwright test projects/documentation/e2e/published.spec.ts
              env:
                  DOC_PREVIEW_URL: https://opensource.adobe.com/spectrum-web-components/
                  NODE_ENV: CI

            - name: Upload Playwright Report
              uses: actions/upload-artifact@v4
              if: always()
              with:
                  name: playwright-report
                  path: playwright-report/
                  retention-days: 30
