name: Links, and Smoke Tests

on:
    pull_request:
        types: [opened, synchronize, reopened]

jobs:
    comment-previews:
        name: Create preview URLs and comment

        # The job will only run if the pull request is from the same repository.
        # Benchmarks can't run on PRs from forked repos due to comment posting restrictions without a GitHub token.
        if: github.event.pull_request == null || github.event.pull_request.head.repo.full_name == github.repository
        runs-on: ubuntu-latest
        outputs:
            doc_url: ${{ steps.extract_doc_url.outputs.DOC_URL }}
        steps:
            - name: Checkout main
              uses: actions/checkout@v4
              with:
                  ref: main

            - name: Checkout PR branch
              uses: actions/checkout@v4

            - name: Setup Job and Install Dependencies
              uses: ./.github/actions/setup-job

            - name: Extract branch name
              shell: bash
              run: echo "BRANCH=$(npx slugify-cli ${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}})" >> $GITHUB_OUTPUT
              id: extract_branch

            - name: Extract doc preview url
              run: echo "DOC_URL=https://${{ steps.extract_branch.outputs.BRANCH }}--spectrumwc.netlify.app/" >> $GITHUB_OUTPUT
              id: extract_doc_url

            - name: Post Previews Comment
              uses: actions/github-script@v7
              with:
                  script: |
                      const { buildPreviewURLComment } = await import('${{ github.workspace }}/tasks/build-preview-urls-comment.js');
                      const body = buildPreviewURLComment(process.env.GITHUB_HEAD_REF);
                      const { getDocPreviewURL } = await import('${{ github.workspace }}/tasks/build-preview-urls-comment.js');
                      const { commentOrUpdate } = await import('${{ github.workspace }}/tasks/comment-or-update.js');
                      commentOrUpdate(github, context, '## Branch preview', body);

    playwright-smoke-tests:
        timeout-minutes: 60
        runs-on: ubuntu-latest
        needs: comment-previews
        steps:
            - name: Checkout PR branch
              uses: actions/checkout@v4

            - name: Setup Job and Install Dependencies
              uses: ./.github/actions/setup-job

            - name: Install Playwright Browsers
              run: yarn playwright install --with-deps

            - name: Run Playwright tests
              run: yarn playwright test projects/documentation/e2e/published.spec.ts
              env:
                  DOC_PREVIEW_URL: ${{ needs.comment-previews.outputs.doc_url }}
                  NODE_ENV: CI

            - name: Upload Playwright Report
              uses: actions/upload-artifact@v4
              if: always()
              with:
                  name: playwright-report
                  path: playwright-report/
                  retention-days: 30
