:root {
  --spectrum-banner-border-radius: 8px;
  --spectrum-banner-padding-y: 4px;
  --spectrum-banner-padding-x: 8px;
  --spectrum-banner-text-size: 12px;
  --spectrum-banner-text-line-height: 1.3;
}
