:root {
  --spectrum-calendar-day-width: 32px;
  --spectrum-calendar-day-height: 32px;
  --spectrum-calendar-day-padding: 4px;
  --spectrum-calendar-day-text-size: 14px;
  --spectrum-calendar-day-title-text-size: 11px;
  --spectrum-calendar-day-title-text-font-weight: 500;
  --spectrum-calendar-day-today-text-font-weight: 700;
  --spectrum-calendar-day-text-font-weight-selected: 700;
  --spectrum-calendar-day-text-font-weight-cap-selected: 700;
  --spectrum-calendar-day-border-size-key-focus: 2px;
  --spectrum-calendar-width: 250px;
  --spectrum-calendar-title-height: 32px;
  --spectrum-calendar-title-text-size: 18px;
}
