:root {
  --spectrum-coachmark-min-width: 272px;
  --spectrum-coachmark-max-width: 400px;
  --spectrum-coachmark-padding-x: 24px;
  --spectrum-coachmark-padding-y: 24px;
  --spectrum-coachmark-border-radius: 4px;
  --spectrum-coachmark-title-margin-bottom: 16px;
  --spectrum-coachmark-content-margin-bottom: 16px;
  --spectrum-coachmark-indicator-gap: 6px;
  --spectrum-coachmark-step-margin-left: 16px;
  --spectrum-coachmark-border-size: 1px;
  --spectrum-coachmark-title-text-size: 16px;
  --spectrum-coachmark-title-text-font-weight: 700;
  --spectrum-coachmark-title-text-line-height: 1.3;
  --spectrum-coachmark-content-text-size: 14px;
  --spectrum-coachmark-content-text-font-weight: 400;
  --spectrum-coachmark-content-text-line-height: 1.5;
  --spectrum-coachmark-step-text-size: 14px;
  --spectrum-coachmark-step-text-font-weight: 400;
  --spectrum-coachmark-step-text-line-height: 1.5;
  --spectrum-coachmark-indicator-ring-border-size: 2px;
  --spectrum-coachmark-animation-indicator-ring-duration: 3000ms;
  --spectrum-coachmark-animation-indicator-ring-ease: (0, 0, 1, 1);
  --spectrum-coachmark-animation-inticator-ring-outer-delay-multiple: -1;
  --spectrum-coachmark-animation-indicator-keyframe-0-opacity: 0;
  --spectrum-coachmark-animation-indicator-keyframe-50-scale: 1.5;
  --spectrum-coachmark-animation-indicator-keyframe-50-opacity: 0.6;
  --spectrum-coachmark-animation-indicator-keyframe-100-scale: 2;
  --spectrum-coachmark-animation-indicator-keyframe-100-opacity: 0;
  --spectrum-coachmark-shadow-blur: 4px;
  --spectrum-coachmark-shadow-offset-y: 1px;
  --spectrum-coachmark-indicator-ring-diameter: 16px;
  --spectrum-coachmark-animation-inticator-ring-inner-delay-multiple: -0.5;
  --spectrum-coachmark-animation-inticator-ring-center-delay-multiple: -0.66;
  --spectrum-coachmark-animation-indicator-keyframe-0-scale: 1;
  --spectrum-coachmark-quiet-min-width: 272px;
  --spectrum-coachmark-quiet-max-width: 400px;
  --spectrum-coachmark-quiet-padding-x: 24px;
  --spectrum-coachmark-quiet-padding-y: 24px;
  --spectrum-coachmark-quiet-border-radius: 4px;
  --spectrum-coachmark-quiet-title-margin-bottom: 16px;
  --spectrum-coachmark-quiet-content-margin-bottom: 16px;
  --spectrum-coachmark-quiet-indicator-gap: 6px;
  --spectrum-coachmark-quiet-step-margin-left: 16px;
  --spectrum-coachmark-quiet-border-size: 1px;
  --spectrum-coachmark-quiet-title-text-size: 16px;
  --spectrum-coachmark-quiet-title-text-font-weight: 700;
  --spectrum-coachmark-quiet-title-text-line-height: 1.3;
  --spectrum-coachmark-quiet-content-text-size: 14px;
  --spectrum-coachmark-quiet-content-text-font-weight: 400;
  --spectrum-coachmark-quiet-content-text-line-height: 1.5;
  --spectrum-coachmark-quiet-step-text-size: 14px;
  --spectrum-coachmark-quiet-step-text-font-weight: 400;
  --spectrum-coachmark-quiet-step-text-line-height: 1.5;
  --spectrum-coachmark-quiet-indicator-ring-border-size: 2px;
  --spectrum-coachmark-quiet-animation-indicator-ring-duration: 3000ms;
  --spectrum-coachmark-quiet-animation-indicator-ring-ease: (0, 0, 1, 1);
  --spectrum-coachmark-quiet-animation-inticator-ring-outer-delay-multiple: -1;
  --spectrum-coachmark-quiet-animation-indicator-keyframe-0-opacity: 0;
  --spectrum-coachmark-quiet-animation-indicator-keyframe-50-scale: 1.5;
  --spectrum-coachmark-quiet-animation-indicator-keyframe-50-opacity: 0.6;
  --spectrum-coachmark-quiet-animation-indicator-keyframe-100-scale: 2;
  --spectrum-coachmark-quiet-animation-indicator-keyframe-100-opacity: 0;
  --spectrum-coachmark-quiet-shadow-blur: 4px;
  --spectrum-coachmark-quiet-shadow-offset-y: 1px;
  --spectrum-coachmark-quiet-indicator-ring-diameter: 8px;
  --spectrum-coachmark-quiet-animation-inticator-ring-center-delay-multiple: -0.66;
  --spectrum-coachmark-quiet-animation-inticator-ring-inner-delay-multiple: -0.33;
  --spectrum-coachmark-quiet-animation-indicator-keyframe-0-scale: 0.8;
}
