:root {
  --spectrum-combobox-textfield-border-top-right-radius: 0;
  --spectrum-combobox-textfield-border-bottom-right-radius: 0;
  --spectrum-combobox-fieldbutton-border-top-left-radius: 0;
  --spectrum-combobox-fieldbutton-border-bottom-left-radius: 0;
  --spectrum-combobox-popover-offset-y: 6px;
  --spectrum-combobox-popover-offset-x: 0px;
  --spectrum-combobox-quiet-textfield-border-top-right-radius: 0;
  --spectrum-combobox-quiet-textfield-border-bottom-right-radius: 0;
  --spectrum-combobox-quiet-fieldbutton-border-top-left-radius: 0;
  --spectrum-combobox-quiet-fieldbutton-border-bottom-left-radius: 0;
  --spectrum-combobox-quiet-popover-offset-y: 6px;
  --spectrum-combobox-quiet-popover-offset-x: 12px;
}
