:root {
  --spectrum-detail-article-text-font-family: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
  --spectrum-detail-article-text-font-style: normal;
  --spectrum-detail-article-text-font-weight: 400;
  --spectrum-detail-article-text-line-height: 1.5;
  --spectrum-detail-article-text-letter-spacing: 0;
  --spectrum-detail-article-text-transform: none;
  --spectrum-detail-article-margin-top: 0px;
  --spectrum-detail-article-margin-bottom-multiplier: 0.75em;
  --spectrum-detail-article-text-size: 11px;
  --spectrum-detail-article-margin-bottom: 8px;
  --spectrum-detail-article-emphasis-text-font-family: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
  --spectrum-detail-article-emphasis-text-font-style: italic;
  --spectrum-detail-article-emphasis-text-font-weight: 400;
  --spectrum-detail-article-emphasis-text-line-height: 1.5;
  --spectrum-detail-article-emphasis-text-letter-spacing: 0;
  --spectrum-detail-article-emphasis-text-transform: none;
  --spectrum-detail-article-emphasis-margin-top: 0px;
  --spectrum-detail-article-emphasis-margin-bottom-multiplier: 0.75em;
  --spectrum-detail-article-emphasis-text-size: 11px;
  --spectrum-detail-article-emphasis-margin-bottom: 8px;
  --spectrum-detail-article-strong-text-font-family: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
  --spectrum-detail-article-strong-text-font-style: normal;
  --spectrum-detail-article-strong-text-font-weight: 700;
  --spectrum-detail-article-strong-text-line-height: 1.5;
  --spectrum-detail-article-strong-text-letter-spacing: 0;
  --spectrum-detail-article-strong-text-transform: none;
  --spectrum-detail-article-strong-margin-top: 0px;
  --spectrum-detail-article-strong-margin-bottom-multiplier: 0.75em;
  --spectrum-detail-article-strong-text-size: 11px;
  --spectrum-detail-article-strong-margin-bottom: 8px;
  --spectrum-detail-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-detail-text-font-style: normal;
  --spectrum-detail-text-font-weight: 400;
  --spectrum-detail-text-line-height: 1.5;
  --spectrum-detail-text-letter-spacing: 0.06em;
  --spectrum-detail-text-transform: uppercase;
  --spectrum-detail-margin-top: 0px;
  --spectrum-detail-margin-bottom-multiplier: 0.75em;
  --spectrum-detail-text-size: 11px;
  --spectrum-detail-margin-bottom: 8px;
  --spectrum-detail-emphasis-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-detail-emphasis-text-font-style: italic;
  --spectrum-detail-emphasis-text-font-weight: 400;
  --spectrum-detail-emphasis-text-line-height: 1.5;
  --spectrum-detail-emphasis-text-letter-spacing: 0.06em;
  --spectrum-detail-emphasis-text-transform: uppercase;
  --spectrum-detail-emphasis-margin-top: 0px;
  --spectrum-detail-emphasis-margin-bottom-multiplier: 0.75em;
  --spectrum-detail-emphasis-text-size: 11px;
  --spectrum-detail-emphasis-margin-bottom: 8px;
  --spectrum-detail-strong-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-detail-strong-text-font-style: normal;
  --spectrum-detail-strong-text-font-weight: 700;
  --spectrum-detail-strong-text-line-height: 1.5;
  --spectrum-detail-strong-text-letter-spacing: 0.06em;
  --spectrum-detail-strong-text-transform: uppercase;
  --spectrum-detail-strong-margin-top: 0px;
  --spectrum-detail-strong-margin-bottom-multiplier: 0.75em;
  --spectrum-detail-strong-text-size: 11px;
  --spectrum-detail-strong-margin-bottom: 8px;
  --spectrum-detail-han-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-detail-han-text-font-style: normal;
  --spectrum-detail-han-text-font-weight: 400;
  --spectrum-detail-han-text-line-height: 1.7;
  --spectrum-detail-han-text-letter-spacing: 0.05em;
  --spectrum-detail-han-text-transform: none;
  --spectrum-detail-han-margin-top: 0px;
  --spectrum-detail-han-margin-bottom-multiplier: 0.75em;
  --spectrum-detail-han-text-size: 11px;
  --spectrum-detail-han-margin-bottom: 8px;
  --spectrum-detail-han-emphasis-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-detail-han-emphasis-text-font-style: normal;
  --spectrum-detail-han-emphasis-text-font-weight: 700;
  --spectrum-detail-han-emphasis-text-line-height: 1.7;
  --spectrum-detail-han-emphasis-text-letter-spacing: 0.05em;
  --spectrum-detail-han-emphasis-text-transform: none;
  --spectrum-detail-han-emphasis-margin-top: 0px;
  --spectrum-detail-han-emphasis-margin-bottom-multiplier: 0.75em;
  --spectrum-detail-han-emphasis-text-size: 11px;
  --spectrum-detail-han-emphasis-margin-bottom: 8px;
  --spectrum-detail-han-strong-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-detail-han-strong-text-font-style: normal;
  --spectrum-detail-han-strong-text-font-weight: 900;
  --spectrum-detail-han-strong-text-line-height: 1.7;
  --spectrum-detail-han-strong-text-letter-spacing: 0.05em;
  --spectrum-detail-han-strong-text-transform: none;
  --spectrum-detail-han-strong-margin-top: 0px;
  --spectrum-detail-han-strong-margin-bottom-multiplier: 0.75em;
  --spectrum-detail-han-strong-text-size: 11px;
  --spectrum-detail-han-strong-margin-bottom: 8px;
}
