:root {
  --spectrum-dialog-width: 90%;
  --spectrum-dialog-min-width: 288px;
  --spectrum-dialog-max-width: 480px;
  --spectrum-dialog-icon-margin-left: 24px;
  --spectrum-dialog-rule-height: 2px;
  --spectrum-dialog-rule-margin-top: 12px;
  --spectrum-dialog-rule-margin-bottom: 16px;
  --spectrum-dialog-rule-border-radius: 1px;
  --spectrum-dialog-title-text-size: 18px;
  --spectrum-dialog-title-text-line-height: 1.3;
  --spectrum-dialog-title-text-font-weight: 700;
  --spectrum-dialog-content-text-size: 14px;
  --spectrum-dialog-content-text-font-weight: 400;
  --spectrum-dialog-padding: 40px;
  --spectrum-dialog-border-radius: 4px;
  --spectrum-dialog-content-margin-bottom: 48px;
  --spectrum-dialog-icon-height: 18px;
  --spectrum-dialog-icon-width: 18px;
  --spectrum-dialog-button-gap: 16px;
  --spectrum-dialog-content-text-line-height: 1.5;
  --spectrum-dialog-animation-distance: 8px;
}
