:root {
  --spectrum-display-1-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-1-text-font-style: normal;
  --spectrum-display-1-text-font-weight: 700;
  --spectrum-display-1-text-line-height: 1.3;
  --spectrum-display-1-text-letter-spacing: 0;
  --spectrum-display-1-text-transform: none;
  --spectrum-display-1-margin-bottom-multiplier: 0.25em;
  --spectrum-display-1-text-size: 45px;
  --spectrum-display-1-margin-top: 40px;
  --spectrum-display-1-margin-bottom: 11px;
  --spectrum-display-2-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-2-text-font-style: normal;
  --spectrum-display-2-text-font-weight: 700;
  --spectrum-display-2-text-line-height: 1.3;
  --spectrum-display-2-text-letter-spacing: 0;
  --spectrum-display-2-text-transform: none;
  --spectrum-display-2-margin-bottom-multiplier: 0.25em;
  --spectrum-display-2-text-size: 40px;
  --spectrum-display-2-margin-top: 36px;
  --spectrum-display-2-margin-bottom: 10px;
  --spectrum-display-article-1-text-font-family: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
  --spectrum-display-article-1-text-font-style: normal;
  --spectrum-display-article-1-text-font-weight: 700;
  --spectrum-display-article-1-text-line-height: 1.3;
  --spectrum-display-article-1-text-letter-spacing: 0.0125em;
  --spectrum-display-article-1-text-transform: none;
  --spectrum-display-article-1-margin-bottom-multiplier: 0.25em;
  --spectrum-display-article-1-text-size: 45px;
  --spectrum-display-article-1-margin-top: 40px;
  --spectrum-display-article-1-margin-bottom: 11px;
  --spectrum-display-article-1-emphasis-text-font-family: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
  --spectrum-display-article-1-emphasis-text-font-style: italic;
  --spectrum-display-article-1-emphasis-text-font-weight: 700;
  --spectrum-display-article-1-emphasis-text-line-height: 1.3;
  --spectrum-display-article-1-emphasis-text-letter-spacing: 0.0125em;
  --spectrum-display-article-1-emphasis-text-transform: none;
  --spectrum-display-article-1-emphasis-margin-bottom-multiplier: 0.25em;
  --spectrum-display-article-1-emphasis-text-size: 45px;
  --spectrum-display-article-1-emphasis-margin-top: 40px;
  --spectrum-display-article-1-emphasis-margin-bottom: 11px;
  --spectrum-display-article-1-strong-text-font-family: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
  --spectrum-display-article-1-strong-text-font-style: normal;
  --spectrum-display-article-1-strong-text-font-weight: 900;
  --spectrum-display-article-1-strong-text-line-height: 1.3;
  --spectrum-display-article-1-strong-text-letter-spacing: 0.0125em;
  --spectrum-display-article-1-strong-text-transform: none;
  --spectrum-display-article-1-strong-margin-bottom-multiplier: 0.25em;
  --spectrum-display-article-1-strong-text-size: 45px;
  --spectrum-display-article-1-strong-margin-top: 40px;
  --spectrum-display-article-1-strong-margin-bottom: 11px;
  --spectrum-display-article-2-text-font-family: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
  --spectrum-display-article-2-text-font-style: normal;
  --spectrum-display-article-2-text-font-weight: 700;
  --spectrum-display-article-2-text-line-height: 1.3;
  --spectrum-display-article-2-text-letter-spacing: 0.0125em;
  --spectrum-display-article-2-text-transform: none;
  --spectrum-display-article-2-margin-bottom-multiplier: 0.25em;
  --spectrum-display-article-2-text-size: 40px;
  --spectrum-display-article-2-margin-top: 36px;
  --spectrum-display-article-2-margin-bottom: 10px;
  --spectrum-display-article-2-emphasis-text-font-family: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
  --spectrum-display-article-2-emphasis-text-font-style: italic;
  --spectrum-display-article-2-emphasis-text-font-weight: 700;
  --spectrum-display-article-2-emphasis-text-line-height: 1.3;
  --spectrum-display-article-2-emphasis-text-letter-spacing: 0.0125em;
  --spectrum-display-article-2-emphasis-text-transform: none;
  --spectrum-display-article-2-emphasis-margin-bottom-multiplier: 0.25em;
  --spectrum-display-article-2-emphasis-text-size: 40px;
  --spectrum-display-article-2-emphasis-margin-top: 36px;
  --spectrum-display-article-2-emphasis-margin-bottom: 10px;
  --spectrum-display-article-2-strong-text-font-family: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
  --spectrum-display-article-2-strong-text-font-style: normal;
  --spectrum-display-article-2-strong-text-font-weight: 900;
  --spectrum-display-article-2-strong-text-line-height: 1.3;
  --spectrum-display-article-2-strong-text-letter-spacing: 0.0125em;
  --spectrum-display-article-2-strong-text-transform: none;
  --spectrum-display-article-2-strong-margin-bottom-multiplier: 0.25em;
  --spectrum-display-article-2-strong-text-size: 40px;
  --spectrum-display-article-2-strong-margin-top: 36px;
  --spectrum-display-article-2-strong-margin-bottom: 10px;
  --spectrum-display-quiet-article-1-text-font-family: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
  --spectrum-display-quiet-article-1-text-font-style: normal;
  --spectrum-display-quiet-article-1-text-font-weight: 400;
  --spectrum-display-quiet-article-1-text-line-height: 1.3;
  --spectrum-display-quiet-article-1-text-letter-spacing: 0.0125em;
  --spectrum-display-quiet-article-1-text-transform: none;
  --spectrum-display-quiet-article-1-margin-bottom-multiplier: 0.25em;
  --spectrum-display-quiet-article-1-text-size: 45px;
  --spectrum-display-quiet-article-1-margin-top: 40px;
  --spectrum-display-quiet-article-1-margin-bottom: 11px;
  --spectrum-display-quiet-article-1-emphasis-text-font-family: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
  --spectrum-display-quiet-article-1-emphasis-text-font-style: italic;
  --spectrum-display-quiet-article-1-emphasis-text-font-weight: 400;
  --spectrum-display-quiet-article-1-emphasis-text-line-height: 1.3;
  --spectrum-display-quiet-article-1-emphasis-text-letter-spacing: 0.0125em;
  --spectrum-display-quiet-article-1-emphasis-text-transform: none;
  --spectrum-display-quiet-article-1-emphasis-margin-bottom-multiplier: 0.25em;
  --spectrum-display-quiet-article-1-emphasis-text-size: 45px;
  --spectrum-display-quiet-article-1-emphasis-margin-top: 40px;
  --spectrum-display-quiet-article-1-emphasis-margin-bottom: 11px;
  --spectrum-display-quiet-article-1-strong-text-font-family: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
  --spectrum-display-quiet-article-1-strong-text-font-style: normal;
  --spectrum-display-quiet-article-1-strong-text-font-weight: 700;
  --spectrum-display-quiet-article-1-strong-text-line-height: 1.3;
  --spectrum-display-quiet-article-1-strong-text-letter-spacing: 0.0125em;
  --spectrum-display-quiet-article-1-strong-text-transform: none;
  --spectrum-display-quiet-article-1-strong-margin-bottom-multiplier: 0.25em;
  --spectrum-display-quiet-article-1-strong-text-size: 45px;
  --spectrum-display-quiet-article-1-strong-margin-top: 40px;
  --spectrum-display-quiet-article-1-strong-margin-bottom: 11px;
  --spectrum-display-quiet-article-2-text-font-family: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
  --spectrum-display-quiet-article-2-text-font-style: normal;
  --spectrum-display-quiet-article-2-text-font-weight: 400;
  --spectrum-display-quiet-article-2-text-line-height: 1.3;
  --spectrum-display-quiet-article-2-text-letter-spacing: 0.0125em;
  --spectrum-display-quiet-article-2-text-transform: none;
  --spectrum-display-quiet-article-2-margin-bottom-multiplier: 0.25em;
  --spectrum-display-quiet-article-2-text-size: 40px;
  --spectrum-display-quiet-article-2-margin-top: 36px;
  --spectrum-display-quiet-article-2-margin-bottom: 10px;
  --spectrum-display-quiet-article-2-emphasis-text-font-family: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
  --spectrum-display-quiet-article-2-emphasis-text-font-style: italic;
  --spectrum-display-quiet-article-2-emphasis-text-font-weight: 400;
  --spectrum-display-quiet-article-2-emphasis-text-line-height: 1.3;
  --spectrum-display-quiet-article-2-emphasis-text-letter-spacing: 0.0125em;
  --spectrum-display-quiet-article-2-emphasis-text-transform: none;
  --spectrum-display-quiet-article-2-emphasis-margin-bottom-multiplier: 0.25em;
  --spectrum-display-quiet-article-2-emphasis-text-size: 40px;
  --spectrum-display-quiet-article-2-emphasis-margin-top: 36px;
  --spectrum-display-quiet-article-2-emphasis-margin-bottom: 10px;
  --spectrum-display-quiet-article-2-strong-text-font-family: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
  --spectrum-display-quiet-article-2-strong-text-font-style: normal;
  --spectrum-display-quiet-article-2-strong-text-font-weight: 700;
  --spectrum-display-quiet-article-2-strong-text-line-height: 1.3;
  --spectrum-display-quiet-article-2-strong-text-letter-spacing: 0.0125em;
  --spectrum-display-quiet-article-2-strong-text-transform: none;
  --spectrum-display-quiet-article-2-strong-margin-bottom-multiplier: 0.25em;
  --spectrum-display-quiet-article-2-strong-text-size: 40px;
  --spectrum-display-quiet-article-2-strong-margin-top: 36px;
  --spectrum-display-quiet-article-2-strong-margin-bottom: 10px;
  --spectrum-display-1-emphasis-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-1-emphasis-text-font-style: italic;
  --spectrum-display-1-emphasis-text-font-weight: 700;
  --spectrum-display-1-emphasis-text-line-height: 1.3;
  --spectrum-display-1-emphasis-text-letter-spacing: 0;
  --spectrum-display-1-emphasis-text-transform: none;
  --spectrum-display-1-emphasis-margin-bottom-multiplier: 0.25em;
  --spectrum-display-1-emphasis-text-size: 45px;
  --spectrum-display-1-emphasis-margin-top: 40px;
  --spectrum-display-1-emphasis-margin-bottom: 11px;
  --spectrum-display-1-strong-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-1-strong-text-font-style: normal;
  --spectrum-display-1-strong-text-font-weight: 900;
  --spectrum-display-1-strong-text-line-height: 1.3;
  --spectrum-display-1-strong-text-letter-spacing: 0;
  --spectrum-display-1-strong-text-transform: none;
  --spectrum-display-1-strong-margin-bottom-multiplier: 0.25em;
  --spectrum-display-1-strong-text-size: 45px;
  --spectrum-display-1-strong-margin-top: 40px;
  --spectrum-display-1-strong-margin-bottom: 11px;
  --spectrum-display-2-emphasis-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-2-emphasis-text-font-style: italic;
  --spectrum-display-2-emphasis-text-font-weight: 700;
  --spectrum-display-2-emphasis-text-line-height: 1.3;
  --spectrum-display-2-emphasis-text-letter-spacing: 0;
  --spectrum-display-2-emphasis-text-transform: none;
  --spectrum-display-2-emphasis-margin-bottom-multiplier: 0.25em;
  --spectrum-display-2-emphasis-text-size: 40px;
  --spectrum-display-2-emphasis-margin-top: 36px;
  --spectrum-display-2-emphasis-margin-bottom: 10px;
  --spectrum-display-2-strong-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-2-strong-text-font-style: normal;
  --spectrum-display-2-strong-text-font-weight: 900;
  --spectrum-display-2-strong-text-line-height: 1.3;
  --spectrum-display-2-strong-text-letter-spacing: 0;
  --spectrum-display-2-strong-text-transform: none;
  --spectrum-display-2-strong-margin-bottom-multiplier: 0.25em;
  --spectrum-display-2-strong-text-size: 40px;
  --spectrum-display-2-strong-margin-top: 36px;
  --spectrum-display-2-strong-margin-bottom: 10px;
  --spectrum-display-quiet-1-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-quiet-1-text-font-style: normal;
  --spectrum-display-quiet-1-text-font-weight: 300;
  --spectrum-display-quiet-1-text-line-height: 1.3;
  --spectrum-display-quiet-1-text-letter-spacing: 0;
  --spectrum-display-quiet-1-text-transform: none;
  --spectrum-display-quiet-1-margin-bottom-multiplier: 0.25em;
  --spectrum-display-quiet-1-text-size: 45px;
  --spectrum-display-quiet-1-margin-top: 40px;
  --spectrum-display-quiet-1-margin-bottom: 11px;
  --spectrum-display-quiet-1-emphasis-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-quiet-1-emphasis-text-font-style: italic;
  --spectrum-display-quiet-1-emphasis-text-font-weight: 300;
  --spectrum-display-quiet-1-emphasis-text-line-height: 1.3;
  --spectrum-display-quiet-1-emphasis-text-letter-spacing: 0;
  --spectrum-display-quiet-1-emphasis-text-transform: none;
  --spectrum-display-quiet-1-emphasis-margin-bottom-multiplier: 0.25em;
  --spectrum-display-quiet-1-emphasis-text-size: 45px;
  --spectrum-display-quiet-1-emphasis-margin-top: 40px;
  --spectrum-display-quiet-1-emphasis-margin-bottom: 11px;
  --spectrum-display-quiet-1-strong-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-quiet-1-strong-text-font-style: normal;
  --spectrum-display-quiet-1-strong-text-font-weight: 700;
  --spectrum-display-quiet-1-strong-text-line-height: 1.3;
  --spectrum-display-quiet-1-strong-text-letter-spacing: 0;
  --spectrum-display-quiet-1-strong-text-transform: none;
  --spectrum-display-quiet-1-strong-margin-bottom-multiplier: 0.25em;
  --spectrum-display-quiet-1-strong-text-size: 45px;
  --spectrum-display-quiet-1-strong-margin-top: 40px;
  --spectrum-display-quiet-1-strong-margin-bottom: 11px;
  --spectrum-display-quiet-2-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-quiet-2-text-font-style: normal;
  --spectrum-display-quiet-2-text-font-weight: 300;
  --spectrum-display-quiet-2-text-line-height: 1.3;
  --spectrum-display-quiet-2-text-letter-spacing: 0;
  --spectrum-display-quiet-2-text-transform: none;
  --spectrum-display-quiet-2-margin-bottom-multiplier: 0.25em;
  --spectrum-display-quiet-2-text-size: 40px;
  --spectrum-display-quiet-2-margin-top: 36px;
  --spectrum-display-quiet-2-margin-bottom: 10px;
  --spectrum-display-quiet-2-emphasis-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-quiet-2-emphasis-text-font-style: italic;
  --spectrum-display-quiet-2-emphasis-text-font-weight: 300;
  --spectrum-display-quiet-2-emphasis-text-line-height: 1.3;
  --spectrum-display-quiet-2-emphasis-text-letter-spacing: 0;
  --spectrum-display-quiet-2-emphasis-text-transform: none;
  --spectrum-display-quiet-2-emphasis-margin-bottom-multiplier: 0.25em;
  --spectrum-display-quiet-2-emphasis-text-size: 40px;
  --spectrum-display-quiet-2-emphasis-margin-top: 36px;
  --spectrum-display-quiet-2-emphasis-margin-bottom: 10px;
  --spectrum-display-quiet-2-strong-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-quiet-2-strong-text-font-style: normal;
  --spectrum-display-quiet-2-strong-text-font-weight: 700;
  --spectrum-display-quiet-2-strong-text-line-height: 1.3;
  --spectrum-display-quiet-2-strong-text-letter-spacing: 0;
  --spectrum-display-quiet-2-strong-text-transform: none;
  --spectrum-display-quiet-2-strong-margin-bottom-multiplier: 0.25em;
  --spectrum-display-quiet-2-strong-text-size: 40px;
  --spectrum-display-quiet-2-strong-margin-top: 36px;
  --spectrum-display-quiet-2-strong-margin-bottom: 10px;
  --spectrum-display-strong-1-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-strong-1-text-font-style: normal;
  --spectrum-display-strong-1-text-font-weight: 900;
  --spectrum-display-strong-1-text-line-height: 1.3;
  --spectrum-display-strong-1-text-letter-spacing: 0;
  --spectrum-display-strong-1-text-transform: none;
  --spectrum-display-strong-1-margin-bottom-multiplier: 0.25em;
  --spectrum-display-strong-1-text-size: 45px;
  --spectrum-display-strong-1-margin-top: 40px;
  --spectrum-display-strong-1-margin-bottom: 11px;
  --spectrum-display-strong-1-emphasis-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-strong-1-emphasis-text-font-style: italic;
  --spectrum-display-strong-1-emphasis-text-font-weight: 900;
  --spectrum-display-strong-1-emphasis-text-line-height: 1.3;
  --spectrum-display-strong-1-emphasis-text-letter-spacing: 0;
  --spectrum-display-strong-1-emphasis-text-transform: none;
  --spectrum-display-strong-1-emphasis-margin-bottom-multiplier: 0.25em;
  --spectrum-display-strong-1-emphasis-text-size: 45px;
  --spectrum-display-strong-1-emphasis-margin-top: 40px;
  --spectrum-display-strong-1-emphasis-margin-bottom: 11px;
  --spectrum-display-strong-1-strong-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-strong-1-strong-text-font-style: normal;
  --spectrum-display-strong-1-strong-text-font-weight: 900;
  --spectrum-display-strong-1-strong-text-line-height: 1.3;
  --spectrum-display-strong-1-strong-text-letter-spacing: 0;
  --spectrum-display-strong-1-strong-text-transform: none;
  --spectrum-display-strong-1-strong-margin-bottom-multiplier: 0.25em;
  --spectrum-display-strong-1-strong-text-size: 45px;
  --spectrum-display-strong-1-strong-margin-top: 40px;
  --spectrum-display-strong-1-strong-margin-bottom: 11px;
  --spectrum-display-strong-2-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-strong-2-text-font-style: normal;
  --spectrum-display-strong-2-text-font-weight: 900;
  --spectrum-display-strong-2-text-line-height: 1.3;
  --spectrum-display-strong-2-text-letter-spacing: 0;
  --spectrum-display-strong-2-text-transform: none;
  --spectrum-display-strong-2-margin-bottom-multiplier: 0.25em;
  --spectrum-display-strong-2-text-size: 40px;
  --spectrum-display-strong-2-margin-top: 36px;
  --spectrum-display-strong-2-margin-bottom: 10px;
  --spectrum-display-strong-2-emphasis-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-strong-2-emphasis-text-font-style: italic;
  --spectrum-display-strong-2-emphasis-text-font-weight: 900;
  --spectrum-display-strong-2-emphasis-text-line-height: 1.3;
  --spectrum-display-strong-2-emphasis-text-letter-spacing: 0;
  --spectrum-display-strong-2-emphasis-text-transform: none;
  --spectrum-display-strong-2-emphasis-margin-bottom-multiplier: 0.25em;
  --spectrum-display-strong-2-emphasis-text-size: 40px;
  --spectrum-display-strong-2-emphasis-margin-top: 36px;
  --spectrum-display-strong-2-emphasis-margin-bottom: 10px;
  --spectrum-display-strong-2-strong-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-strong-2-strong-text-font-style: normal;
  --spectrum-display-strong-2-strong-text-font-weight: 900;
  --spectrum-display-strong-2-strong-text-line-height: 1.3;
  --spectrum-display-strong-2-strong-text-letter-spacing: 0;
  --spectrum-display-strong-2-strong-text-transform: none;
  --spectrum-display-strong-2-strong-margin-bottom-multiplier: 0.25em;
  --spectrum-display-strong-2-strong-text-size: 40px;
  --spectrum-display-strong-2-strong-margin-top: 36px;
  --spectrum-display-strong-2-strong-margin-bottom: 10px;
  --spectrum-display-han-1-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-han-1-text-font-style: normal;
  --spectrum-display-han-1-text-font-weight: 700;
  --spectrum-display-han-1-text-line-height: 1.5;
  --spectrum-display-han-1-text-letter-spacing: 0.05em;
  --spectrum-display-han-1-text-transform: none;
  --spectrum-display-han-1-margin-bottom-multiplier: 0.25em;
  --spectrum-display-han-1-text-size: 40px;
  --spectrum-display-han-1-margin-top: 36px;
  --spectrum-display-han-1-margin-bottom: 10px;
  --spectrum-display-han-1-emphasis-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-han-1-emphasis-text-font-style: normal;
  --spectrum-display-han-1-emphasis-text-font-weight: 800;
  --spectrum-display-han-1-emphasis-text-line-height: 1.5;
  --spectrum-display-han-1-emphasis-text-letter-spacing: 0.05em;
  --spectrum-display-han-1-emphasis-text-transform: none;
  --spectrum-display-han-1-emphasis-margin-bottom-multiplier: 0.25em;
  --spectrum-display-han-1-emphasis-text-size: 40px;
  --spectrum-display-han-1-emphasis-margin-top: 36px;
  --spectrum-display-han-1-emphasis-margin-bottom: 10px;
  --spectrum-display-han-1-strong-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-han-1-strong-text-font-style: normal;
  --spectrum-display-han-1-strong-text-font-weight: 900;
  --spectrum-display-han-1-strong-text-line-height: 1.5;
  --spectrum-display-han-1-strong-text-letter-spacing: 0.05em;
  --spectrum-display-han-1-strong-text-transform: none;
  --spectrum-display-han-1-strong-margin-bottom-multiplier: 0.25em;
  --spectrum-display-han-1-strong-text-size: 40px;
  --spectrum-display-han-1-strong-margin-top: 36px;
  --spectrum-display-han-1-strong-margin-bottom: 10px;
  --spectrum-display-han-2-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-han-2-text-font-style: normal;
  --spectrum-display-han-2-text-font-weight: 700;
  --spectrum-display-han-2-text-line-height: 1.5;
  --spectrum-display-han-2-text-letter-spacing: 0.05em;
  --spectrum-display-han-2-text-transform: none;
  --spectrum-display-han-2-margin-bottom-multiplier: 0.25em;
  --spectrum-display-han-2-text-size: 36px;
  --spectrum-display-han-2-margin-top: 32px;
  --spectrum-display-han-2-margin-bottom: 9px;
  --spectrum-display-han-2-emphasis-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-han-2-emphasis-text-font-style: normal;
  --spectrum-display-han-2-emphasis-text-font-weight: 800;
  --spectrum-display-han-2-emphasis-text-line-height: 1.5;
  --spectrum-display-han-2-emphasis-text-letter-spacing: 0.05em;
  --spectrum-display-han-2-emphasis-text-transform: none;
  --spectrum-display-han-2-emphasis-margin-bottom-multiplier: 0.25em;
  --spectrum-display-han-2-emphasis-text-size: 36px;
  --spectrum-display-han-2-emphasis-margin-top: 32px;
  --spectrum-display-han-2-emphasis-margin-bottom: 9px;
  --spectrum-display-han-2-strong-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-han-2-strong-text-font-style: normal;
  --spectrum-display-han-2-strong-text-font-weight: 900;
  --spectrum-display-han-2-strong-text-line-height: 1.5;
  --spectrum-display-han-2-strong-text-letter-spacing: 0.05em;
  --spectrum-display-han-2-strong-text-transform: none;
  --spectrum-display-han-2-strong-margin-bottom-multiplier: 0.25em;
  --spectrum-display-han-2-strong-text-size: 36px;
  --spectrum-display-han-2-strong-margin-top: 32px;
  --spectrum-display-han-2-strong-margin-bottom: 9px;
  --spectrum-display-quiet-han-1-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-quiet-han-1-text-font-style: normal;
  --spectrum-display-quiet-han-1-text-font-weight: 300;
  --spectrum-display-quiet-han-1-text-line-height: 1.5;
  --spectrum-display-quiet-han-1-text-letter-spacing: 0.05em;
  --spectrum-display-quiet-han-1-text-transform: none;
  --spectrum-display-quiet-han-1-margin-bottom-multiplier: 0.25em;
  --spectrum-display-quiet-han-1-text-size: 40px;
  --spectrum-display-quiet-han-1-margin-top: 36px;
  --spectrum-display-quiet-han-1-margin-bottom: 10px;
  --spectrum-display-quiet-han-1-emphasis-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-quiet-han-1-emphasis-text-font-style: normal;
  --spectrum-display-quiet-han-1-emphasis-text-font-weight: 400;
  --spectrum-display-quiet-han-1-emphasis-text-line-height: 1.5;
  --spectrum-display-quiet-han-1-emphasis-text-letter-spacing: 0.05em;
  --spectrum-display-quiet-han-1-emphasis-text-transform: none;
  --spectrum-display-quiet-han-1-emphasis-margin-bottom-multiplier: 0.25em;
  --spectrum-display-quiet-han-1-emphasis-text-size: 40px;
  --spectrum-display-quiet-han-1-emphasis-margin-top: 36px;
  --spectrum-display-quiet-han-1-emphasis-margin-bottom: 10px;
  --spectrum-display-quiet-han-1-strong-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-quiet-han-1-strong-text-font-style: normal;
  --spectrum-display-quiet-han-1-strong-text-font-weight: 700;
  --spectrum-display-quiet-han-1-strong-text-line-height: 1.5;
  --spectrum-display-quiet-han-1-strong-text-letter-spacing: 0.05em;
  --spectrum-display-quiet-han-1-strong-text-transform: none;
  --spectrum-display-quiet-han-1-strong-margin-bottom-multiplier: 0.25em;
  --spectrum-display-quiet-han-1-strong-text-size: 40px;
  --spectrum-display-quiet-han-1-strong-margin-top: 36px;
  --spectrum-display-quiet-han-1-strong-margin-bottom: 10px;
  --spectrum-display-quiet-han-2-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-quiet-han-2-text-font-style: normal;
  --spectrum-display-quiet-han-2-text-font-weight: 300;
  --spectrum-display-quiet-han-2-text-line-height: 1.5;
  --spectrum-display-quiet-han-2-text-letter-spacing: 0.05em;
  --spectrum-display-quiet-han-2-text-transform: none;
  --spectrum-display-quiet-han-2-margin-bottom-multiplier: 0.25em;
  --spectrum-display-quiet-han-2-text-size: 36px;
  --spectrum-display-quiet-han-2-margin-top: 32px;
  --spectrum-display-quiet-han-2-margin-bottom: 9px;
  --spectrum-display-quiet-han-2-emphasis-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-quiet-han-2-emphasis-text-font-style: normal;
  --spectrum-display-quiet-han-2-emphasis-text-font-weight: 400;
  --spectrum-display-quiet-han-2-emphasis-text-line-height: 1.5;
  --spectrum-display-quiet-han-2-emphasis-text-letter-spacing: 0.05em;
  --spectrum-display-quiet-han-2-emphasis-text-transform: none;
  --spectrum-display-quiet-han-2-emphasis-margin-bottom-multiplier: 0.25em;
  --spectrum-display-quiet-han-2-emphasis-text-size: 36px;
  --spectrum-display-quiet-han-2-emphasis-margin-top: 32px;
  --spectrum-display-quiet-han-2-emphasis-margin-bottom: 9px;
  --spectrum-display-quiet-han-2-strong-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-quiet-han-2-strong-text-font-style: normal;
  --spectrum-display-quiet-han-2-strong-text-font-weight: 700;
  --spectrum-display-quiet-han-2-strong-text-line-height: 1.5;
  --spectrum-display-quiet-han-2-strong-text-letter-spacing: 0.05em;
  --spectrum-display-quiet-han-2-strong-text-transform: none;
  --spectrum-display-quiet-han-2-strong-margin-bottom-multiplier: 0.25em;
  --spectrum-display-quiet-han-2-strong-text-size: 36px;
  --spectrum-display-quiet-han-2-strong-margin-top: 32px;
  --spectrum-display-quiet-han-2-strong-margin-bottom: 9px;
  --spectrum-display-strong-han-1-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-strong-han-1-text-font-style: normal;
  --spectrum-display-strong-han-1-text-font-weight: 900;
  --spectrum-display-strong-han-1-text-line-height: 1.5;
  --spectrum-display-strong-han-1-text-letter-spacing: 0.05em;
  --spectrum-display-strong-han-1-text-transform: none;
  --spectrum-display-strong-han-1-margin-bottom-multiplier: 0.25em;
  --spectrum-display-strong-han-1-text-size: 40px;
  --spectrum-display-strong-han-1-margin-top: 36px;
  --spectrum-display-strong-han-1-margin-bottom: 10px;
  --spectrum-display-strong-han-1-emphasis-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-strong-han-1-emphasis-text-font-style: normal;
  --spectrum-display-strong-han-1-emphasis-text-font-weight: 900;
  --spectrum-display-strong-han-1-emphasis-text-line-height: 1.5;
  --spectrum-display-strong-han-1-emphasis-text-letter-spacing: 0.05em;
  --spectrum-display-strong-han-1-emphasis-text-transform: none;
  --spectrum-display-strong-han-1-emphasis-margin-bottom-multiplier: 0.25em;
  --spectrum-display-strong-han-1-emphasis-text-size: 40px;
  --spectrum-display-strong-han-1-emphasis-margin-top: 36px;
  --spectrum-display-strong-han-1-emphasis-margin-bottom: 10px;
  --spectrum-display-strong-han-1-strong-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-strong-han-1-strong-text-font-style: normal;
  --spectrum-display-strong-han-1-strong-text-font-weight: 900;
  --spectrum-display-strong-han-1-strong-text-line-height: 1.5;
  --spectrum-display-strong-han-1-strong-text-letter-spacing: 0.05em;
  --spectrum-display-strong-han-1-strong-text-transform: none;
  --spectrum-display-strong-han-1-strong-margin-bottom-multiplier: 0.25em;
  --spectrum-display-strong-han-1-strong-text-size: 40px;
  --spectrum-display-strong-han-1-strong-margin-top: 36px;
  --spectrum-display-strong-han-1-strong-margin-bottom: 10px;
  --spectrum-display-strong-han-2-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-strong-han-2-text-font-style: normal;
  --spectrum-display-strong-han-2-text-font-weight: 900;
  --spectrum-display-strong-han-2-text-line-height: 1.5;
  --spectrum-display-strong-han-2-text-letter-spacing: 0.05em;
  --spectrum-display-strong-han-2-text-transform: none;
  --spectrum-display-strong-han-2-margin-bottom-multiplier: 0.25em;
  --spectrum-display-strong-han-2-text-size: 36px;
  --spectrum-display-strong-han-2-margin-top: 32px;
  --spectrum-display-strong-han-2-margin-bottom: 9px;
  --spectrum-display-strong-han-2-emphasis-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-strong-han-2-emphasis-text-font-style: normal;
  --spectrum-display-strong-han-2-emphasis-text-font-weight: 900;
  --spectrum-display-strong-han-2-emphasis-text-line-height: 1.5;
  --spectrum-display-strong-han-2-emphasis-text-letter-spacing: 0.05em;
  --spectrum-display-strong-han-2-emphasis-text-transform: none;
  --spectrum-display-strong-han-2-emphasis-margin-bottom-multiplier: 0.25em;
  --spectrum-display-strong-han-2-emphasis-text-size: 36px;
  --spectrum-display-strong-han-2-emphasis-margin-top: 32px;
  --spectrum-display-strong-han-2-emphasis-margin-bottom: 9px;
  --spectrum-display-strong-han-2-strong-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-display-strong-han-2-strong-text-font-style: normal;
  --spectrum-display-strong-han-2-strong-text-font-weight: 900;
  --spectrum-display-strong-han-2-strong-text-line-height: 1.5;
  --spectrum-display-strong-han-2-strong-text-letter-spacing: 0.05em;
  --spectrum-display-strong-han-2-strong-text-transform: none;
  --spectrum-display-strong-han-2-strong-margin-bottom-multiplier: 0.25em;
  --spectrum-display-strong-han-2-strong-text-size: 36px;
  --spectrum-display-strong-han-2-strong-margin-top: 32px;
  --spectrum-display-strong-han-2-strong-margin-bottom: 9px;
}
