:root {
  --spectrum-icon-alert-medium-width: 18px;
  --spectrum-icon-alert-medium-height: 18px;
  --spectrum-icon-alert-small-width: 14px;
  --spectrum-icon-alert-small-height: 14px;
  --spectrum-icon-arrow-down-small-width: 8px;
  --spectrum-icon-arrow-down-small-height: 10px;
  --spectrum-icon-arrow-left-medium-width: 14px;
  --spectrum-icon-arrow-left-medium-height: 10px;
  --spectrum-icon-checkmark-medium-width: 12px;
  --spectrum-icon-checkmark-medium-height: 12px;
  --spectrum-icon-checkmark-small-width: 10px;
  --spectrum-icon-checkmark-small-height: 10px;
  --spectrum-icon-chevron-down-medium-width: 10px;
  --spectrum-icon-chevron-down-medium-height: 6px;
  --spectrum-icon-chevron-down-small-width: 8px;
  --spectrum-icon-chevron-down-small-height: 6px;
  --spectrum-icon-chevron-left-large-width: 12px;
  --spectrum-icon-chevron-left-large-height: 16px;
  --spectrum-icon-chevron-left-medium-width: 6px;
  --spectrum-icon-chevron-left-medium-height: 10px;
  --spectrum-icon-chevron-right-large-width: 12px;
  --spectrum-icon-chevron-right-large-height: 16px;
  --spectrum-icon-chevron-right-medium-width: 6px;
  --spectrum-icon-chevron-right-medium-height: 10px;
  --spectrum-icon-chevron-right-small-width: 6px;
  --spectrum-icon-chevron-right-small-height: 8px;
  --spectrum-icon-chevron-up-small-width: 8px;
  --spectrum-icon-chevron-up-small-height: 6px;
  --spectrum-icon-cornertriangle-width: 5px;
  --spectrum-icon-cornertriangle-height: 5px;
  --spectrum-icon-cross-large-width: 12px;
  --spectrum-icon-cross-large-height: 12px;
  --spectrum-icon-cross-medium-width: 8px;
  --spectrum-icon-cross-medium-height: 8px;
  --spectrum-icon-cross-small-width: 8px;
  --spectrum-icon-cross-small-height: 8px;
  --spectrum-icon-dash-small-width: 10px;
  --spectrum-icon-dash-small-height: 10px;
  --spectrum-icon-doublegripper-width: 16px;
  --spectrum-icon-doublegripper-height: 4px;
  --spectrum-icon-info-medium-width: 18px;
  --spectrum-icon-info-medium-height: 18px;
  --spectrum-icon-info-small-width: 14px;
  --spectrum-icon-info-small-height: 14px;
  --spectrum-icon-magnifier-width: 16px;
  --spectrum-icon-magnifier-height: 16px;
  --spectrum-icon-skip-left-width: 9px;
  --spectrum-icon-skip-left-height: 10px;
  --spectrum-icon-skip-right-width: 9px;
  --spectrum-icon-skip-right-height: 10px;
  --spectrum-icon-star-width: 18px;
  --spectrum-icon-star-height: 18px;
  --spectrum-icon-star-outline-width: 18px;
  --spectrum-icon-star-outline-height: 18px;
  --spectrum-icon-success-medium-width: 18px;
  --spectrum-icon-success-medium-height: 18px;
  --spectrum-icon-success-small-width: 14px;
  --spectrum-icon-success-small-height: 14px;
  --spectrum-icon-triplegripper-width: 10px;
  --spectrum-icon-triplegripper-height: 7px;
}
