:root {
  --spectrum-miller-column-item-height: 40px;
  --spectrum-miller-column-ui-icon-width: 6px;
  --spectrum-miller-column-ui-icon-height: 10px;
  --spectrum-miller-column-thumbnail-width: 24px;
  --spectrum-miller-column-thumbnail-height: 24px;
  --spectrum-miller-column-thumbnail-margin-left: 8px;
  --spectrum-miller-column-item-label-padding-left: 8px;
  --spectrum-miller-column-item-margin-bottom: 4px;
  --spectrum-miller-column-width: 272px;
  --spectrum-miller-column-item-border-radius: 4px;
  --spectrum-miller-column-item-padding-left: 16px;
  --spectrum-miller-column-item-padding-right: 16px;
}
