:root {
  --spectrum-rule-large-height: 4px;
  --spectrum-rule-large-border-radius: 2px;
  --spectrum-rule-medium-height: 2px;
  --spectrum-rule-medium-border-radius: 1px;
  --spectrum-rule-small-height: 1px;
  --spectrum-rule-small-border-radius: 1px;
}
