:root {
  --spectrum-search-placeholder-text-font-style: italic;
  --spectrum-search-placeholder-text-font-weight: 400;
  --spectrum-search-placeholder-text-size: 14px;
  --spectrum-search-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-search-text-font-style: normal;
  --spectrum-search-text-font-weight: 400;
  --spectrum-search-text-line-height: 1.5;
  --spectrum-search-text-letter-spacing: 0;
  --spectrum-search-text-transform: none;
  --spectrum-search-text-size: 14px;
  --spectrum-search-height: 32px;
  --spectrum-search-min-width: 72px;
  --spectrum-search-padding-x: 12px;
  --spectrum-search-padding-top: 6px;
  --spectrum-search-padding-bottom: 9px;
  --spectrum-search-border-radius: 4px;
  --spectrum-search-label-gap-x: 8px;
  --spectrum-search-label-gap-y: 8px;
  --spectrum-search-label-padding-top: 8px;
  --spectrum-search-label-padding-bottom: 12px;
  --spectrum-search-counter-gap: 8px;
  --spectrum-search-asterisk-size: 8px;
  --spectrum-search-asterisk-gap: 4px;
  --spectrum-search-icon-size: 18px;
  --spectrum-search-success-icon-height: 12px;
  --spectrum-search-success-icon-width: 12px;
  --spectrum-search-error-icon-height: 18px;
  --spectrum-search-error-icon-width: 18px;
  --spectrum-search-touch-hit-x: 8px;
  --spectrum-search-touch-hit-y: 8px;
  --spectrum-search-text-baseline: 12px;
  --spectrum-search-icon-frame: 32px;
  --spectrum-search-cursor-hit-x: 4px;
  --spectrum-search-icon-margin-left: 12px;
  --spectrum-search-padding-left: 36px;
  --spectrum-search-padding-right: 28px;
  --spectrum-search-icon-width: 16px;
  --spectrum-search-icon-height: 16px;
  --spectrum-search-border-size: 1px;
  --spectrum-search-border-size-key-focus: 2px;
  --spectrum-search-border-size-mouse-focus: 1px;
  --spectrum-search-quiet-placeholder-text-font-style: italic;
  --spectrum-search-quiet-placeholder-text-font-weight: 400;
  --spectrum-search-quiet-placeholder-text-size: 14px;
  --spectrum-search-quiet-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-search-quiet-text-font-style: normal;
  --spectrum-search-quiet-text-font-weight: 400;
  --spectrum-search-quiet-text-line-height: 1.5;
  --spectrum-search-quiet-text-letter-spacing: 0;
  --spectrum-search-quiet-text-transform: none;
  --spectrum-search-quiet-text-size: 14px;
  --spectrum-search-quiet-height: 32px;
  --spectrum-search-quiet-min-width: 72px;
  --spectrum-search-quiet-padding-x: 0;
  --spectrum-search-quiet-padding-top: 6px;
  --spectrum-search-quiet-padding-bottom: 9px;
  --spectrum-search-quiet-border-radius: 0px;
  --spectrum-search-quiet-label-gap-x: 12px;
  --spectrum-search-quiet-label-gap-y: 0;
  --spectrum-search-quiet-label-padding-top: 8px;
  --spectrum-search-quiet-label-padding-bottom: 12px;
  --spectrum-search-quiet-counter-gap: 8px;
  --spectrum-search-quiet-asterisk-size: 8px;
  --spectrum-search-quiet-asterisk-gap: 4px;
  --spectrum-search-quiet-icon-size: 18px;
  --spectrum-search-quiet-success-icon-height: 12px;
  --spectrum-search-quiet-success-icon-width: 12px;
  --spectrum-search-quiet-error-icon-height: 18px;
  --spectrum-search-quiet-error-icon-width: 18px;
  --spectrum-search-quiet-touch-hit-x: 8px;
  --spectrum-search-quiet-touch-hit-y: 8px;
  --spectrum-search-quiet-text-baseline: 12px;
  --spectrum-search-quiet-icon-frame: 32px;
  --spectrum-search-quiet-cursor-hit-x: 4px;
  --spectrum-search-quiet-icon-margin-left: 12px;
  --spectrum-search-quiet-border-size: 1px;
  --spectrum-search-quiet-affixed-border-size: 1px;
  --spectrum-search-quiet-padding-left: 24px;
  --spectrum-search-quiet-padding-right: 20px;
  --spectrum-search-quiet-border-size-key-focus: 2px;
  --spectrum-search-quiet-border-size-mouse-focus: 1px;
}
