:root {
  --spectrum-selectlist-divider-size: 2px;
  --spectrum-selectlist-divider-padding: 3px;
  --spectrum-selectlist-option-text-size: 14px;
  --spectrum-selectlist-option-padding: 12px;
  --spectrum-selectlist-option-padding-y: 7px;
  --spectrum-selectlist-option-icon-height: 12px;
  --spectrum-selectlist-option-icon-width: 12px;
  --spectrum-selectlist-option-text-font-weight: 400;
  --spectrum-selectlist-option-text-font-style: normal;
  --spectrum-selectlist-option-focus-border-size: 2px;
  --spectrum-selectlist-padding-left: 12px;
  --spectrum-selectlist-padding-right: 36px;
  --spectrum-selectlist-option-icon-padding-x: 12px;
  --spectrum-selectlist-option-icon-padding-y: 10px;
  --spectrum-selectlist-option-icon-margin-top: 5px;
  --spectrum-selectlist-option-height: 32px;
  --spectrum-selectlist-option-baseline: 12px;
  --spectrum-selectlist-option-icon-size: 12px;
  --spectrum-selectlist-border-size-key-focus: 2px;
  --spectrum-selectlist-option-border-size-key-focus: 2px;
  --spectrum-selectlist-thumbnail-divider-size: 2px;
  --spectrum-selectlist-thumbnail-divider-padding: 3px;
  --spectrum-selectlist-thumbnail-option-text-size: 14px;
  --spectrum-selectlist-thumbnail-option-padding: 12px;
  --spectrum-selectlist-thumbnail-option-icon-height: 12px;
  --spectrum-selectlist-thumbnail-option-icon-width: 12px;
  --spectrum-selectlist-thumbnail-option-text-font-weight: 400;
  --spectrum-selectlist-thumbnail-option-text-font-style: normal;
  --spectrum-selectlist-thumbnail-option-focus-border-size: 2px;
  --spectrum-selectlist-thumbnail-padding-left: 12px;
  --spectrum-selectlist-thumbnail-padding-right: 36px;
  --spectrum-selectlist-thumbnail-option-icon-padding-x: 12px;
  --spectrum-selectlist-thumbnail-option-icon-padding-y: 10px;
  --spectrum-selectlist-thumbnail-option-height: 48px;
  --spectrum-selectlist-thumbnail-option-baseline: 12px;
  --spectrum-selectlist-thumbnail-option-icon-size: 12px;
  --spectrum-selectlist-thumbnail-image-padding-x: 8px;
  --spectrum-selectlist-thumbnail-image-height: 40px;
  --spectrum-selectlist-thumbnail-image-width: 40px;
  --spectrum-selectlist-thumbnail-image-border-radius: 2px;
  --spectrum-selectlist-thumbnail-image-border-size: 1px;
  --spectrum-selectlist-thumbnail-border-size-key-focus: 2px;
  --spectrum-selectlist-thumbnail-option-border-size-key-focus: 2px;
  --spectrum-selectlist-thumbnail-small-divider-size: 2px;
  --spectrum-selectlist-thumbnail-small-divider-padding: 3px;
  --spectrum-selectlist-thumbnail-small-option-text-size: 14px;
  --spectrum-selectlist-thumbnail-small-option-padding: 12px;
  --spectrum-selectlist-thumbnail-small-option-icon-height: 12px;
  --spectrum-selectlist-thumbnail-small-option-icon-width: 12px;
  --spectrum-selectlist-thumbnail-small-option-text-font-weight: 400;
  --spectrum-selectlist-thumbnail-small-option-text-font-style: normal;
  --spectrum-selectlist-thumbnail-small-option-focus-border-size: 2px;
  --spectrum-selectlist-thumbnail-small-padding-left: 12px;
  --spectrum-selectlist-thumbnail-small-padding-right: 36px;
  --spectrum-selectlist-thumbnail-small-option-icon-padding-x: 12px;
  --spectrum-selectlist-thumbnail-small-option-icon-padding-y: 10px;
  --spectrum-selectlist-thumbnail-small-option-height: 48px;
  --spectrum-selectlist-thumbnail-small-option-baseline: 12px;
  --spectrum-selectlist-thumbnail-small-option-icon-size: 12px;
  --spectrum-selectlist-thumbnail-small-image-padding-x: 8px;
  --spectrum-selectlist-thumbnail-small-image-height: 18px;
  --spectrum-selectlist-thumbnail-small-image-width: 18px;
  --spectrum-selectlist-thumbnail-small-image-border-radius: 2px;
  --spectrum-selectlist-thumbnail-small-image-border-size: 1px;
  --spectrum-selectlist-thumbnail-small-border-size-key-focus: 2px;
  --spectrum-selectlist-thumbnail-small-option-border-size-key-focus: 2px;
}
