:root {
  --spectrum-subheading-article-text-font-family: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
  --spectrum-subheading-article-text-font-style: normal;
  --spectrum-subheading-article-text-font-weight: 700;
  --spectrum-subheading-article-text-line-height: 1.3;
  --spectrum-subheading-article-text-letter-spacing: 0.0125em;
  --spectrum-subheading-article-text-transform: none;
  --spectrum-subheading-article-margin-bottom-multiplier: 0.25em;
  --spectrum-subheading-article-text-size: 11px;
  --spectrum-subheading-article-margin-top: 12px;
  --spectrum-subheading-article-margin-bottom: 3px;
  --spectrum-subheading-article-emphasis-text-font-family: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
  --spectrum-subheading-article-emphasis-text-font-style: italic;
  --spectrum-subheading-article-emphasis-text-font-weight: 700;
  --spectrum-subheading-article-emphasis-text-line-height: 1.3;
  --spectrum-subheading-article-emphasis-text-letter-spacing: 0.0125em;
  --spectrum-subheading-article-emphasis-text-transform: none;
  --spectrum-subheading-article-emphasis-margin-bottom-multiplier: 0.25em;
  --spectrum-subheading-article-emphasis-text-size: 11px;
  --spectrum-subheading-article-emphasis-margin-top: 12px;
  --spectrum-subheading-article-emphasis-margin-bottom: 3px;
  --spectrum-subheading-article-strong-text-font-family: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
  --spectrum-subheading-article-strong-text-font-style: normal;
  --spectrum-subheading-article-strong-text-font-weight: 900;
  --spectrum-subheading-article-strong-text-line-height: 1.3;
  --spectrum-subheading-article-strong-text-letter-spacing: 0.0125em;
  --spectrum-subheading-article-strong-text-transform: none;
  --spectrum-subheading-article-strong-margin-bottom-multiplier: 0.25em;
  --spectrum-subheading-article-strong-text-size: 11px;
  --spectrum-subheading-article-strong-margin-top: 12px;
  --spectrum-subheading-article-strong-margin-bottom: 3px;
  --spectrum-subheading-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-subheading-text-font-style: normal;
  --spectrum-subheading-text-font-weight: 700;
  --spectrum-subheading-text-line-height: 1.3;
  --spectrum-subheading-text-letter-spacing: 0.06em;
  --spectrum-subheading-text-transform: uppercase;
  --spectrum-subheading-margin-bottom-multiplier: 0.25em;
  --spectrum-subheading-text-size: 11px;
  --spectrum-subheading-margin-top: 12px;
  --spectrum-subheading-margin-bottom: 3px;
  --spectrum-subheading-emphasis-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-subheading-emphasis-text-font-style: italic;
  --spectrum-subheading-emphasis-text-font-weight: 700;
  --spectrum-subheading-emphasis-text-line-height: 1.3;
  --spectrum-subheading-emphasis-text-letter-spacing: 0.06em;
  --spectrum-subheading-emphasis-text-transform: uppercase;
  --spectrum-subheading-emphasis-margin-bottom-multiplier: 0.25em;
  --spectrum-subheading-emphasis-text-size: 11px;
  --spectrum-subheading-emphasis-margin-top: 12px;
  --spectrum-subheading-emphasis-margin-bottom: 3px;
  --spectrum-subheading-strong-text-font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-subheading-strong-text-font-style: normal;
  --spectrum-subheading-strong-text-font-weight: 900;
  --spectrum-subheading-strong-text-line-height: 1.3;
  --spectrum-subheading-strong-text-letter-spacing: 0.06em;
  --spectrum-subheading-strong-text-transform: uppercase;
  --spectrum-subheading-strong-margin-bottom-multiplier: 0.25em;
  --spectrum-subheading-strong-text-size: 11px;
  --spectrum-subheading-strong-margin-top: 12px;
  --spectrum-subheading-strong-margin-bottom: 3px;
  --spectrum-subheading-han-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-subheading-han-text-font-style: normal;
  --spectrum-subheading-han-text-font-weight: 700;
  --spectrum-subheading-han-text-line-height: 1.5;
  --spectrum-subheading-han-text-letter-spacing: 0.05em;
  --spectrum-subheading-han-text-transform: none;
  --spectrum-subheading-han-margin-bottom-multiplier: 0.25em;
  --spectrum-subheading-han-text-size: 11px;
  --spectrum-subheading-han-margin-top: 12px;
  --spectrum-subheading-han-margin-bottom: 3px;
  --spectrum-subheading-han-emphasis-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-subheading-han-emphasis-text-font-style: normal;
  --spectrum-subheading-han-emphasis-text-font-weight: 800;
  --spectrum-subheading-han-emphasis-text-line-height: 1.5;
  --spectrum-subheading-han-emphasis-text-letter-spacing: 0.05em;
  --spectrum-subheading-han-emphasis-text-transform: none;
  --spectrum-subheading-han-emphasis-margin-bottom-multiplier: 0.25em;
  --spectrum-subheading-han-emphasis-text-size: 11px;
  --spectrum-subheading-han-emphasis-margin-top: 12px;
  --spectrum-subheading-han-emphasis-margin-bottom: 3px;
  --spectrum-subheading-han-strong-text-font-family: adobe-clean-han-traditional, source-han-traditional, adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --spectrum-subheading-han-strong-text-font-style: normal;
  --spectrum-subheading-han-strong-text-font-weight: 900;
  --spectrum-subheading-han-strong-text-line-height: 1.5;
  --spectrum-subheading-han-strong-text-letter-spacing: 0.05em;
  --spectrum-subheading-han-strong-text-transform: none;
  --spectrum-subheading-han-strong-margin-bottom-multiplier: 0.25em;
  --spectrum-subheading-han-strong-text-size: 11px;
  --spectrum-subheading-han-strong-margin-top: 12px;
  --spectrum-subheading-han-strong-margin-bottom: 3px;
}
