:root {
  --spectrum-tag-text-size: 12px;
  --spectrum-tag-text-font-weight: 400;
  --spectrum-tag-text-font-style: normal;
  --spectrum-tag-text-baseline: 8px;
  --spectrum-tag-height: 24px;
  --spectrum-tag-icon-height: 8px;
  --spectrum-tag-icon-width: 8px;
  --spectrum-tag-border-radius: 4px;
  --spectrum-tag-border-size: 1px;
  --spectrum-tag-padding-x: 10px;
  --spectrum-tag-avatar-padding-x: 8px;
  --spectrum-tag-icon-padding-x: 8px;
  --spectrum-tag-icon-size: 8px;
  --spectrum-tag-border-size-key-focus: 2px;
  --spectrum-tag-deletable-text-size: 12px;
  --spectrum-tag-deletable-text-font-weight: 400;
  --spectrum-tag-deletable-text-font-style: normal;
  --spectrum-tag-deletable-text-baseline: 8px;
  --spectrum-tag-deletable-height: 24px;
  --spectrum-tag-deletable-icon-height: 8px;
  --spectrum-tag-deletable-icon-width: 8px;
  --spectrum-tag-deletable-border-radius: 4px;
  --spectrum-tag-deletable-border-size: 1px;
  --spectrum-tag-deletable-padding-x: 10px;
  --spectrum-tag-deletable-avatar-padding-x: 8px;
  --spectrum-tag-deletable-icon-padding-x: 8px;
  --spectrum-tag-deletable-icon-size: 8px;
  --spectrum-tag-deletable-border-size-key-focus: 2px;
}
