/**
 * Copyright 2025 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import url("./spectrum-action-group.css");
@import url("./action-group-overrides.css");

:host([size="xs"]) {
    --spectrum-actiongroup-horizontal-spacing-regular: var(--spectrum-spacing-75); /* .spectrum-ActionGroup--sizeS */
    --spectrum-actiongroup-vertical-spacing-regular: var(--spectrum-spacing-75);
}

:host([dir][compact][vertical]) ::slotted(:nth-child(n)) {
    margin-right: 0;
    margin-left: 0;
}

/**
 * The following styles correct realities outlined in https://github.com/adobe/spectrum-web-components/issues/1434
 */

:host([justified]) ::slotted(:not([role])),
:host([vertical]) ::slotted(:not([role])) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

:host([compact]:not([quiet])) ::slotted(:not([role])) {
    /* .spectrum-ActionGroup--compact:not(.spectrum-ActionGroup--quiet) .spectrum-ActionGroup-item */
    --overriden-border-radius: 0;
    --mod-actionbutton-border-radius: var(--overriden-border-radius);
}

:host([compact][vertical]:not([quiet])) ::slotted(:not([role]):first-child) {
    --overriden-border-radius: var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius)) var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius)) 0 0;
}

:host([compact][vertical]:not([quiet])) ::slotted(:not([role]):last-child) {
    --overriden-border-radius: 0 0 var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius)) var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius));
}

:host([compact]:not([quiet], [vertical])) ::slotted(:not([role]):first-child) {
    --overriden-border-radius: var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius)) 0 0 var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius));
}

:host([compact]:not([quiet], [vertical]):dir(rtl)) ::slotted(:not([role]):first-child) {
    --overriden-border-radius: 0 var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius)) var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius)) 0;
}

:host([compact]:not([quiet], [vertical])) ::slotted(:not([role]):last-child) {
    --overriden-border-radius: 0 var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius)) var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius)) 0;
}

:host([compact]:not([quiet], [vertical]):dir(rtl)) ::slotted(:not([role]):last-child) {
    --overriden-border-radius: var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius)) 0 0 var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius));
}

:host([compact]:not([quiet])) ::slotted(*) {
    --mod-actionbutton-focus-ring-border-radius: 0;
}

:host([compact][vertical]:not([quiet])) ::slotted(:first-child) {
    --mod-actionbutton-focus-ring-border-radius: var(--spectrum-alias-component-border-radius) var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius)) 0 0;
}

:host([compact][vertical]:not([quiet])) ::slotted(:last-child) {
    --mod-actionbutton-focus-ring-border-radius: 0 0 var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius)) var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius));
}

:host([compact]:not([quiet], [vertical])) ::slotted(:first-child) {
    --mod-actionbutton-focus-ring-border-radius: var(--spectrum-alias-component-border-radius) 0 0 var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius));
}

:host([compact]:not([quiet], [vertical]):dir(rtl)) ::slotted(:first-child) {
    --mod-actionbutton-focus-ring-border-radius: 0 var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius)) var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius)) 0;
}

:host([compact]:not([quiet], [vertical])) ::slotted(:last-child) {
    --mod-actionbutton-focus-ring-border-radius: 0 var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius)) var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius)) 0;
}

:host([compact]:not([quiet], [vertical]):dir(rtl)) ::slotted(:last-child) {
    --mod-actionbutton-focus-ring-border-radius: var(--spectrum-alias-component-border-radius) 0 0 var(--mod-actiongroup-border-radius, var(--spectrum-actiongroup-border-radius));
}

/** flex-grow: 1; isn't enough to fully justify the action group */
:host([justified]) ::slotted(*) {
    flex: 1 1 0%;
}
